{% load static %}
<div class="header">
  <div class="container">
    <div class="float-left">
      <a href="/">
        <img class="site-logo" src="{% static 'images/prelate_logo.png' %}" alt="Prelate Travels" />
      </a>
    </div>
    <div class="float-right">
      <ul class="nav-links">
        <li><a href="/" class="nav-link">Reservations</a></li>
        <li><a href="{% url 'travel-help' %}" class="nav-link">Travel Help</a></li>
        <li><a href="{% url 'travel-insurance' %}" class="nav-link">Travel Insurance</a></li>
        <li><a href="{% url 'visa-assistance' %}" class="nav-link">Visa</a></li>
        <li><a href="{% url 'tour' %}" class="nav-link">Tour</a></li>
        <li><a href="/" class="nav-link nav-sign-in">View Itinerary</a></li>
        <li><a href="{% url 'become-affiliate' %}" class="nav-link nav-sign-up">Become an Affiliate</a></li>
      </ul>
      <button class="mobile-menu-toggle" onclick="openNav()">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</div>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/" class="nav-link">Reservations</a>
  <a href="{% url 'travel-help' %}" class="nav-link">Travel Help</a>
  <a href="{% url 'travel-insurance' %}" class="nav-link">Travel Insurance</a>
  <a href="{% url 'visa-assistance' %}" class="nav-link">Visa</a>
  <a href="{% url 'tour' %}" class="nav-link">Tour</a>
  <a style="width: 80%; margin: 10px auto;" href="/" class="nav-link nav-sign-in">View Itinerary</a>
  <a style="width: 80%; margin: 10px auto;" href="{% url 'become-affiliate' %}" class="nav-link nav-sign-up">Become an Affiliate</a>
</div>
