{% load static %}
<section class="partners">
  <div class="container">
    <div class="row mt-4 mb-3">
      <div class="col-md-3 col-sm-6 text-center">
        <img class="partners-image" src="{% static 'images/travelport.png' %}" alt="TravelPort" />
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <img class="partners-image" src="{% static 'images/logo_sabre.png' %}" alt="Sabre" />
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <img class="partners-image" src="{% static 'images/tripadvisor.png' %}" alt="TripAdvisor" />
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <img class="partners-image" src="{% static 'images/amadeus.png' %}" alt="Amadeus" />
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <img class="partners-image" src="{% static 'images/Interswitch.png' %}" alt="Interswitch" />
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <img class="partners-image" src="{% static 'images/verified_by_visa.png' %}" alt="Verified By Visa" />
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <img class="partners-image" src="{% static 'images/flutterwave.png' %}" alt="Flutterwave" />
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <img class="partners-image" src="{% static 'images/rupay.png' %}" alt="Rupay" />
      </div>
    </div>
  </div>
</section>
