/* GENERAL START*/
/* Define color variables */
:root {
  --primary-color: #1c2e6a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

a {
  text-decoration-line: none;
  color: var(--primary-color);
}

ul {
  list-style-type: none;
}

select:not([size]) {
  background-image: none !important;
}
input:focus,
select:focus {
  box-shadow: none !important;
}

.button {
  color: white;
  background: var(--primary-color);
  font-weight: 500;
}

.custom_container {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .custom_container {
    width: 95%;
  }
}
/* GENERAL END*/

/* HEADER START*/
header {
  width: 90%;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

header ul {
  display: flex;
}

header li {
  margin-right: 24px;
}

header a {
  color: #000;
  font-size: 15px;
  font-weight: 500;
}
header .button {
  padding: 10px 16px;
  border-radius: 8px;
}

.menu-mobile {
  display: none;
  color: var(--primary-color);
}

.fa-bars {
  font-size: 22px;
}

/* CSS styles for the side drawer component start */
.side-drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0;
  background-color: var(--primary-color);
  overflow-x: hidden;
  transition: 0.1s;
  z-index: 9999;
}

.drawer-content {
  padding-left: 20px;
  padding-top: 30px;
  /* padding: 20px; */
}

.drawer-content .fa-bars {
  color: #fff;
  margin-bottom: 10px;
}

.drawer-content ul li {
  width: 150px;
  border-top: 1px solid #2a4295;
  padding: 15px 0;
}

.drawer-content ul li:first-child {
  border-top: 0px;
}

.drawer-content ul li a,
.drawer-content ul li p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

.sub-menu-first {
  padding-left: 20px !important;
}

.sub-menu-last {
  margin-left: 20px;
  width: 120px !important;
}

.drawer-open {
  width: 90%;
}

/* CSS styles for the side drawer component end */

@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }
  header img {
    width: 50%;
  }

  .menu-desktop {
    display: none;
  }

  .menu-mobile {
    display: block;
  }

  header li {
    margin: 0;
  }
}

/* HEADER END */

/* FOOTER SECTION */
.affiliates_container {
  margin-bottom: 50px;
}

.affiliates_container .inner_wrapper {
  padding-top: 44px;
  border-top: 1px solid #d1d1d15c;
}

.imgs_container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.imgs_container:first-of-type {
  margin-bottom: 10px;
}

.section-footer_banner {
  background: linear-gradient(
    262.75deg,
    var(--primary-color) 17.37%,
    #051139 79.15%
  );
  margin-bottom: 50px;
}
.footer_banner-container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_banner-container .text {
  flex: 1;
  margin-left: 40px;
}

.footer_banner-pr_tr_ap {
  font-size: 42px;
  font-weight: 700;
}

.footer_banner-co_so {
  font-size: 30px;
  font-weight: 700;
  color: #ffc702;
  line-height: 22px;
  margin-bottom: 24px;
}

footer {
  /* width: 90%;
    margin: auto; */
  margin-bottom: 44px;
  color: var(--primary-color);
}

footer nav {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.f-links_wrapper {
  flex: 50%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.f-form_wrapper {
  flex: 30%;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

footer h6 {
  margin-bottom: 16px;
  font-weight: 800;
}

footer a {
  font-size: 14px;
}

/* for specificity sake */
footer input.input {
  display: block;
  color: #9c9c9c;
  font-size: 14px;
  padding: 20px 15px;
  width: 320px;
  margin-bottom: 10px;
  border: 1px solid var(--primary-color);
  font-weight: 500;
  outline: none;
}

footer button {
  padding: 10px 14px;
  border: none;
  outline: none;
  margin-top: 6px;
}

hr.f-border {
  width: 90%;
  margin: auto;
  margin-top: 40px;
  border-top: 2px solid var(--primary-color);
}

.icons_container {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 7px;
  padding-top: 12px;
}
.close-end {
  width: 100%;
  height: 60px;
  background: #1c2e6a;
}
@media screen and (max-width: 768px) {
  .affiliates_container {
    margin-bottom: 30px;
  }

  .affiliates_container img {
    width: 80%;
    /* margin: 0px 20px; */
    margin-left: 5px;
  }

  .section-footer_banner {
    margin-bottom: 20px;
  }
  .section-footer_banner img {
    width: 50%;
  }

  .footer_banner-pr_tr_ap {
    font-size: 18px;
    font-weight: 500;
  }

  .footer_banner-co_so {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
  }
  .footer_banner-container .text {
    margin-left: 10px;
  }

  footer {
    margin-bottom: 0px;
  }
  footer nav {
    width: 100%;
    flex-direction: column-reverse;
  }
  footer h6 {
    font-size: 12px;
    margin-bottom: 0px;
    font-weight: 700;
  }
  footer a {
    font-size: 12px;
  }

  .f-links_wrapper {
    width: 100%;
    background-color: #f1f1f1;
    padding: 40px 20px 120px 20px;
  }

  .f-form_wrapper {
    width: 100%;
    justify-content: flex-start;
    padding: 28px 20px 32px 20px;
  }

  .f-form {
    width: 100%;
  }

  .f-form h6 {
    margin-bottom: 10px;
  }

  .newsletter-input_wr {
    display: flex;
    gap: 5px;
  }

  footer input.input {
    width: 50%;
    padding: 10px 8px 4px;
    font-size: 12px;
    height: 50px;
    font-weight: 500;
    margin-bottom: 0px;
  }

  footer button {
    padding: 6px 10px;
    font-size: 12px;
  }

  hr.f-border {
    display: none;
  }

  .icons_container {
    display: none;
  }
}

/* FOOTER SECTION */

.template {
  font-size: 20px;
  height: 100%;
  padding: 20px 10px;
  color: #1c2e6a;
}
.main-slider {
  display: block;
}
.mobile-slider {
  display: none;
}

.study-services {
  display: block;
}
.mobile-template {
  display: none;
}
.prelate-travels {
  display: block;
}
.reservation-slide {
  display: none;
}

.indicator[aria-current="true"] {
  background: #ffc702 !important;
}

/* SLIDERS */
.slider-1 {
  background: url(/static/images/slider-1.png);
}

.slider-2 {
  background: url(/static/images/slider-2.png);
}

.mobile-slider-1 {
  background: url(/static/images/mobile-slider-1.png);
}
.mobile-slider-2 {
  background: url(/static/images/mobile-slider-2.png);
}
.mobile-slider-3 {
  background: url(/static/images/mobile-slider-3.png);
}
.mobile-slider-4 {
  background: url(/static/images/mobile-slider-4.png);
}
.mobile-slider-5 {
  background: url(/static/images/mobile-slider-5.png);
}
.mobile-slider-6 {
  background: url(/static/images/mobile-slider-6.png);
}
/* SLIDERS */

/* CUSTOM GRADIENTS */
.gradient-blue-mobile-slider {
  background: linear-gradient(
    -90.47deg,
    #1c2e6a 2.95%,
    rgba(28, 46, 106, 0) 100.04%
  );
}

/* .gradient-blue-mobile{
  background: linear-gradient(360deg, #051139 0%, rgba(5, 17, 57, 0) 100%);
} */

.gradient-black {
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
.gradient-blue {
  background: linear-gradient(0deg, #1c2e6a 0%, rgba(0, 0, 0, 0) 100%);
}
/* CUSTOM GRADIENTS */

@media screen and (max-width: 768px) {
  .template {
    padding: 0;
    display: none;
  }
  .main-slider {
    display: none;
  }
  .mobile-slider {
    display: block;
  }
  .mobile-template {
    display: block;
    width: 100%;
  }
  .study-services {
    display: none;
  }
  .prelate-travels {
    display: none;
  }
}

.reservation-hero {
  width: 100%;
  /* height: 697px; */
  background: linear-gradient(180deg, #1c2e6a 0%, rgba(0, 0, 0, 0) 100%);
}

.travel-info-hero {
  background: url(/static/images/slider-3.png);
}

.travel-insurance-hero {
  width: 100%;
  height: 50vh;
  background: url(/static/images/insurance-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
}

.visa-hero {
  background-image: url(/static/images/visa-hero.png);
}

.customize-tour-deals-hero {
  width: 100%;
  background-image: url(/static/images/tour-deals.png);
  background-repeat: no-repeat;
  height: 60vh;
  background-size: cover;
  background-position: bottom;
}

.travel-help-mobile-slider {
  display: none;
}
.travel-info-nav {
  display: block;
}
.travel-info-nav-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .hero-image {
    /* background here */
    height: 80px;
    width: 100%;
    max-width: 429px;
  }
  .visa-hero {
    background-image: url(/static/images/visa-hero-mobile.png);
  }
  .gradient-blue {
    background: linear-gradient(360deg, #051139 0%, rgba(5, 17, 57, 0) 100%);
  }
  .travel-insurance-hero {
    width: 100%;
    height: 149px;
    /* background here */
    background-repeat: no-repeat;
  }

  .reservation-hero {
    display: none;
  }
  .reservation-slide {
    display: block;
    width: 100%;
    height: 80px;
    /* background here */
    opacity: 0.89;
    background-repeat: no-repeat;
  }
  .travel-help-mobile-slider {
    display: block;
    /* background here */
    width: 100%;
    height: 216px;
    background-repeat: no-repeat;
  }
  .travel-info-nav {
    display: none;
  }
  .travel-info-nav-mobile {
    display: block;
  }
}

.post-arrival-hero {
  background: url(/static/images/post-arrival-hero.png);
}

@media screen and (max-width: 768px) {
  .travel-info-mobile-slider {
    width: 100%;
    height: 80px;
    /* background here */
    background-repeat: no-repeat;
    margin-bottom: 10px;
  }

  .post-arrival-hero img {
    width: 308px;
    height: 142px;
    top: unset;
    right: 20px;
    bottom: -50px;
  }
}
.tour-hero-bg {
  background: url(/static/images/tour-hero.png);
}

.tour-hero-header {
  display: block;
}

.card__tour {
  background: url(/static/images/tour-deal.png);
  height: 300px;
  width: 200px;
}

@media screen and (max-width: 768px) {
  .tour-hero-bg {
    background: url(/static/images/tour-hero-mobile.png);
  }
  .tour-hero-header {
    display: none;
  }
}
.about-travels-hero {
  background: linear-gradient(0deg, #1c2e6a, #1c2e6a);
  width: 100%;
  height: 309px;
}
@media screen and (max-width: 768px) {
  .about-travels-hero {
    width: 100%;
    height: 149px;
  }
}
.tour-abroad-hero {
  /* background here */
  width: 100%;
  height: 445px;
}
.tour-abroad-hero-content {
  display: none;
}
.mobile-header {
  display: none;
}
.mobile-header-2 {
  display: none;
}
.mobile-header-3 {
  display: none;
}
@media screen and (max-width: 768px) {
  .tour-abroad-hero {
    /* background here */
    width: 100%;
    height: 308px;
  }
  .mobile-header {
    display: block;
    /* background here */
    width: 100%;
    height: 74px;
    margin-bottom: 10px;
  }
  .tour-abroad-hero-content {
    display: block;
  }
  .mobile-header-2 {
    display: block;
    /* background here */
    width: 100%;
    height: 74px;
    margin-bottom: 10px;
  }
  .mobile-header-3 {
    display: block;
    /* background here */
    width: 100%;
    height: 74px;
    margin-bottom: 10px;
  }
}
.tour-hero-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .tour-hero-mobile {
    display: block;
  }
  .tour-hero-mobile h3 {
    display: block;
  }
  .study-card-1 {
    /* background here */
    width: 100%;
    height: 309px;
    margin-bottom: 20px;
  }
  .study-card-2 {
    /* background here */
    width: 100%;
    height: 309px;
    margin-bottom: 20px;
  }
  .study-card-3 {
    /* background here */
    width: 100%;
    height: 309px;
    margin-bottom: 40px;
  }
  .gray {
    background: linear-gradient(180deg, #1c2e6a 100%, #1c2e6a 0%);
    width: 376px;
    height: 160px;
  }
}
.tour-card {
  width: 290.87px;
  height: 390.99px;
  background: linear-gradient(
    180deg,
    #000000 15.41%,
    rgba(12, 12, 12, 0) 82.42%
  );
  border-radius: 3px;
  margin-bottom: 40px;
}
.return-card {
  border-left: 1px solid #d4d4d4;
}
.travel-info {
  color: #1c2e6a;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-bottom: 1px solid #d1d1d1;
}
.travel-info ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.travel-info li {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
}
.travel-info li.active {
  background: #1c2e6a;
  border-radius: 7px;
  width: 147px;
  height: 51px;
  color: #ffffff;
}

.travel-info li:hover {
  background: #1c2e6a;
  border-radius: 7px;
  color: #ffffff;
}

.travel-mobile-nav li.active {
  border-bottom: 1px solid #1c2e6a;
  padding-right: 10px;
}

.tour-abroad-content {
  width: 932px;
  padding: 0 220px;
}
@media screen and (max-width: 768px) {
  .tour-abroad-content {
    width: 402px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    padding: 0 40px;
  }
  .about-travels-hero-content {
    padding: 60px 40px;
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    color: #ffffff;
  }
}
.overlay {
  position: relative;
  z-index: 1;
  top: 50px;
}

.travel-insurance p {
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .travel-insurance {
    display: block;
    padding: 0 20px;
  }
  .travel-insurance form {
    width: 330px;
  }
}

.travel-insurance p {
  margin-top: 20px;
}

.travel-insurance h3 {
  display: block;
}
@media screen and (max-width: 768px) {
  .travel-insurance h3 {
    display: none;
  }
}
.arrival-btn {
  display: none;
}
@media screen and (max-width: 768px) {
  .arrival-btn {
    display: block;
    background: #ffc702;
    border-radius: 7px;
    font-weight: 500;
    font-size: 10px;
    line-height: 27px;
    color: #1c2e6a;
    padding: 5px 10px;
  }
}
.tour-card-main {
  display: block;
}
.tour-card-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .tour-card-main {
    display: none;
  }
  .tour-card-mobile {
    display: block;
  }
  .tour-card-mobile img {
    border-bottom: 1px solid #d8d8d8;
    padding: 30px 20px;
    width: 100%;
    /* height: 203px; */
  }

  label {
    font-size: 10px;
    /* text-transform: none; */
  }
}

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar:horizontal {
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparentize(#ccc, 0.7);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: transparentize(#ccc, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.card {
  display: inline-block;
}

/* SWET ALERT */
/* MOBILE */
@media screen and (max-width: 500px) {
  button.swal2-confirm.swal2-styled {
    font-size: 12px;
  }
  .swal2-content {
    padding: 0px;
  }
  .swal2-actions {
    margin-top: 10px;
  }
}
