# pip install -r requirements.txt -r requirements-dev.txt

-r requirements.txt
autopep8==2.0.2
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
cssbeautifier==1.14.9
django-livereload-server==0.4
djlint==1.34.0
html-tag-names==0.1.2
html-void-elements==0.1.0
jsbeautifier==1.14.9
json5==0.9.14
pycodestyle==2.10.0
pytz==2019.3
PyYAML==6.0.1
rcssmin==1.1.1
regex==2023.10.3
rjsmin==1.2.1
tomli==2.0.1
tornado==6.3.2
tqdm==4.66.1
watchdog==3.0.0
