{% load static %}
<!-- HEADER -->
<header class="px-10 py-5 mx-auto w-full tablet:pr-5 tablet:pl-4 tablet:py-2.5">
  <div class="flex justify-between items-center w-full">
    <a href="{% url 'home' %}">
      <img src="{% static 'images/logo.png' %}" alt="Prelate Travels Logo" />
    </a>
    <div class="flex justify-between">
      <nav class="">
        <ul class="menu-desktop w-full">
          <li>
            <a href="{% url 'reservations' %}">Reservations</a>
          </li>
          <li id="dropdownButton"
              data-dropdown-toggle="dropdown"
              class="flex items-center cursor-pointer font-medium">
            <span class="inline-block text-[15px]">Travels</span>
            <svg class="inline-block w-2.5 h-2.5 ml-1.5 animate-bounce"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
            </svg>
            {% comment %} DROPDOWN {% endcomment %}
            <!-- Dropdown menu -->
            <div id="dropdown"
                 class="z-30 hidden bg-white divide-y divide-gray-100 rounded-lg w-44 dark:bg-gray-700 shadow-lg">
              <ul class="block py-2 text-sm text-gray-700 dark:text-gray-200"
                  aria-labelledby="dropdownButton">
                <li class="mr-0">
                  <a href="{% url 'travel-help' %}"
                     class="block px-4 py-2 hover:bg-gray-100">Travel Help</a>
                </li>
                <li class="mr-0">
                  <a href="{% url 'visa-assistance' %}"
                     class="block px-4 py-2 hover:bg-gray-100">Visa Assistance</a>
                </li>
              </ul>
            </div>
            {% comment %} DROPDOWN {% endcomment %}
          </li>
          <li>
            <a href="{% url 'travel-insurance' %}">Travel Insurance</a>
          </li>
          <li>
            <a href="{% url 'post-arrival-services' %}">Post Arrival Services</a>
          </li>
          <li>
            <a href="{% url 'tour' %}">Tour</a>
          </li>
        </ul>
        <ul class="menu-mobile">
          <li>
            <i class="fa fa-bars" aria-hidden="true"></i>
          </li>
        </ul>
      </nav>
      <button class="menu-desktop">
        <a href="{% url 'become-affiliate' %}" class="button w-full">Become an Affiliate</a>
      </button>
    </div>
  </div>
  <!-- HTML structure for the side drawer component -->
</header>
<!-- HTML structure for the side drawer component -->
<div id="side-drawer" class="side-drawer">
  <div class="drawer-content">
    <!-- Place your content here -->
    <i class="fa fa-bars" aria-hidden="true"></i>
    <ul>
      <li>
        <a href="{% url 'reservations' %}">Reservations</a>
      </li>
      <li>
        <p>Travels</p>
        <li class="sub-menu-first">
          <a href="{% url 'travel-help' %}">Travel Help</a>
        </li>
        <li class="sub-menu-last">
          <a href="{% url 'visa-assistance' %}">Visa Assistance</a>
        </li>
      </li>
      <li>
        <a href="{% url 'travel-insurance' %}">Travel Insurance</a>
      </li>
      <li>
        <a href="{% url 'post-arrival-services' %}">Post Arrival Services</a>
      </li>
      <li>
        <a href="{% url 'tour' %}">Tour</a>
      </li>
    </ul>
  </div>
</div>
<!-- HEADER -->
