<div id="default-carousel"
     class="relative w-full hidden mb-2 tablet:block"
     data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-[15vh] overflow-hidden">
        <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out mobile-slider-1 bg-no-repeat bg-cover"
             data-carousel-item>
            <div class="absolute bottom-0 right-0 top-0 w-full gradient-blue-mobile-slider flex justify-end items-center text-white text-xs pr-5">
                Study abroad
            </div>
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out mobile-slider-2 bg-no-repeat bg-cover"
             data-carousel-item>
            <div class="absolute bottom-0 right-0 top-0 w-full gradient-blue-mobile-slider flex justify-end items-center text-white text-xs pr-5">
                Hike and explore
            </div>
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out mobile-slider-3 bg-no-repeat bg-cover"
             data-carousel-item>
            <div class="absolute bottom-0 right-0 top-0 w-full gradient-blue-mobile-slider flex justify-end items-center text-white text-xs pr-5">
                Weekend getaway
            </div>
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-700 ease-in-out mobile-slider-4 bg-no-repeat bg-cover"
             data-carousel-item>
            <div class="absolute bottom-0 right-0 top-0 w-full gradient-blue-mobile-slider flex justify-end items-center text-white text-xs pr-5">
                Visa Application
            </div>
        </div>
        <!-- Item 5 -->
        <div class="hidden duration-700 ease-in-out mobile-slider-5 bg-no-repeat bg-cover"
             data-carousel-item>
            <div class="absolute bottom-0 right-0 top-0 w-full gradient-blue-mobile-slider flex justify-end items-center text-white text-xs pr-5">
                Explore Asia
            </div>
        </div>
        <!-- Item 6 -->
        <div class="hidden duration-700 ease-in-out mobile-slider-6 bg-no-repeat bg-cover"
             data-carousel-item>
            <div class="absolute bottom-0 right-0 top-0 w-full gradient-blue-mobile-slider flex justify-end items-center text-white text-xs pr-5">
                Explore opportunities
            </div>
        </div>
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex bottom-1/4 right-5 gap-x-1.5">
        <button type="button"
                class="indicator w-1 h-1 rounded-full"
                aria-current="true"
                aria-label="Slide 1"
                data-carousel-slide-to="0"></button>
        <button type="button"
                class="indicator w-1 h-1 rounded-full"
                aria-current="false"
                aria-label="Slide 2"
                data-carousel-slide-to="1"></button>
        <button type="button"
                class="indicator w-1 h-1 rounded-full"
                aria-current="false"
                aria-label="Slide 3"
                data-carousel-slide-to="2"></button>
        <button type="button"
                class="indicator w-1 h-1 rounded-full"
                aria-current="false"
                aria-label="Slide 4"
                data-carousel-slide-to="3"></button>
        <button type="button"
                class="indicator w-1 h-1 rounded-full"
                aria-current="false"
                aria-label="Slide 5"
                data-carousel-slide-to="4"></button>
        <button type="button"
                class="indicator w-1 h-1 rounded-full"
                aria-current="false"
                aria-label="Slide 6"
                data-carousel-slide-to="5"></button>
    </div>
</div>
