{% load static %}
<section class="{{ custom_class }} bg-no-repeat h-[40vh] max-h-[700px] bg-cover tablet:h-[30vh] tablet:bg-right"
         style="background-image: url({% if background_image_url %}{{ background_image_url }}{% else %}{% static static_path %}{% endif %})">
  <div class="flex items-end h-full">
    <div class="h-2/4 flex items-end w-full gradient-{{ gradient }}">
      <div class="w-4/5 mx-auto mobile:w-full mobile:px-5">
        <h3 class="page-title">{{ title }}</h3>
      </div>
    </div>
  </div>
</section>
