{% if country %}
    <div class="">
        <h4 class="font-normal text-2xl text-primary mt-5 mb-0.5 block tablet:text-base">
            A sneak peak of <span class="capitalize">{{ country.capital_city }}</span>
        </h4>
        <p>{{ country.information|safe }}</p>
        <p class="font-medium">
            Capital: <span class="capitalize">{{ country.capital_city }}</span>
        </p>
        <p class="font-medium">
            Currency: <span class="uppercase">{{ country.currency }}</span>
        </p>
        <p class="font-medium">
            Temperature: <span class="capitalize">{{ country.temperature }}</span>
        </p>
    </div>
{% endif %}
