<!DOCTYPE html>
<html>
  <head>
    {% load static %} {% include "partials/_head.html" with add_title="Become An Affiliate| Prelate Travels & Tours" %}
  </head>
  <body>
    {% include "partials/components/_header.html" %}

    <div class="faq-header">
      <div class="container">
        Become An Affiliate
      </div>
    </div>

    <section class="become-an-affiliate">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h2 class="text-heading">
              Why become a Prelate Travel Affiliate?
            </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
        <div class="row mt-5 mb-4">
          <div class="col-md-6">
            <div class="flex-center-content" style="padding: 0px 25px; box-shadow: 0px 2px 3px rgba(41, 124, 222, 0.15); flex-direction: column; align-items: flex-start;">
              <h2 class="text-heading">
                Who are we?
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <img class="rounded-2" src="{% static 'images/affiliate_1.png' %}" alt="" />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-6">
            <img class="rounded-2" src="{% static 'images/affiliate_2.png' %}" alt="" />
          </div>
          <div class="col-md-6">
            <div class="flex-center-content" style="padding: 0px 25px; box-shadow: 0px 2px 3px rgba(41, 124, 222, 0.15); flex-direction: column; align-items: flex-start;">
              <h2 class="text-heading">
                Why Become An Affiliate?
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
        <div class="row mt-5 mb-4">
          <div class="col-md-6">
            <div class="flex-center-content" style="padding: 0px 25px; box-shadow: 0px 2px 3px rgba(41, 124, 222, 0.15); flex-direction: column; align-items: flex-start;">
              <h2 class="text-heading">
                What we offer?
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <img class="rounded-2" src="{% static 'images/affiliate_3.png' %}" alt="" />
          </div>
        </div>
        <br />
        <div class="d-block">
          <h3>Need Help</h3>
          <p>Contact us on any queries on info@prelatetravel.ng or 08027849667</p>
        </div>
        <br />
        <hr />
      </div>
    </section>
    {% include 'partials/components/_footer.html' %} {% include 'partials/_bottom.html' %}
  </body>
</html>
