<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    {% include "partials/_head.html" with add_title="Home | Prelate Travels & Tours" %}
  </head>
  <body>
    {% include "partials/components/_header.html" %}
  </body>
  <section class="homepage-hero">
    <div class="welcome-to-prelate-travels animated fadeIn">
      <h1>PRELATE TRAVELS</h1>
      <p>A one stop hub for hotels, flight reservations, travel plan, travel insurance, tours, budget and visa assistance</p>
      <div class="hero-links">
        <a href="" class="hero-reservations-link"><i class="fas fa-plane-departure"></i> Reservations</a>
        <a href="{% url 'travel-help' %}" class="hero-travels-link"><i class="fas fa-question-circle"></i> Travel Help</a>
      </div>
    </div>
  </section>
  <section class="our-services mt-5">
    <div class="container">
      <h1 class="text-center our-services-heading mb-5">Our Services</h1>
      <div class="row mt-5 mb-5">
        <div class="col-lg-4">
          <div class="service-card">
            <img class="service-icon" src="{% static 'images/reservation.png' %}" alt="Reservations" />
            <p class="service-heading text-center">Reservations</p>
            <p class="service-desc text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quam, odio omnis perferendis placeat nostrum provident nobis. Ill</p>
            <a href="" class="service-link">Book Reservation</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-card">
            <img class="service-icon" src="{% static 'images/help.png' %}" alt="Reservations" />
            <p class="service-heading text-center">Travel Help</p>
            <p class="service-desc text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quam, odio omnis perferendis placeat nostrum provident nobis. Ill</p>
            <a href="{% url 'travel-help' %}" class="service-link">Make Enquiry</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-card">
            <img class="service-icon" src="{% static 'images/visa.png' %}" alt="Reservations" />
            <p class="service-heading text-center">Visa Assistance</p>
            <p class="service-desc text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quam, odio omnis perferendis placeat nostrum provident nobis. Ill</p>
            <a href="{% url 'visa-assistance' %}" class="service-link">Get Visa</a>
          </div>
        </div>
      </div>
      <div class="row mt-3 mb-5">
        <div class="col-lg-4">
          <div class="service-card">
            <img class="service-icon" src="{% static 'images/travel.png' %}" alt="Reservations" />
            <p class="service-heading text-center">Travel Insurance</p>
            <p class="service-desc text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quam, odio omnis perferendis placeat nostrum provident nobis. Ill</p>
            <a href="{% url 'travel-insurance' %}" class="service-link">Get Insured</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-card">
            <img class="service-icon" src="{% static 'images/tourism.png' %}" alt="Reservations" />
            <p class="service-heading text-center">Tour</p>
            <p class="service-desc text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quam, odio omnis perferendis placeat nostrum provident nobis. Ill</p>
            <a href="{% url 'tour' %}" class="service-link">Book Tourism</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-card">
            <img class="service-icon" src="{% static 'images/change-request' %}.png" alt="Reservations" />
            <p class="service-heading text-center">Change Request</p>
            <p class="service-desc text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quam, odio omnis perferendis placeat nostrum provident nobis. Ill</p>
            <a href="" class="service-link">Change Request</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="home-info">
    <div class="home-info--container">
      <h2>Prelate Travel: Cheap, affordable Flights and Incredible Hotels</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </section>
  {% include 'partials/components/_partners.html' %} {% include 'partials/components/_download.html' %} {% include 'partials/components/_footer.html' %}
  <br />
  {% include 'partials/_bottom.html' %}
</html>
