{% extends 'allauth/account/base.html' %} {% load bootstrap4 %} {% load widget_tweaks %}
{% block content %}
<div class="row">
  <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
  <div class="col-lg-6">
    <div class="p-5">
      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
      </div>
      <form class="user" action="{% url 'account_login' %}" method="POST">
        <div class="form-group">
          {% csrf_token %} {% bootstrap_form form %}
        <input type="submit" class="btn btn-primary btn-user btn-block" value="Login">
      </form>
      <hr />
      <div class="text-center">
        <a class="small" href="{% url 'account_reset_password' %}">Forgot Password?</a>
      </div>
      <div class="text-center">
        <a class="small" href="{{ signup_url }}">Create Affiliate Account</a>
      </div>
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; PrelateTravel.com 2020</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}