{% extends "account/base.html" %} {% load i18n %} {% load account %} {% block head_title %}{% trans "Password Reset" %}{% endblock %}<br />

{% load bootstrap4 %}{% block content %}

<div class="row">
  <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
  <div class="col-lg-6">
    <div class="p-5">
      <div class="text-center">
        <h3>{% trans "Password Reset" %}</h3>
        {% if user.is_authenticated %} {% include "account/snippets/already_logged_in.html" %} {% endif %}

        <p class="h4 text-gray-900 mb-4">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
          {% csrf_token %} {% bootstrap_form form %}
          <input class="btn btn-primary btn-user btn-block" type="submit" value="{% trans 'Reset My Password' %}" />
        </form>

        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
      </div>

      <hr />
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; PrelateTravel.com 2020</span>
      </div>
    </div>
  </div>
</div>

{% endblock %}
