{% extends "account/base.html" %} {% load i18n %} {% block head_title %}{% trans "Change Password" %}{% endblock %} {% block content %}
<div class="row">
  <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
  <div class="col-lg-6">
    <div class="p-5">
      <div class="text-center">
        <h3>{% trans "Change Password" %}</h3>
        <p>{% trans 'Your password is now changed.' %}</p>
      </div>

      <hr />
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; PrelateTravel.com 2020</span>
      </div>
    </div>
  </div>
</div>

{% endblock %}
