<!DOCTYPE html>
<html>
  <head>{% include "latest/partials/_head.html" with add_title="About Us | Prelate Travels & Tours" %}</head>
  <body>
    {% include "latest/components/_header.html" %}
    <!-- CAROUSEL SECTION MOBILE -->
    {% include "latest/components/_mobile_carousel.html" %}
    <!-- CAROUSEL SECTION MOBILE END-->
    {# djlint:off #}
        {% include "latest/components/_page_banner.html" with title="About Us" custom_class="about-us-hero h-[45vh]" gradient="blue" %}
    {# djlint:on #}
    <!-- HERO SECTION DESKTOP -->
    <!-- Travel insurance form -->
    <section class="container__inner_layout  text-textPrimary text-justify text-sm leading-7 tablet:text-xs tablet:leading-6">
      <div class="my-10 mobile:mt-5 mobile:mb-6">
        <p>
          Prelate travel is an online leading travel agent established in the year 2018. We have emerged strongly as one of the leading online travel agencies that have ensured
          seamless travel and tourism services. Haven explored the challenges most travelers face while embarking on their trips, we were able to emerge with lasting solutions to
          ease these challenges and ensured efficiency in our services offered by our professional travel experts in their fields that work tirelessly to curb the difficulties
          travelers often face. Our online presence and easy access to our agents worldwide has ensured the reliability of our services to our customers.
        </p>
      </div>
      <div class="mb-10 mobile:mb-6">
        <div class="form-title mb-5 tablet:mb-3">WHY CHOSE US</div>
        <p>
          We are a reliable source for travel information. We provide you with up to date answers to all your travel questions and assist in the best possible way to plan an
          effortless trip for you to the destination of your choice. We also serve as a trusted service provider to all the travel services that you require for a successful
          trip.
        </p>
      </div>
      <div class="mb-10 mobile:mb-6">
        <div class="form-title mb-5 tablet:mb-3">VISION</div>
        <p>
          To serve our customers efficiently as a reliable travel and tourism service provider, to create a smooth relationship between us and our customers and to ensure that we
          live up to the expectations of our customers.
        </p>
      </div>
      <div class="mb-10 mobile:mb-6">
        <div class="form-title mb-5 tablet:mb-3">MISSION</div>
        <p>
          To create ease and assurance in the travel world, ensure smooth travel plans and enjoyable trip to the destination of your choice. Creating a world class standard,
          secure travel system managed by experienced, Customer-friendly travel experts.
        </p>
      </div>
      <div class="mb-10 mobile:mb-6">
        <div class="form-title mb-5 tablet:mb-3">VALUES</div>
        <ul class="pl-4 mobile:pl-0">
          <li>
            <i class="fa fa-check-square mr-1 text-green-500 text-lg tablet:text-base"
               aria-hidden="true"></i>
            <span>Integrity</span>
          </li>
          <li>
            <i class="fa fa-check-square mr-1 text-green-500" aria-hidden="true"></i>
            <span>Reliability</span>
          </li>
          <li>
            <i class="fa fa-check-square mr-1 text-green-500" aria-hidden="true"></i>
            <span>Trustworthy</span>
          </li>
          <li>
            <i class="fa fa-check-square mr-1 text-green-500" aria-hidden="true"></i>
            <span>Transparency</span>
          </li>
          <li>
            <i class="fa fa-check-square mr-1 text-green-500" aria-hidden="true"></i>
            <span>Honesty</span>
          </li>
          <li>
            <i class="fa fa-check-square mr-1 text-green-500" aria-hidden="true"></i>
            <span>Efficiency</span>
          </li>
        </ul>
      </div>
    </section>
    {% include 'latest/components/_footer.html' %}
    {% include 'latest/partials/_scripts.html' %}
  </body>
</html>
