<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    {% include "latest/partials/_head.html" with add_title="Blogs | Prelate Travels & Tours" %}
  </head>
  <body>
    <!-- HEADER -->
    {% include "latest/components/_header.html" %}
    <!-- CAROUSEL SECTION MOBILE -->
    {% include "latest/components/_mobile_carousel.html" %}
    <!-- CAROUSEL SECTION MOBILE END-->
    <!-- Hero Section -->
    {% include "latest/components/_page_banner.html" with title="Read and learn more about travels" custom_class="bg-primary bg-opacity-60" %}
    <!--  Tour card Section Bgig Screen-->
    <section class="container__inner_layout ">
      <div class="mt-5 tablet:mt-3">
        <div class="grid grid-cols-2 gap-5 mobile:grid-cols-1">
          {% for post in posts %}
            <a href="{{ post.url }}">
              <div class="h-96 w-full flex items-end rounded-lg mobile:h-48"
                   style="background: url({{ post.preview_image.url }})">
                <div class="h-2/3 w-full bg-no-repeat bg-cover flex items-end gradient-black rounded-b-lg">
                  <p class="ml-5 mb-16 text-white font-bold text-lg mobile:mb-8">{{ post.title }}</p>
                </div>
              </div>
            </a>
          {% endfor %}

        </a>
      </div>
      <nav class="mt-10 flex justify-end">
        <ul class="inline-flex -space-x-px text-base h-10">
          <li>
            <a href="#"
               class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700">Previous</a>
          </li>
          <li>
            <a href="#"
               class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">1</a>
          </li>
          <li>
            <a href="#"
               class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">2</a>
          </li>
          <li>
            <a href="#"
               aria-current="page"
               class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700">3</a>
          </li>
          <li>
            <a href="#"
               class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">4</a>
          </li>
          <li>
            <a href="#"
               class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">5</a>
          </li>
          <li>
            <a href="#"
               class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
  <!-- Footer segments starts from here -->
  <!-- FOOTER -->
  {% include "latest/components/_footer.html" %}
  <!-- FOOTER -->
  <!-- SCRIPTS -->
  {% include "latest/partials/_scripts.html" %}
</body>
</html>
