<!DOCTYPE html>
<html>
  {% load static %}
  {% load widget_tweaks %}
  <head>{% include "latest/partials/_head.html" with add_title="Book A Consultation | Prelate Travels & Tours" %}</head>
  <body>
    {% include "latest/components/_header.html" %}
    <!-- CAROUSEL SECTION MOBILE -->
    {% include "latest/components/_mobile_carousel.html" %}
    <!-- CAROUSEL SECTION MOBILE END-->
    <section class="consultation-hero-bg bg-center bg-no-repeat h-[40vh] bg-cover tablet:h-[30vh] tablet:bg-right">
      <div class="flex items-end h-full">
        <div class="h-[70%] flex items-end gradient-blue w-full mobile:h-2/4">
          <div class="w-4/5 mx-auto mobile:w-full mobile:px-5">
            <h2 class="page-title">Talk To An Expert</h2>
          </div>
        </div>
      </div>
    </section>
    <!-- HERO SECTION DESKTOP -->
    <!-- Travel insurance form -->
    <section class="container__inner_layout  text-textPrimary text-justify text-sm leading-7 tablet:text-xs tablet:leading-6">
      <div class="my-10 mobile:mt-5 mobile:mb-6">
        <p>
          A microcopy about this page. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus incidunt sequi modi voluptas quae cupiditate inventore harum voluptatem voluptate eos!
        </p>
        <div class="mt-20 tablet:mt-6">
          <div class="form-title">Book A Consultation Session</div>
          <form class="text-primary w-full pt-10 tablet:pt-6"
                method="POST"
                action="{% url 'book-consultation' %}">
            <div class="flex flex-col mb-5">
              <label for="" class="input-label">Full Name</label>
              <input type="text"
                     class="input-style"
                     placeholder="----------"
                     name="fullname"
                     required>
            </div>
            <div class="flex flex-col mb-5">
              <label for="" class="input-label">Phone Number</label>
              <input type="text"
                     class="input-style"
                     placeholder="----------"
                     name="phonenumber"
                     required>
            </div>
            <div class="flex flex-col mb-5">
              <label for="" class="input-label">Email</label>
              <input type="email" class="input-style" placeholder="----------" name="email"
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">Choose Date Of Appointment</label>
                <div class="relative w-full">
                  <div class="calendar">
                    <img src="{% static 'images/calendar-icon.png' %}" class="h-4">
                  </div>
                  <input type="date"
                         name="session_date"
                         class="input-style w-full"
                         placeholder="dd/mm/yyyy"
                         datepicker
                         datepicker-format="yyyy-mm-dd"
                         datepicker-autohide>
                  <span id="session_date_error" class="text-red-500 block"></span>
                </div>
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">Choose Time Of Appointment</label>
                <input type="time"
                       value="12:00"
                       class="input-style"
                       placeholder="----------"
                       name="session_time">
                <span id="session_time_error" class="text-red-500 block"></span>
              </div>
              <button class="submit-btn">Submit Form</button>
            </form>
          </div>
        </div>
      </section>
      {% include 'latest/components/_footer.html' %}
      <script src="{% static 'javascripts/datepicker.js' %}"></script>
      {% include 'latest/partials/_scripts.html' with exclude_notification_script=True %}
      {% comment %} INPUT VALIDATION {% endcomment %}
      <script>
        const datePicker = document.querySelector("[name='session_date']");
const datePickerErrorEl = document.getElementById("session_date_error");
const timePicker = document.querySelector("[name='session_time']");
const timePickerErrorEl = document.getElementById("session_time_error");
const form = document.querySelector("form");
const submitBtn = form.querySelector(".submit-btn");

timePicker.addEventListener("change", ({ target }) => {
  console.log(target.value);
  if (target.value < "08:00" || target.value > "17:00") {
    errorText.textContent = "Office opening hours are 08:00 AM to 5:00 PM";
    timeInput.value = "12:00"; // Reset the input
  } else errorText.textContent = "";
});

// FLOWBITE DATEPICKER DOES NOT SUPPORT ONCHANGE EVENT
form.addEventListener("submit", async (e) => {
  e.preventDefault();
  handleSubmitBtnState(submitBtn);
  if (new Date(datePicker.value) < new Date()) {
    datePickerErrorEl.textContent = "You cannot select a past date";
    datePicker.value = ""; // Reset the input
    handleSubmitBtnState(submitBtn, false);
  } else {
    datePickerErrorEl.textContent = "";
    const payload = {};
    const inputEls = form.querySelectorAll("input");
    inputEls.forEach((el) => (payload[el.name] = el.value));

    //return
    const req = await fetch("", {
      method: "POST",
      body: JSON.stringify(payload),
      headers: {
        "content-type": "application/x-www-form-urlencoded",
        "X-CSRFToken": getCookie("csrftoken")
      }
    });

    const res = await req.json();

    handleSubmitBtnState(submitBtn, false);
    // SUCCESS
    if (res.status === "success") {
      let html = `🎉🎉🎉<br />Your meeting with one of our Experts has been scheduled successfully! <br /> <strong>Don't forget to add the date to your calendar</strong> `;
      Swal.fire({
        html: `<h5 class='text-base mobile:text-sm'>${html}</h5>`
      });
    } else if (res.status === "failed" && res.type === "duplicate_event") {
      let html = `<b>😪Oops</b><br />${res.message}`;
      Swal.fire({
        html: `<h5 class='text-base mobile:text-sm'>${html}</h5>`,
        icon: "error"
      });
    }
  }
});
      </script>
    </body>
  </html>
