<!DOCTYPE html>
<html>
  <head>{% include "latest/partials/_head.html" with add_title="Contact Us | Prelate Travels & Tours" %}</head>
  <body>
    {% include "latest/components/_header.html" %}
    <section class="tour-hero">
      <div class="flex items-end h-full">
        <div class="h-[70%] flex items-end shadow w-full">
          <div class="w-4/5 mx-auto">
            <h2 class="text-[40px] mb-5 font-bold text-buttonPrimary block">Contact Us</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="lg:px-40 py-10">
      <div class="shadow-xl max-w-[774px] mb-20">
        <div class="border-b border-[#0000001a] border-solid text-textPrimary text-sm flex items-center px-8 py-5">
          <img src="https://res.cloudinary.com/prelatetravel/image/upload/v1607834136/address-book_sceswx.png"
               alt=""
               class="inline-block mr-4" />
          <div class="">
            <p class="font-bold">Office Address</p>
            <p>
              <a href="https://goo.gl/maps/RuvFpMrQLNAscLpv6"
                 target="_blank"
                 class="text-blue-600">26, Orere-owu street opp first bank okeyinmi Ado-Ekiti</a>
            </p>
          </div>
        </div>
        <div class="border-b border-[#0000001a] border-solid text-textPrimary text-sm flex items-center px-8 py-5">
          <img src="https://res.cloudinary.com/prelatetravel/image/upload/v1607834175/mail_2_f6qfno.png"
               alt=""
               class="inline-block mr-4" />
          <div class="">
            <p class="font-bold">Email</p>
            <p>
              <a href="mailto:sales@prelatetravel.com"
                 target="_blank"
                 class="text-blue-600">sales@prelatetravel.com</a>
            </p>
          </div>
        </div>
        <div class="border-b border-[#0000001a] border-solid text-textPrimary text-sm flex items-center px-8 py-5">
          <img src="https://res.cloudinary.com/prelatetravel/image/upload/v1607834212/telephone_dnqvyr.png"
               alt=""
               class="inline-block mr-4" />
          <div class="">
            <p class="font-bold">Phone</p>
            <p>
              <a href="tel:+2348101257394" class="text-blue-600">08101257394</a>
            </p>
          </div>
        </div>
        <div class="border-b border-[#0000001a] border-solid text-textPrimary text-sm flex items-center px-8 py-5">
          <img src="https://res.cloudinary.com/prelatetravel/image/upload/v1607834212/telephone_dnqvyr.png"
               alt=""
               class="inline-block mr-4" />
          <div class="">
            <p class="font-bold">WhatsApp</p>
            <p>
              <a href="https://wa.me/2348101257394" class="text-blue-600">08101257394</a>
            </p>
          </div>
        </div>
      </div>
      <div class="shadow-xl px-5 py-8 max-w-[774px]">
        <h2 class="font-semibold text-2xl text-primary mb-3">Send us a message</h2>
        <form class="text-primary w-full"
              method="post"
              action="{% url 'travel-info' %}">
          <div class="flex flex-col mb-5">
            <label for="" class="input-label">First Name</label>
            <input type="text" class="input-style" placeholder="----------">
          </div>
          <div class="flex flex-col mb-5">
            <label for="" class="input-label">Last Name</label>
            <input type="text" class="input-style" placeholder="----------">
          </div>
          <div class="flex flex-col mb-5">
            <label for="" class="input-label">Phone Number</label>
            <input type="text" class="input-style" placeholder="----------">
          </div>
          <div class="flex flex-col mb-5">
            <label for="" class="input-label">Email Address</label>
            <input type="email" class="input-style" placeholder="----------">
          </div>
          <div class="flex flex-col mb-5">
            <label for="" class="input-label">Message</label>
            <textarea cols="40"
                      rows="10"
                      class="text-area"
                      placeholder="Write your message ..."></textarea>
          </div>
          <button class="py-3 px-2 bg-buttonPrimary rounded-[7px] mt-5 w-[155px]">Send Message</button>
        </form>
      </div>
    </section>
    <!-- FOOTER -->
    {% include "latest/components/_footer.html" %}
    <!-- FOOTER -->
    <!-- SCRIPTS -->
    {% include "latest/partials/_scripts.html" %}
    <!-- SCRIPTS -->
  </body>
</html>
