<!DOCTYPE html>
<html>
  {% load static %}
  {% load widget_tweaks %}
  <head>{% include "latest/partials/_head.html" with add_title="Contact Us | Prelate Travels & Tours" %}</head>
  <body>
    {% include "latest/components/_header.html" %}
    <!-- CAROUSEL SECTION MOBILE -->
    {% include "latest/components/_mobile_carousel.html" %}
    <!-- CAROUSEL SECTION MOBILE END-->
    {# djlint:off #}
        {% include "latest/components/_page_banner.html" with title="Contact Us" custom_class="contact-hero h-[50vh]" gradient="blue" %}
    {# djlint:on #}
    <section class="px-40 py-10 tablet:px-5 tablet:mt-5">
      <div class="shadow-xl mb-20 tablet:mb-10">
        <div class="border-b border-[#0000001a] border-solid text-textPrimary text-sm flex items-center px-8 py-5">
          <img src="https://res.cloudinary.com/prelatetravel/image/upload/v1607834136/address-book_sceswx.png"
               alt=""
               class="inline-block mr-4" />
          <div class="">
            <p class="font-bold">Office Address</p>
            <p>
              <a href="https://goo.gl/maps/RuvFpMrQLNAscLpv6"
                 target="_blank"
                 class="text-blue-600">26, Orere-owu street opp first bank okeyinmi Ado-Ekiti</a>
            </p>
          </div>
        </div>
        <div class="border-b border-[#0000001a] border-solid text-textPrimary text-sm flex items-center px-8 py-5">
          <img src="https://res.cloudinary.com/prelatetravel/image/upload/v1607834175/mail_2_f6qfno.png"
               alt=""
               class="inline-block mr-4" />
          <div class="">
            <p class="font-bold">Email</p>
            <p>
              <a href="mailto:sales@prelatetravel.com"
                 target="_blank"
                 class="text-blue-600">sales@prelatetravel.com</a>
            </p>
          </div>
        </div>
        <div class="border-b border-[#0000001a] border-solid text-textPrimary text-sm flex items-center px-8 py-5">
          <img src="https://res.cloudinary.com/prelatetravel/image/upload/v1607834212/telephone_dnqvyr.png"
               alt=""
               class="inline-block mr-4" />
          <div class="">
            <p class="font-bold">Phone</p>
            <p>
              <a href="tel:+2348101257394" class="text-blue-600">08101257394</a>
            </p>
          </div>
        </div>
        <div class="border-b border-[#0000001a] border-solid text-textPrimary text-sm flex items-center px-8 py-5">
          <img src="https://res.cloudinary.com/prelatetravel/image/upload/v1607834212/telephone_dnqvyr.png"
               alt=""
               class="inline-block mr-4" />
          <div class="">
            <p class="font-bold">WhatsApp</p>
            <p>
              <a href="https://wa.me/2348101257394" class="text-blue-600">08101257394</a>
            </p>
          </div>
        </div>
      </div>
      <div class="shadow-xl px-5 py-8">
        <h2 class="font-semibold text-2xl text-primary mb-3">Send us a message</h2>
        <form class="text-primary w-full"
              method="post"
              action="{% url 'contact-us' %}">
          {% csrf_token %}
          <div class="flex flex-col mb-5">
            <label for="" class="input-label">First Name</label>
            {% render_field form.firstname class="input-style" placeholder="----------" %}
          </div>
          <div class="flex flex-col mb-5">
            <label for="" class="input-label">Last Name</label>
            {% render_field form.lastname class="input-style" placeholder="----------" %}
          </div>
          <div class="flex flex-col mb-5">
            <label for="" class="input-label">Phone Number</label>
            {% render_field form.phonenumber class="input-style" placeholder="----------" %}
          </div>
          <div class="flex flex-col mb-5">
            <label for="" class="input-label">Email Address</label>
            {% render_field form.email class="input-style" placeholder="----------" %}
          </div>
          <div class="flex flex-col mb-5">
            <label for="" class="input-label">Message</label>
            {% render_field form.enquiry class="text-area" placeholder="Write your message ..." %}
          </div>
          <button class="submit-btn">Send Message</button>
        </form>
      </div>
    </section>
    <!-- FOOTER -->
    {% include "latest/components/_footer.html" %}
    <!-- FOOTER -->
    <!-- SCRIPTS -->
    {% include "latest/partials/_scripts.html" %}
    <!-- SCRIPTS -->
  </body>
</html>
