<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    {% include "partials/_head.html" with add_title="Home | Prelate Travels & Tours" %}
  </head>
  <body>
    {% include "partials/components/_header.html" %}
    <section class="homepage-hero">
      <div class="welcome-to-prelate-travels animated fadeIn">
        <h1>PRELATE TRAVELS</h1>
        <p>A one stop hub for hotel and flight reservations, travel plan, travel insurance, tours, budget and visa assistance</p>
        <div class="hero-links">
          <a style="margin: 10px" href="http://flights.prelatetravel.com/index.php" class="hero-reservations-link"><i class="fas fa-plane-departure"></i> Reservations</a>
          <a href="{% url 'travel-help' %}" class="hero-travels-link"><i class="fas fa-question-circle"></i> Travel Help</a>
        </div>
      </div>
    </section>
    <section class="our-services mt-5">
      <div class="container">
        <h1 class="text-center our-services-heading mb-5">Our Services</h1>
        <div class="row mt-5 mb-5">
          <div class="col-lg-4">
            <div class="service-card">
              <img class="service-icon" src="{% static 'images/reservation.png' %}" alt="Reservations" />
              <p class="service-heading text-center">Reservations</p>
              <p class="service-desc text-center">
                Book available flights to any destination around the world, hotel reservation. Request airport pick-up at any destination of the world. You can also get to compare
                available flights and hotels such as prices and offers to help select the one that perfectly suit your choice of preference.
              </p>
              <a href="http://flights.prelatetravel.com/index.php" class="service-link">Book Reservation</a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="service-card">
              <img class="service-icon" src="{% static 'images/help.png' %}" alt="Reservations" />
              <p class="service-heading text-center">Travel Help</p>
              <p class="service-desc text-center">
                This category is sub-divided into travel info, budget and assistance. In each of these categories, we assign one of our travel experts to have one on one engagement
                with our clients, to attend to all their travel inquiries and see them through their travel process.
              </p>
              <a href="{% url 'travel-help' %}" class="service-link">Make Enquiry</a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="service-card">
              <img class="service-icon" src="{% static 'images/visa.png' %}" alt="Reservations" />
              <p class="service-heading text-center">Visa Assistance</p>
              <p class="service-desc text-center">
                The process of procuring a visa could pose to be tiring and frustrating most times, our visa experts can relieve you of such stress. We offer to assist our clients
                with the arrangement of their required visa documents; assist them with the application and submission of these documents for the Visa application.
              </p>
              <a href="{% url 'visa-assistance' %}" class="service-link">Get Visa</a>
            </div>
          </div>
        </div>
        <div class="row mt-3 mb-5">
          <div class="col-lg-4">
            <div class="service-card">
              <img class="service-icon" src="{% static 'images/travel.png' %}" alt="Reservations" />
              <p class="service-heading text-center">Travel Insurance</p>
              <p class="service-desc text-center">
                Our travel insurance packages help our clients get a travel insurance policy to secure them from any risk associated with travelling internationally or locally.
                This consists of medical expenses, trip cancellation and other losses incurred while traveling.
              </p>
              <a href="{% url 'travel-insurance' %}" class="service-link">Get Insured</a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="service-card">
              <img class="service-icon" src="{% static 'images/tourism.png' %}" alt="Reservations" />
              <p class="service-heading text-center">Tour</p>
              <p class="service-desc text-center">
                we offer several top notch affordable tour packages ranging from recreational, luxury, cultural, adventure, religious tours that meets and satisfy our client’s
                demands.
              </p>
              <a href="{% url 'tour' %}" class="service-link">Book Tourism</a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="service-card">
              <img class="service-icon" src="{% static 'images/change-request' %}.png" alt="Reservations" />
              <p class="service-heading text-center">Change Request</p>
              <p class="service-desc text-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quam, odio omnis perferendis placeat nostrum provident nobis. Ill
              </p>
              <a href="" class="service-link">Change Request</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="home-info">
      <div class="home-info--container">
        <h2>Prelate Travel: Cheap, affordable Flights and Incredible Hotels</h2>
        <p>
          We are one-stop travel and tourism tech shop. At Prelate Travel, we work with experienced travel experts to provide our clients with essential travel information, assist
          and guide them through their travel application processes. We also provide our clients with essential travel services and exclusive deals at affordable rates that meet
          their travel taste and demands. We make provisions for one on one engagement with one of our travel experts; to meet with our clients who will listen to your travel plans
          and offer a professional advice that will assist you to achieve and get maximum satisfaction of your travel plans, manage travel cost to afford topnotch quality travel
          services that suits your choice of preference and demand and a follow up with your travel applications.
        </p>
      </div>
    </section>
    {% include 'partials/components/_partners.html' %} {% include 'partials/components/_download.html' %} {% include 'partials/components/_footer.html' %}
    <br />
    {% include 'partials/_bottom.html' %}
  </body>
</html>
