<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    {% include "latest/partials/_head.html" with add_title="Home | Prelate Travels & Tours" %}
    <link rel="stylesheet"
          href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  </head>
  <body>
    <!-- HEADER -->
    {% include "latest/components/_header.html" %}
    <!-- HEADER -->
    <!-- SLIDER SECTION -->
    <!-- Main screen Carousel -->
    <section class="main-slider">
      <div id="default-carousel" class="relative w-full" data-carousel="static">
        <!-- Carousel wrapper -->
        <div class="relative h-[80vh] overflow-hidden">
          <!-- Item 1 -->
          <div class="hidden duration-700 ease-in-out slider-1" data-carousel-item>
            <div class="absolute bottom-0 right-0 left-0 h-28 gradient-black"></div>
          </div>
          <!-- Item 2 -->
          <div class="hidden duration-700 ease-in-out slider-2" data-carousel-item>
            <div class="absolute bottom-0 right-0 left-0 h-[50%] gradient-blue">
              <div class="custom_container h-full flex items-end mb-5">
                <h3 class="text-[56px] leading-[84px] font-bold text-white">
                  Explore .
                  <span class="text-[56px] leading-[84px] text-buttonPrimary">Asia</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
        <!-- Slider indicators -->
        <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
          <button type="button"
                  class="indicator w-12 h-1"
                  aria-current="true"
                  aria-label="Slide 1"
                  data-carousel-slide-to="0"></button>
          <button type="button"
                  class="indicator w-12 h-1"
                  aria-current="false"
                  aria-label="Slide 2"
                  data-carousel-slide-to="1"></button>
        </div>
      </div>
    </section>
    <!-- Mobile Carousel -->
    <section class="mobile-slider">
      <div id="carouselExampleCaptions"
           class="relative"
           data-te-carousel-init
           data-te-carousel-slide>
        <!--Carousel indicators-->
        <div class="absolute bottom-0 left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0"
             data-te-carousel-indicators>
          <button type="button"
                  data-te-target="#carouselExampleCaptions"
                  data-te-slide-to="0"
                  data-te-carousel-active
                  class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                  aria-current="true"
                  aria-label="Slide 1"></button>
          <button type="button"
                  data-te-target="#carouselExampleCaptions"
                  data-te-slide-to="1"
                  class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                  aria-label="Slide 2"></button>
          <button type="button"
                  data-te-target="#carouselExampleCaptions"
                  data-te-slide-to="2"
                  class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                  aria-label="Slide 3"></button>
          <button type="button"
                  data-te-target="#carouselExampleCaptions"
                  data-te-slide-to="3"
                  class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                  aria-label="Slide 4"></button>
        </div>
        <!--Carousel items-->
        <div class="relative w-full overflow-hidden after:clear-both after:block after:content-['']">
          <!--First item-->
          <div class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
               data-te-carousel-active
               data-te-carousel-item
               style="backface-visibility: hidden">
            <img src="/images/mobile slider 1.png" class="block w-full" alt="..." />
            <div class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block">
              <h5 class="text-xl">First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <!--Second item-->
          <div class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
               data-te-carousel-item
               style="backface-visibility: hidden">
            <img src="/images/mobile slider 2.png" class="block w-full" alt="..." />
            <div class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block">
              <h5 class="text-xl">Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <!--Third item-->
          <div class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
               data-te-carousel-item
               style="backface-visibility: hidden">
            <img src="/images/mobile slider 3.png" class="block w-full" alt="..." />
            <div class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block">
              <h5 class="text-xl">Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <!--Carousel controls - prev item-->
        <button class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
                type="button"
                data-te-target="#carouselExampleCaptions"
                data-te-slide="prev">
          <span class="inline-block h-8 w-8">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="h-6 w-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
            </svg>
          </span>
          <span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Previous</span>
        </button>
        <!--Carousel controls - next item-->
        <button class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
                type="button"
                data-te-target="#carouselExampleCaptions"
                data-te-slide="next">
          <span class="inline-block h-8 w-8">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="h-6 w-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
          </span>
          <span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Next</span>
        </button>
      </div>
    </section>
    <!-- SLIDER SECTION -->
    <!-- BOOK FLIGHT SECTION DESKTOP -->
    <section class="w-full">
      <div class="py-10 template">
        <div class="bg-[#B2D4EF] custom_container h-[250px] rounded-[7px] px-5 py-10">
          <div class="flex gap-5 pb-5 text-base">
            <div class="relative" data-te-dropdown-ref>
              <button class="flex items-center whitespace-nowrap rounded-[7px] bg-white px-6 pb-2 pt-2.5 text-15px font-bold leading-normal text-primary shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] motion-reduce:transition-none dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                      type="button"
                      id="dropdownMenuButton1"
                      data-te-dropdown-toggle-ref
                      aria-expanded="false"
                      data-te-ripple-init
                      data-te-ripple-color="light">
                Round Trip
                <span class="ml-5 w-2">
                  <svg xmlns="http://www.w3.org/2000/svg"
                       viewBox="0 0 20 20"
                       fill="currentColor"
                       class="h-5 w-5">
                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                  </svg>
                </span>
              </button>
              <ul class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
                  aria-labelledby="dropdownMenuButton1"
                  data-te-dropdown-menu-ref>
                <li>
                  <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
                     href="#"
                     data-te-dropdown-item-ref>Action</a>
                </li>
                <li>
                  <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
                     href="#"
                     data-te-dropdown-item-ref>Another action</a>
                </li>
                <li>
                  <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
                     href="#"
                     data-te-dropdown-item-ref>Something else here</a>
                </li>
              </ul>
            </div>
            <div class="relative" data-te-dropdown-ref>
              <button class="flex items-center whitespace-nowrap rounded-[7px] bg-white px-6 pb-2 pt-2.5 text-15px font-bold leading-normal text-primary shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] motion-reduce:transition-none dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                      type="button"
                      id="dropdownMenuButton1"
                      data-te-dropdown-toggle-ref
                      aria-expanded="false"
                      data-te-ripple-init
                      data-te-ripple-color="light">
                1 Passenger
                <span class="ml-5 w-2">
                  <svg xmlns="http://www.w3.org/2000/svg"
                       viewBox="0 0 20 20"
                       fill="currentColor"
                       class="h-5 w-5">
                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                  </svg>
                </span>
              </button>
              <ul class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
                  aria-labelledby="dropdownMenuButton1"
                  data-te-dropdown-menu-ref>
                <li>
                  <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
                     href="#"
                     data-te-dropdown-item-ref>Action</a>
                </li>
                <li>
                  <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
                     href="#"
                     data-te-dropdown-item-ref>Another action</a>
                </li>
                <li>
                  <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
                     href="#"
                     data-te-dropdown-item-ref>Something else here</a>
                </li>
              </ul>
            </div>
            <div class="relative" data-te-dropdown-ref>
              <button class="flex items-center whitespace-nowrap rounded-[7px] bg-white px-6 pb-2 pt-2.5 text-15px font-bold leading-normal text-primary shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] motion-reduce:transition-none dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                      type="button"
                      id="dropdownMenuButton1"
                      data-te-dropdown-toggle-ref
                      aria-expanded="false"
                      data-te-ripple-init
                      data-te-ripple-color="light">
                Economy
                <span class="ml-5 w-2">
                  <svg xmlns="http://www.w3.org/2000/svg"
                       viewBox="0 0 20 20"
                       fill="currentColor"
                       class="h-5 w-5">
                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                  </svg>
                </span>
              </button>
              <ul class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
                  aria-labelledby="dropdownMenuButton1"
                  data-te-dropdown-menu-ref>
                <li>
                  <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
                     href="#"
                     data-te-dropdown-item-ref>Action</a>
                </li>
                <li>
                  <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
                     href="#"
                     data-te-dropdown-item-ref>Another action</a>
                </li>
                <li>
                  <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
                     href="#"
                     data-te-dropdown-item-ref>Something else here</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="flex text-base">
            <div class="card bg-[#fff] w-[220.79px] text-[#A9A9A9] px-3 py-5 rounded-[7px]">
              <p class="text-[13px]">Departure?</p>
              <h3 class="text-[20px]">City or Airport</h3>
            </div>
            <div class="card bg-[#fff] w-[220.79px] mx-5 text-[#A9A9A9] px-3 py-5 rounded-[7px]">
              <p class="text-[13px]">Departure?</p>
              <h3 class="text-[20px]">City or Airport</h3>
            </div>
            <div class="flex bg-[#fff] w-[324.93px] text-[#A9A9A9] px-3 py-5 rounded-[7px]">
              <div class="pr-7">
                <p class="text-[13px]">Departure Date</p>
                <h3 class="text-[20px] text-primary">Jan 2, 2023</h3>
              </div>
              <div class="pl-7 return-card">
                <p class="text-[13px]">Return Date</p>
                <h3 class="text-[20px] text-primary">Feb 2, 2023</h3>
              </div>
            </div>
            <button class="bg-[#CA0000] rounded-[7px] text-white ml-5 px-5 hover:bg-red-700">Book!</button>
          </div>
        </div>
      </div>
    </section>
    <!-- BOOK FLIGHT SECTION DESKTOP END-->
    <!-- BOOK FLIGHT SECTION MOBILE-->
    <section class="w-full">
      <div class="mobile-template">
        <div class="bg-[#b2d4ef] w-full px-5 py-5 mt-5">
          <div class="grid grid-cols-2">
            <button class="py-3 px-8 pr-10 bg-primary text-white rounded-[7px]">Book Flight</button>
            <button class="py-3 px-8 pr-10 bg-[#ffff] text-primary rounded-[7px] ml-2">Visa</button>
          </div>
          <nav class="flight-menu uppercase flex gap-5 text-primary text-sm font-medium mt-8">
            <li class="border border-x-0 border-t-0 border-primary border-b-2 font-semibold list-none">Rounded Trip</li>
            <li class="list-none">One Way</li>
            <li class="list-none">Multi-City</li>
          </nav>
          <div class="my-5 text-primary text-sm font-medium">
            <div class="bg-white px-5 py-5 w-full flex flex-col mb-3 rounded-[7px]">
              <span class="text-[#A9A9A9] text-[9px]">Depature</span>
              <span class="">Nnamdi Azikiwa Airport</span>
            </div>
            <div class="bg-white px-5 py-5 w-full flex flex-col mb-3 rounded-[7px]">
              <span class="text-[#A9A9A9] text-[9px]">Depature</span>
              <span class="text-sm">Nnamdi Azikiwa Airport</span>
            </div>
            <div class="bg-white px-5 py-5 w-full grid grid-cols-2 mb-3 rounded-[7px]">
              <div class="flex flex-col">
                <span class="text-[#A9A9A9] text-[9px]">Depature Date</span>
                <span class="">Jan 2, 2023</span>
              </div>
              <div class="flex-col flex">
                <span class="text-[#A9A9A9] text-[9px]">Depature Date</span>
                <span class="">Jan 2, 2023</span>
              </div>
            </div>
            <div class="grid grid-cols-2 gap-3">
              <div class="relative" data-te-dropdown-ref>
                <button class="flex items-center whitespace-nowrap rounded-[7px] bg-white px-5 py-2 text-sm font-bold uppercase leading-normal text-primary shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] motion-reduce:transition-none dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                        type="button"
                        id="dropdownMenuButton1"
                        data-te-dropdown-toggle-ref
                        aria-expanded="false"
                        data-te-ripple-init
                        data-te-ripple-color="light">
                  1 Passenger
                  <span class="ml-5 w-2">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 20 20"
                         fill="currentColor"
                         class="h-5 w-5">
                      <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                    </svg>
                  </span>
                </button>
                <ul class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
                    aria-labelledby="dropdownMenuButton1"
                    data-te-dropdown-menu-ref>
                  <li>
                    <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
                       href="#"
                       data-te-dropdown-item-ref>Action</a>
                  </li>
                  <li>
                    <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
                       href="#"
                       data-te-dropdown-item-ref>Another action</a>
                  </li>
                  <li>
                    <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
                       href="#"
                       data-te-dropdown-item-ref>Something else here</a>
                  </li>
                </ul>
              </div>
              <div class="relative" data-te-dropdown-ref>
                <button class="flex items-center whitespace-nowrap rounded-[7px] bg-white px-5 py-2 text-sm font-bold uppercase leading-normal text-primary shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] motion-reduce:transition-none dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                        type="button"
                        id="dropdownMenuButton1"
                        data-te-dropdown-toggle-ref
                        aria-expanded="false"
                        data-te-ripple-init
                        data-te-ripple-color="light">
                  1 Passenger
                  <span class="ml-5 w-2">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 20 20"
                         fill="currentColor"
                         class="h-5 w-5">
                      <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                    </svg>
                  </span>
                </button>
                <ul class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
                    aria-labelledby="dropdownMenuButton1"
                    data-te-dropdown-menu-ref>
                  <li>
                    <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
                       href="#"
                       data-te-dropdown-item-ref>Action</a>
                  </li>
                  <li>
                    <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
                       href="#"
                       data-te-dropdown-item-ref>Another action</a>
                  </li>
                  <li>
                    <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
                       href="#"
                       data-te-dropdown-item-ref>Something else here</a>
                  </li>
                </ul>
              </div>
            </div>
            <button class="bg-[#CA0000] mt-10 text-[#ffff] text-sm rounded-[7px] px-5 py-5">Book now!</button>
          </div>
        </div>
        <div class="py-8 px-5 border border-x-0 border-t-0 border-[#D8D8D8]">
          <div class="flex justify-between">
            <img src="/images/left_arrow.svg" alt="" />
            <img src="/images/book.svg" alt="" />
            <img src="/images/right_arrow.svg" alt="" />
          </div>
        </div>
        <div class="px-5 py-5">
          <h3 class="font-semibold text-[18px] leading-10">Study Abroad</h3>
          <p class="text-textPrimary text-[12px]">Apply to study in any country of your choice</p>
        </div>
        <div class="py-5 px-5">
          <div class="study-card-1 px-5">
            <div class="flex justify-between pt-60">
              <p class="text-white text-[17px] font-bold">Australia</p>
              <button class="p-3 bg-[#B2D4EF] rounded-md">Apply</button>
            </div>
          </div>
          <div class="study-card-2 px-5">
            <div class="flex justify-between pt-60">
              <p class="text-white text-[17px] font-bold">Canada</p>
              <button class="p-3 bg-[#B2D4EF] rounded-md">Apply</button>
            </div>
          </div>
          <div class="study-card-3 mb-5 px-5">
            <div class="flex justify-between pt-60">
              <p class="text-white text-[17px] font-bold">United Kingdom</p>
              <button class="p-3 bg-[#B2D4EF] rounded-md">Apply</button>
            </div>
          </div>
          <div class="border border-x-0 border-b-0">
            <div class="mt-6">
              <h3 class="text-primary text-[15px] leading-[22.5px] font-medium">Cheap, affordable Flights & Incredible Hotels</h3>
              <p class="text-textPrimary text-[11px] leading-[20.5px]">
                We are one-stop travel and tourism tech shop. At Prelate Travel,
                we work with experienced travel experts to provide our clients
                with essential travel information, assist and guide them through
                their travel application processes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- BOOK FLIGHT SECTION MOBILE END-->
    <!-- SERVICES DESKTOP START -->
    <section>
      <div class="custom_container overflow-hidden text-primary text-sm relative">
        <div class="swiper-container flex">
          <div class="swiper-wrapper my-10 flex gap-10 w-full py-5">
            <div class="w-[33%] swiper-slide cursor-grab">
              <div class="flex justify-between mb-5 mr-4">
                <h3 class="font-bold text-[20px] leading-[30px] text-primary">Reservation</h3>
                <img src="{% static "/images/arrow-right.svg" %}" class="border bg-primary rounded-full px-2 py-2 w-[35px] h-[35px]" alt="" />
              </div>
              <p class="text-textPrimary">
                The process of procuring a visa could pose to be tiring and
                frustrating most times, Our visa experts can guide you through the procedures of each step correctly.
              </p>
            </div>
            <div class="w-[33%] swiper-slide cursor-grab">
              <div class="flex justify-between mb-5 mr-4">
                <h3 class="font-bold text-[20px] leading-[30px] text-primary">Visa Assistance</h3>
                <img src="{% static "/images/arrow-right.svg" %}" class="border bg-primary rounded-full px-2 py-2 w-[35px] h-[35px]" alt="" />
              </div>
              <p class="text-textPrimary">
                The process of procuring a visa could pose to be tiring and
                frustrating most times, Our visa experts can guide you through the procedures of each step correctly.
              </p>
            </div>
            <div class="w-[33%] swiper-slide cursor-grab">
              <div class="flex justify-between mb-5 mr-4">
                <h3 class="font-bold text-[20px] leading-[30px] text-primary">Tour</h3>
                <img src="{% static "/images/arrow-right.svg" %}" class="border bg-primary rounded-full px-2 py-2 w-[35px] h-[35px]" alt="" />
              </div>
              <p class="text-textPrimary">
                We offer several top notch affordable tour packages ranging from recreational, luxury, cultural, adventure, religious tours that meets and satisfy our client’s demands.
              </p>
            </div>
            <div class="w-[33%] swiper-slide cursor-grab">
              <div class="flex justify-between mb-5 mr-4">
                <h3 class="font-bold text-[20px] leading-[30px] text-primary">Reservation</h3>
                <img src="{% static "/images/arrow-right.svg" %}" class="border bg-primary rounded-full px-2 py-2 w-[35px] h-[35px]" alt="" />
              </div>
              <p class="text-textPrimary">
                The process of procuring a visa could pose to be tiring and
                frustrating most times, our visa experts can relieve you of such
                stress.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- SERVICES DESKTOP END -->
    <!-- STUDY SERVICES START -->
    <section class="bg-[#EEEEEE] py-10 w-full study-services">
      <div class="custom_container">
        <div class="flex justify-between">
          <h2 class="text-[34px] text-primary font-bold">Study Services</h2>
          <p class="text-textPrimary text-base">Apply to study in any country of your choice</p>
        </div>
        <div class="grid grid-cols-4 gap-5 my-10 w-full">
          <div class="cursor-pointer">
            <img src="{% static "/images/australia.png" %}" alt="" />
            <p class="text-[#3A3A3A] text-[20px] font-bold mt-2">Australia</p>
          </div>
          <div class="cursor-pointer">
            <img src="{% static "/images/canada.png" %}" alt="" />
            <p class="text-[#3A3A3A] text-[20px] font-bold mt-2">Canada</p>
          </div>
          <div class="cursor-pointer">
            <img src="{% static "/images/england.png" %}" alt="" />
            <p class="text-[#3A3A3A] text-[20px] font-bold mt-2">England</p>
          </div>
          <div class="cursor-pointer">
            <img src="{% static "/images/ukraine.png" %}" alt="" />
            <p class="text-[#3A3A3A] text-[20px] font-bold mt-2">Ukraine</p>
          </div>
        </div>
        <div class="flex justify-between w-full">
          <p></p>
          <p class="text-[20px] text-primary flex font-[600]">
            <a href="/" class="mt-1">View More Nations</a>
            <img src="{% static "/images/arrow-right.svg" %}" class="border mx-5 bg-primary rounded-full px-2 py-2 w-[35px] h-[35px]" alt="" />
          </p>
        </div>
      </div>
    </section>
    <!-- STUDY SERVICES END-->
    <!-- EXTRA COPY START -->
    <section class="custom_container py-10">
      <div class="mb-8 prelate-travels">
        <h2 class="font-bold text-primary text-[30px] leading-[45px]">
          Prelate Travel:
          <span class="font-normal text-[26px]">Cheap, affordable Flights and Incredible Hotels</span>
        </h2>
        <p class="text-textPrimary text-sm w-full max-w-[964px] leading-[34px]">
          We are one-stop travel and tourism tech shop. At Prelate Travel, we
          work with experienced travel experts to provide our clients with
          essential travel information, assist and guide them through their
          travel application processes. We also provide our clients with
          essential travel services and exclusive deals at affordable rates
          that meet their travel taste and demands. We make provisions for one
          on one engagement with one of our travel experts; to meet with our
          clients who will listen to your travel plans and offer a
          professional advice that will assist you to achieve and get maximum
          satisfaction of your travel plans, manage travel cost to afford
          topnotch quality travel services that suits your choice of
          preference and demand and a follow up with your travel applications.
        </p>
      </div>
    </section>
    <!-- EXTRA COPY END -->
    <!-- FOOTER -->
    {% include "latest/components/_footer.html" %}
    <!-- FOOTER -->
    <!-- SCRIPTS -->
    {% include "latest/partials/_scripts.html" %}
    <!-- SCRIPTS -->
  </body>
</html>
