<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    {% include "latest/partials/_head.html" with add_title="Home | Prelate Travels & Tours" %}
    <link rel="stylesheet"
          href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  </head>
  <body>
    <!-- HEADER -->
    {% include "latest/components/_header.html" %}
    <!-- HEADER -->
    <!-- CAROUSEL SECTION MOBILE -->
    {% include "latest/components/_mobile_carousel.html" %}
    <!-- CAROUSEL SECTION MOBILE END-->
    <!-- CAROUSEL SECTION -->
    {% include "latest/components/_desktop_carousel.html" %}
    <!-- CAROUSEL SECTION END-->
    <!-- BOOK FLIGHT SECTION DESKTOP -->
    <section class="container__inner_layout !pb-0">
      <div class="pt-10 pb-0 text-primary block tablet:hidden">
        <!-- BOOK FLIGHT COMPONENT -->
        {% include "latest/components/book_flight_desktop.html" %}
        <!-- BOOK FLIGHT COMPONENT END-->
      </div>
    </section>
    <!-- BOOK FLIGHT SECTION DESKTOP END-->
    <section class="container__inner_layout hidden tablet:block text-xs text-primary">
      <!-- BOOK FLIGHT SECTION MOBILE-->
      <div class="bg-[#b2d4ef] w-full px-5 py-5 mt-5">
        <div class="grid grid-cols-2">
          <button class="py-3 px-8 pr-10 bg-primary text-white rounded-sm">Book Flight</button>
          <button class="py-3 px-8 pr-10 bg-[#ffff] rounded-sm ml-2">Visa</button>
        </div>
        <!-- BOOK FLIGHT COMPONENT -->
        {% include "latest/components/book_flight_mobile.html" %}
        <!-- BOOK FLIGHT COMPONENT END-->
      </div>
      <!-- BOOK FLIGHT SECTION MOBILE END-->
      <div class="border-b border-[#D8D8D8]">
        <div class="swiper mobile-swiper">
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide py-8">
              <div class="flex justify-center items-center">
                <div class="rounded-full bg-primary p-2 mr-2">
                  <img src="{% static 'images/book.png' %}" alt="" class="mx-auto" />
                </div>
                <p class="font-bold text-sm">Book Reservations</p>
              </div>
            </div>
            <div class="swiper-slide py-8">
              <div class="flex justify-center items-center">
                <div class="rounded-full bg-primary p-2 mr-2">
                  <img src="{% static 'images/book.png' %}" alt="" class="mx-auto" />
                </div>
                <p class="font-bold text-sm">Book Reservations 2</p>
              </div>
            </div>
            <div class="swiper-slide py-8">
              <div class="flex justify-center items-center">
                <div class="rounded-full bg-primary p-2 mr-2">
                  <img src="{% static 'images/book.png' %}" alt="" class="mx-auto" />
                </div>
                <p class="font-bold text-sm">Book Reservations 3</p>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev swipper-nav-btn after:!content-['prev']"></div>
          <div class="swiper-button-next swipper-nav-btn after:!content-['next']"></div>
        </div>
      </div>
      <div class="py-5">
        <h3 class="font-semibold text-lg">Study Abroad</h3>
        <p class="text-textPrimary text-xs">Apply to study in any country of your choice</p>
      </div>
      <div class="py-5">
        <div class="study-card-1 w-full mb-5 flex items-end h-72 bg-no-repeat bg-cover">
          <div class="h-2/4 flex items-end w-full gradient-blue">
            <div class="w-full flex justify-between items-center px-5 pb-10">
              <p class="text-white text-base font-bold">Australia</p>
              <button class="px-5 py-3 bg-[#B2D4EF] rounded-sm uppercase font-medium">Apply</button>
            </div>
          </div>
        </div>
        <div class="study-card-2 w-full mb-5 flex items-end h-72 bg-no-repeat bg-cover">
          <div class="h-2/4 flex items-end w-full gradient-blue">
            <div class="w-full flex justify-between items-center px-5 pb-10">
              <p class="text-white text-base font-bold">Canada</p>
              <button class="px-5 py-3 bg-[#B2D4EF] rounded-sm uppercase font-medium">Apply</button>
            </div>
          </div>
        </div>
        <div class="study-card-3 w-full mb-5 flex items-end h-72 bg-no-repeat bg-cover">
          <div class="h-2/4 flex items-end w-full gradient-blue">
            <div class="w-full flex justify-between items-center px-5 pb-10">
              <p class="text-white text-base font-bold">United Kingdom</p>
              <button class="px-5 py-3 bg-[#B2D4EF] rounded-sm uppercase font-medium">Apply</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- SERVICES DESKTOP START -->
    <section>
      <div class="custom_container text-sm tablet:hidden">
        <div class="swiper desktop-swiper">
          <div class="swiper-wrapper my-10 py-5 pl-20 mx-auto">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="flex justify-between mb-5 mr-4">
                <h3 class="font-bold text-xl leading-[30px] text-primary">Reservation</h3>
                <img src="{% static "/images/arrow-right.svg" %}" class="border bg-primary rounded-full px-2 py-2 w-[35px] h-[35px]" alt="" />
              </div>
              <p class="text-textPrimary">
                The process of procuring a visa could pose to be tiring and
                frustrating most times, Our visa experts can guide you through the procedures of each step correctly.
              </p>
            </div>
            <div class="swiper-slide">
              <div class="flex justify-between mb-5 mr-4">
                <h3 class="font-bold text-xl leading-[30px] text-primary">Visa Assistance</h3>
                <img src="{% static "/images/arrow-right.svg" %}" class="border bg-primary rounded-full px-2 py-2 w-[35px] h-[35px]" alt="" />
              </div>
              <p class="text-textPrimary">
                The process of procuring a visa could pose to be tiring and
                frustrating most times, Our visa experts can guide you through the procedures of each step correctly.
              </p>
            </div>
            <div class="swiper-slide">
              <div class="flex justify-between mb-5 mr-4">
                <h3 class="font-bold text-xl leading-[30px] text-primary">Tour</h3>
                <img src="{% static "/images/arrow-right.svg" %}" class="border bg-primary rounded-full px-2 py-2 w-[35px] h-[35px]" alt="" />
              </div>
              <p class="text-textPrimary">
                We offer several top notch affordable tour packages ranging from recreational, luxury, cultural, adventure, religious tours that meets and satisfy our client’s demands.
              </p>
            </div>
            <div class="swiper-slide">
              <div class="flex justify-between mb-5 mr-20">
                <h3 class="font-bold text-xl leading-[30px] text-primary">Reservation 2</h3>
                <img src="{% static "/images/arrow-right.svg" %}" class="border bg-primary rounded-full px-2 py-2 w-[35px] h-[35px]" alt="" />
              </div>
              <p class="text-textPrimary">
                The process of procuring a visa could pose to be tiring and
                frustrating most times, our visa experts can relieve you of such
                stress.
              </p>
            </div>
            <div class="swiper-slide">
              <div class="flex justify-between mb-5 mr-20">
                <h3 class="font-bold text-xl leading-[30px] text-primary">Reservation 3</h3>
                <img src="{% static "/images/arrow-right.svg" %}" class="border bg-primary rounded-full px-2 py-2 w-[35px] h-[35px]" alt="" />
              </div>
              <p class="text-textPrimary">
                The process of procuring a visa could pose to be tiring and
                frustrating most times, our visa experts can relieve you of such
                stress.
              </p>
            </div>
            <div class="swiper-slide">
              <div class="flex justify-between mb-5 mr-20">
                <h3 class="font-bold text-xl leading-[30px] text-primary">Reservation 4</h3>
                <img src="{% static "/images/arrow-right.svg" %}" class="border bg-primary rounded-full px-2 py-2 w-[35px] h-[35px]" alt="" />
              </div>
              <p class="text-textPrimary">
                The process of procuring a visa could pose to be tiring and
                frustrating most times, our visa experts can relieve you of such
                stress.
              </p>
            </div>
          </div>
          <div class="swiper-button-prev swipper-nav-btn after:!content-['prev']"></div>
          <div class="swiper-button-next swipper-nav-btn after:!content-['next']"></div>
        </div>
      </div>
    </section>
    <!-- SERVICES DESKTOP END -->
    <!-- STUDY SERVICES START -->
    <section class="bg-[#EEEEEE] py-10 w-full study-services">
      <div class="container__inner_layout">
        <div class="flex justify-between items-center">
          <h2 class="text-3xl text-primary font-bold">Study Services</h2>
          <p class="text-textPrimary text-base">Apply to study in any country of your choice</p>
        </div>
        <div class="grid grid-cols-4 gap-5 my-10 w-full">
          <div class="cursor-pointer">
            <img src="{% static "/images/australia.png" %}" alt="" />
            <p class="text-[#3A3A3A] text-xl font-bold mt-2">Australia</p>
          </div>
          <div class="cursor-pointer">
            <img src="{% static "/images/canada.png" %}" alt="" />
            <p class="text-[#3A3A3A] text-xl font-bold mt-2">Canada</p>
          </div>
          <div class="cursor-pointer">
            <img src="{% static "/images/england.png" %}" alt="" />
            <p class="text-[#3A3A3A] text-xl font-bold mt-2">England</p>
          </div>
          <div class="cursor-pointer">
            <img src="{% static "/images/ukraine.png" %}" alt="" />
            <p class="text-[#3A3A3A] text-xl font-bold mt-2">Ukraine</p>
          </div>
        </div>
        <div class="flex justify-between w-full">
          <p></p>
          <p class="text-xl text-primary flex font-[600]">
            <a href="/" class="mt-1">View More Nations</a>
            <img src="{% static "/images/arrow-right.svg" %}" class="border mx-5 bg-primary rounded-full px-2 py-2 w-[35px] h-[35px]" alt="" />
          </p>
        </div>
      </div>
    </section>
    <!-- STUDY SERVICES END-->
    <!-- EXTRA COPY START -->
    <section class="container__inner_layout !py-10 tablet:!py-0">
      <h2 class="text-primary text-3xl">
        <span class="font-bold tablet:hidden">Prelate Travel:</span>
        <span class="text-2xl leading-6 tablet:text-base tablet:mb-1.5">Cheap, affordable Flights and Incredible Hotels</span>
      </h2>
      <p class="text-textPrimary text-sm text-justify leading-[34px] mobile:text-xxs mobile:leading-6">
        We are one-stop travel and tourism tech shop. At Prelate Travel, we
        work with experienced travel experts to provide our clients with
        essential travel information, assist and guide them through their
        travel application processes. We also provide our clients with
        essential travel services and exclusive deals at affordable rates
        that meet their travel taste and demands. We make provisions for one
        on one engagement with one of our travel experts; to meet with our
        clients who will listen to your travel plans and offer a
        professional advice that will assist you to achieve and get maximum
        satisfaction of your travel plans, manage travel cost to afford
        topnotch quality travel services that suits your choice of
        preference and demand and a follow up with your travel applications.
      </p>
    </section>
    <!-- EXTRA COPY END -->
    <!-- FOOTER -->
    {% include "latest/components/_footer.html" %}
    <!-- FOOTER -->
    <!-- SCRIPTS -->
    {% include "latest/partials/_scripts.html" %}
    <!-- SCRIPTS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{% static 'javascripts/index.js' %}"></script>
  </body>
</html>
