<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        {% load widget_tweaks %}
        {% include "latest/partials/_head.html" with add_title="Post Arrival Services | Prelate Travels & Tours" %}
    </head>
    <body>
        {% include "latest/components/_header.html" %}
        <!-- CAROUSEL SECTION MOBILE -->
        {% include "latest/components/_mobile_carousel.html" %}
        <!-- CAROUSEL SECTION MOBILE END-->
        <!-- Hero Sectio  -->
        <section class="w-full h-[60vh] bg-cover bg-no-repeat post-arrival-hero relative tablet:h-[30vh]">
            {% comment %} <h2 class="text-[40px] leading-[60px] font-bold text-primary px-20 pt-12 mobile:px-5 mobile:pt-8 mobile:text-lg mobile:leading-normal mobile:font-semibold"> {% endcomment %}
            <h2 class="page-title text-primary px-20 pt-12 mobile:px-5 mobile:pt-8 mobile:text-primary">Post Arrival Services</h2>
            <div class="flex justify-center item-center">
                <img src="{% static 'images/mercedes-benz.png' %}"
                     class="absolute top-[170px] right-9 w-[750px]"
                     alt="">
            </div>
        </section>
        <!-- POST ARRIVAL SERVICE FORM -->
        <section class="container__inner_layout  pb-16">
            <div class="mb-14 mt-36 mobile:mt-16 mobile:mb-0">
                <p class="text-textPrimary text-sm leading-[27px] w-[calc(100%_-_100px)] text-justify tablet:w-full mobile:pr-0 mobile:mb-6 mobile:text-xs">
                    Make your transition to outside the country seamless with our comprehensive post-arrival services. Our dedicated
                    team will assist you every step of the way, ensuring a smooth and memorable start to your new chapter. Explore
                    Canada with confidence!
                </p>
            </div>
            <div>
                <div class="form-title">Book Postal Arrival Services</div>
                <h3 class="text-red-700 text-2xl font-semibold my-5 mobile:text-base mobile:my-2.5">
                    All payment includes a 13% HST tax
                </h3>
                <form class="text-primary w-full mobile:pt-2.5"
                      method="POST"
                      action=""
                      enctype="multipart/form-data">
                    {{ form.errors }} {{ form.non_field_errors }}
                    {% csrf_token %}
                    <div class="flex flex-col mb-5">
                        <label class="input-label">Full Name</label>
                        {% render_field form.fullname class="input-style" placeholder="----------" %}
                    </div>
                    <div class="flex flex-col mb-5">
                        <label class="input-label">Phone Number</label>
                        {% render_field form.phonenumber class="input-style" placeholder="----------" %}
                    </div>
                    <div class="flex flex-col mb-5">
                        <label for="" class="input-label">Email</label>
                        {% render_field form.email class="input-style" placeholder="----------" %}
                    </div>
                    <div class="flex flex-col mb-5">
                        <label for="" class="input-label flex justify-between">
                            Visa Category Approved
                            <img src="{% static 'images/shaded-down-arrow.svg' %}"
                                 class="shaded-down-arrow"
                                 alt="" />
                        </label>
                        {% comment %} <select required class="input-style">
                            <option value="">----------</option>
                        </select> {% endcomment %}
                        {% render_field form.approved_visa_type class="input-style" placeholder="----------" %}
                    </div>
                    <div class="flex flex-col mb-5">
                        <label for="" class="input-label">Proposed Date of Entry</label>
                        <div class="relative w-full">
                            <div class="calendar">
                                <img src="{% static 'images/calendar-icon.png' %}" class="h-4">
                            </div>
                            {% render_field form.arrival_date class="input-style w-full" placeholder="mm/dd/yyyy" datepicker="true" %}
                        </div>
                    </div>
                    <div class="flex flex-col mb-5">
                        <label for="" class="input-label flex justify-between">
                            Final Drop off Location for
                            Airport Pickup
                            <img src="{% static 'images/shaded-down-arrow.svg' %}"
                                 class="shaded-down-arrow"
                                 alt="" />
                        </label>
                        {% render_field form.final_destination class="input-style" placeholder="----------" %}
                    </div>
                    <div class="flex flex-col mb-5">
                        <label for="" class="input-label flex justify-between">
                            Type of accomodation
                            <img src="{% static 'images/shaded-down-arrow.svg' %}"
                                 class="shaded-down-arrow"
                                 alt="" />
                        </label>
                        {% render_field form.accomodation_type class="input-style" placeholder="----------" %}
                    </div>
                    <div class="flex flex-col mb-5">
                        <label for="" class="input-label">Upload Document</label>
                        {% comment %} <input type="file"
        class="input-style mobile:!border mobile:rounded-md"
        multiple
        accept="image/*" /> {% endcomment %}
                        {% render_field form.document class="input-style mobile:!border mobile:rounded-md" %}
                    </div>
                    <button class="submit-btn">Submit Form</button>
                </form>
            </div>
        </section>
        <!-- POST ARRIVAL SERVICE FORM -->
        <!-- FOOTER -->
        {% include "latest/components/_footer.html" %}
        <!-- FOOTER -->
        <!-- SCRIPTS -->
        {% include "latest/partials/_scripts.html" %}
        <script src="{% static 'javascripts/datepicker.js' %}"></script>
        <script src="{% static 'javascripts/sweetAlert.js' %}"></script>
        <script src="{% static 'javascripts/notification.js' %}"></script>
    </body>
</html>
