<!DOCTYPE html>
<html>
  <head>{% include "partials/_head.html" with add_title="Privacy Policy | Prelate Travels & Tours" %}</head>
  <body>
    {% include "partials/components/_header.html" %}
    <div class="faq-header">
      <div class="container">Privacy Policy</div>
    </div>
    <div class="faq-main">
      <div class="container">
        <div class="mt-3">
          <p>
            At Prelatetravel, we respect your privacy therefore we are committed to ensuring that we protect it through our compliance with these policies.
          </p>
        </div>
        <div class="mt-3">
          <strong>1. INTRODUCTION</strong>
          <p>
            This policy and other documents which are referred to in it, describe the personal information that we collect from you or that you provided us on this website
            Prelatetravel.com which may be linked to other websites owned and operated by our affiliated companies and how that information may be used or disclosed by us. This
            Privacy Policy relates explicitly the informations we collect on this website, in email, text and other electronic messages between you, our Website and us, through
            mobile and desktop applications you download from this Website, which provide dedicated non-browser-based interaction between you and this Website and when you interact
            with our advertising and applications on third-party websites and services, if those applications or advertising include links to this policy.
          </p>
        </div>
        <div class="mt-3">
          <strong>2. CHILDREN UNDER I8 YEARS OF AGE</strong>
          <p>
            Our Website is not intended for children that are under the age of 18 years as they are yet to be adults therefore are not eligible to purchase any of our services
            themselves. No one under the age of 18 may provide any personal information to us or on the Website. We do not knowingly collect personal information from children
            under 18. If you are under 18, please do not register or access the Website, make any purchases through the Website or send any information about yourself to us,
            including your name, address, telephone number or email address. In any occurrence that we learn that we have collected personal information from a child under age 18
            without verification of parental consent, we will delete that information. If you believe that we might have any information from or about a child under 18, please
            contact us at Prelatetravel@gmail.com
          </p>
        </div>
        <div class="mt-3">
          <strong>3. INFORMATION WE COLLECT ABOUT YOU AND HOW WE COLLECT IT</strong>
          <p>
            We obtain several types of information from and about the users of our Website, including: Information that you provide to us. ∙ The information we collect as you
            navigate through our site, includes usage details, IP addresses. ∙ The information we receive from third parties, for example our business partners and independent
            sales ∙ Representatives; Information about your internet connection, the equipment you use to access our Website and usage details. ∙ We collect this information:
            Directly from you when you provide it to us. ∙ As you automatically navigate through the site, Information collected may include usage details, IP addresses and
            information collected through cookies, web beacons and other tracking technologies., from third parties, e.g our business partners.
          </p>
        </div>
        <div class="mt-3">
          <strong>4. HOW WE USE INFORMATIONS OBTAINED FROM THIS SITE</strong>
          <p>
            The information that we obtain from you which you have provided us with, including personal information can be used in the following ways:
            <ul style="padding-left: 30px">
              <li>
                To present our Website and its contents in a suitable and effective manner for you and for your computer. To provide you with information, products or services that you request from us. To
                carry out our obligations and enforce our rights arising from any contracts entered into between you and us.
              </li>
              <li>To notify you about changes to our services</li>
              <li>To allow you to participate in interactive features of our service, when you choose to do so</li>
              <li>In any other way we may describe when you provide the information.</li>
              <li>For any other purpose with your consent</li>
            </ul>
          </p>
        </div>
        <div class="mt-3">
          <strong>5. DISCLOSURE OF YOUR INFORMATION</strong>
          <p>
            We may disclose personal information that you provided us via this Website to the following
            third parties:
            <ul style="padding-left: 30px">
              <li>
                Our holding entities, subsidiaries and affiliates, Contractors including Independent Sales
                Representatives and service providers we use to support
              </li>
              <li>
                To a buyer in the event of a merger, divestiture, restructuring, reorganization, dissolution or any
                other form of sale of some or all of Prelate Travel services Ltd assets or those of its holding
                company or entity, whether as a going concern or as part of bankruptcy, liquidation or similar
                proceeding, in which personal information held by PrelateTravel about its customers is among
                the assets transferred.
              </li>
              <li>
                To third parties to market their products or services to you if you have not opted out of these
                disclosures
              </li>
              <li>
                We contractually require these third parties to keep personal information confidential and use it
                only for the purposes for which we disclose it to them.  To fulfill the purpose for which you
                provide it.
              </li>
              <li>For any other purpose disclosed by us when you provide the information</li>
              <li>
                With your consent, we may also disclose your personal information to third parties to:  Comply
                with any court order or other legal obligation.
              </li>
              <li>If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of</li>
            </ul>
            Prelate Travel services Ltd, our customers, or others. This includes exchanging information with
            other companies and organizations for the purposes of fraud protection and credit risk reduction.
          </p>
        </div>
        <div class="mt-3">
          <strong>6. DATA SECURITY</strong>
          <p>
            Our web team is composed of ICT experts who are in charge of the website and they have
            implemented various measures designed to secure all personal information we receive from
            accidental loss and unauthorized access, use, alteration and disclosure. All information provided
            to us by our clients is stored on our secure servers behind firewalls. Any payment transactions
            and personally identifiable information will be encrypted to protect sensitive information
            transmitted online; we also protect your information offline. Only employees who need the
            information to perform a specific job (for example, billing or customer service) are granted
            access to personally identifiable information. The computer servers in which we store personally
            identifiable information are kept in a secure environment.
          </p>
        </div>
        <div class="mt-3">
          <strong>7. CHANGES OF OUR PRIVATE POLICY</strong>
          <p>
            We reserve the right to post any changes we make to our Privacy Policy on this page and the
            Website home page. If we make material changes to this Privacy Policy, we will notify you by
            email or through a notice on the Website home page. The date the Privacy Policy was last revised
            would always be identified at the top of the page.
          </p>
        </div>
        <div class="mt-3">
          <strong>8. TRANSFER OF PERSONAL INFORMATION</strong>
          <p>
            For our clients who are visiting our website from outside Nigeria; please be aware that your
            information may be transferred to, stored, and processed in Nigeria from where our central
            database is operated. The data protection law and other laws of Nigeria may vary in content or
            may not be as comprehensive as those in your country, but please be assured that we are taking
            all necessary steps to ensure that your privacy is protected. By using our services, you
            understand that your information may be transferred to our facilities and to those third parties
            with whom we share it as described in this Policy.
          </p>
        </div>
        <div class="mt-3">
          <strong>9. SURVEYS</strong>
          <p>
            Once awhile, our site may requests some personal information via surveys or contests. To
            participate in these surveys or contests is optional and as our customer, it is optional as you may
            choose whether or not to participate and therefore disclose any information in respect to that.
            Information requested may include contact information (such as name and address), and
            demographic information (such as post code, age level etc). Contact information will be used to
            notify the winners and award prizes. This survey information will be used strictly for purposes of
            monitoring and improving the use and satisfaction of our customers on this site.
          </p>
        </div>
        <div class="mt-3">
          <strong>10. TERMS AND CONDITIONS</strong>
          <p>
            Please note that it is obligatory to visit our Terms and Conditions section which establishes the
            use, disclaimers and limitations of liability governing the use of our website at
            <a href="{% url 'term-of-service' %}">www.prelatetravel.com</a>
          </p>
        </div>
        <div class="mt-3">
          <strong>11. CLIENT’S CONSENT</strong>
          <p>
            By using our site, you consent to all our Privacy Policy terms. And in no condition will we be
            held accountable for loss of any of the private information you provide us with on this website.
          </p>
        </div>
      </div>
    </div>
    {% include 'partials/components/_footer.html' %}
    {% include 'partials/_bottom.html' %}
  </body>
</html>
