<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    {% include "latest/partials/_head.html" with add_title="Book Your Reservations | Prelate Travels & Tours" %}
  </head>
  <body>
    <!-- HEADER -->
    {% include "latest/components/_header.html" %}
    <!-- HEADER END -->
    <!-- CAROUSEL SECTION MOBILE -->
    {% include "latest/components/_mobile_carousel.html" %}
    <!-- CAROUSEL SECTION MOBILE END-->
    <!-- CAROUSEL SECTION -->
    {% include "latest/components/_desktop_carousel.html" %}
    <!-- CAROUSEL SECTION END-->
    <!--BOOK FLIGHT DESKTOP -->
    <section class="container__inner_layout">
      <div class="py-10 text-primary block tablet:hidden">
        <h3 class="font-semibold text-[46px] mb-8 ">Book Flight</h3>
        <!-- BOOK FLIGHT COMPONENT -->
        {% include "latest/components/book_flight_desktop.html" %}
        <!-- BOOK FLIGHT COMPONENT END-->
        <!-- Reservation card -->
        <p class="text-textPrimary text-lg leading-[34px] my-10">
          Book available flights to any destination around the world, hotel
          reservation.
          <br>
          Request airport pick-up at any destination of the
          world.
        </p>
      </div>
    </section>
    <!--BOOK FLIGHT DESKTOP END-->
    <!--BOOK FLIGHT MOBILE -->
    <div class="w-full hidden tablet:block text-xs">
      <div class="bg-[#b2d4ef] w-full p-5 mt-0 text-primary">
        <div class="p-3 bg-primary text-white rounded-sm text-sm">Booking/Reservations</div>
        <!-- BOOK FLIGHT COMPONENT -->
        {% include "latest/components/book_flight_mobile.html" %}
        <!-- BOOK FLIGHT COMPONENT END-->
      </div>
      <div class="container__inner_layout">
        <p class="pt-5 text-textPrimary leading-6">
          Book available flights to any destination around the world, hotel reservation. Request airport pick-up at any destination of the world.
        </p>
      </div>
    </div>
    <!--BOOK FLIGHT MOBILE END -->
    <!-- FOOTER -->
    {% include "latest/components/_footer.html" %}
    <!-- FOOTER END-->
    <!-- SCRIPTS -->
    {% include "latest/partials/_scripts.html" %}
  </body>
</html>
