<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    {% include "latest/partials/_head.html" with add_title="Book Your Reservations | Prelate Travels & Tours" %}
  </head>
  <body>
    <!-- HEADER -->
    {% include "latest/components/_header.html" %}
    <!-- HEADER -->
    <!-- CAROUSEL SECTION MOBILE -->
    {% include "latest/components/_mobile_carousel.html" %}
    <!-- CAROUSEL SECTION MOBILE END-->
    <!-- SLIDER SECTION -->
    <!-- Main screen Carousel -->
    <section class="main-slider tablet:hidden">
      <div id="default-carousel" class="relative w-full" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-[80vh] overflow-hidden">
          <!-- Item 1 -->
          <div class="hidden duration-700 ease-in-out slider-1" data-carousel-item>
            <div class="absolute bottom-0 right-0 left-0 h-28 gradient-black"></div>
          </div>
          <!-- Item 2 -->
          <div class="hidden duration-700 ease-in-out slider-2" data-carousel-item>
            <div class="absolute bottom-0 right-0 left-0 h-[50%] gradient-blue">
              <div class="custom_container h-full flex items-end mb-5">
                <h3 class="text-[56px] leading-[84px] font-bold text-white">
                  Explore .
                  <span class="text-[56px] leading-[84px] text-buttonPrimary">Asia</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
        <!-- Slider indicators -->
        <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
          <button type="button"
                  class="indicator w-16 h-0.5"
                  aria-current="true"
                  aria-label="Slide 1"
                  data-carousel-slide-to="0"></button>
          <button type="button"
                  class="indicator w-16 h-0.5"
                  aria-current="false"
                  aria-label="Slide 2"
                  data-carousel-slide-to="1"></button>
        </div>
      </div>
    </section>
    <!-- SLIDER SECTION -->
    <section class="w-full container__inner_layout ">
      <!-- MOBILE -->
      <div class="hidden tablet:block text-xs">
        <div class="bg-[#b2d4ef] w-full px-5 py-5 mt-5 text-primary">
          <div class="p-3 bg-primary text-white rounded-sm text-sm">Booking/Reservations</div>
          <nav class="flight-menu uppercase flex gap-5  font-medium mt-8">
            <li class="border border-x-0 border-t-0 border-primary border-b-2 font-semibold list-none">Rounded Trip</li>
            <li class="list-none">One Way</li>
            <li class="list-none">Multi-City</li>
          </nav>
          <div class="relative">
            <div class="my-5 font-medium">
              <div class="bg-white px-3 py-2.5 w-full flex flex-col mb-3 rounded-sm">
                <span class="text-[#A9A9A9] text-xxs -mb-1">Depature</span>
                <span class="text-sm">Nnamdi Azikiwa Airport</span>
              </div>
              <div class="bg-white px-3 py-2.5 w-full flex flex-col mb-3 rounded-sm">
                <span class="text-[#A9A9A9] text-xxs -mb-1">Depature</span>
                <span class="text-sm">Nnamdi Azikiwa Airport</span>
              </div>
              <div class="absolute bg-[#b2d4ef] rounded-full grid place-content-center w-12 h-12 top-8 right-0">
                <div class=" bg-primary rounded-full w-8 h-8 grid place-content-center">
                  <img src="{% static 'images/arrow-vertical.png' %}">
                </div>
              </div>
            </div>
            <div class="bg-white px-3 py-2.5 w-full grid grid-cols-2 mb-3 rounded-sm font-medium">
              <div class="flex flex-col">
                <span class="text-[#A9A9A9] text-xxs -mb-1">Depature Date</span>
                <span class="text-sm">Jan 2, 2023</span>
              </div>
              <div class="flex-col flex">
                <span class="text-[#A9A9A9] text-xxs -mb-1">Depature Date</span>
                <span class="text-sm">Jan 2, 2023</span>
              </div>
            </div>
            <div class="grid grid-cols-2 gap-3">
              <div class="relative rounded-sm bg-white shadow-[0_4px_9px_-4px_#3b71ca] w-full">
                <select class="w-full rounded-sm text-sm font-medium h-full pl-4 border-none">
                  <option value="Round Trip">1 Passenger</option>
                  <option value="BAR">BAR</option>
                  <option value="THREE">THREE</option>
                  <option value="FOUR">FOUR</option>
                </select>
                <img src="{% static 'images/shaded-down-arrow.svg' %}"
                     class="shaded-down-arrow absolute !m-0 right-4 top-[40%] tablet:!block"
                     alt="" />
              </div>
              <div class="relative rounded-sm bg-white shadow-[0_4px_9px_-4px_#3b71ca] w-full">
                <select class="w-full rounded-sm h-full text-sm font-medium pl-4 border-none">
                  <option value="Round Trip">Economy</option>
                  <option value="BAR">BAR</option>
                  <option value="THREE">THREE</option>
                  <option value="FOUR">FOUR</option>
                </select>
                <img src="{% static 'images/shaded-down-arrow.svg' %}"
                     class="shaded-down-arrow absolute !m-0 right-4 top-[40%] tablet:!block"
                     alt="" />
              </div>
            </div>
            <button class="bg-[#CA0000] mt-6 text-[#ffff] text-sm rounded-sm px-8 py-4">Book now!</button>
          </div>
        </div>
        <div class="pt-5">
          <p class="text-textPrimary">
            Book available flights to any destination around the world, hotel reservation. Request airport pick-up at any destination of the world.
          </p>
        </div>
      </div>
      <!-- MOBILE END-->
      <!-- DESKTOP -->
      <div class="py-10 text-primary block tablet:hidden">
        <h3 class="font-semibold text-[46px] mb-8 ">Book Flight</h3>
        <div>
          <div class="bg-[#B2D4EF] w-full max-w-[950px] h-[250px] rounded-lg px-5 py-10">
            <!-- Dropdown menu -->
            <div class="flex gap-5 pb-5">
              <div class="relative rounded-lg bg-white  text-sm shadow-[0_4px_9px_-4px_#3b71ca] w-44">
                <select class="w-full rounded-lg font-bold h-full pl-4 border-none">
                  <option value="Round Trip">Round Trip</option>
                  <option value="BAR">BAR</option>
                  <option value="THREE">THREE</option>
                  <option value="FOUR">FOUR</option>
                </select>
                <img src="{% static 'images/shaded-down-arrow.svg' %}"
                     class="shaded-down-arrow absolute !m-0 right-4 top-[40%]"
                     alt="" />
              </div>
              <div class="relative rounded-lg bg-white  text-sm shadow-[0_4px_9px_-4px_#3b71ca] w-44">
                <select class="w-full rounded-lg font-bold h-full pl-4 border-none">
                  <option value="1 Passenger">1 Passenger</option>
                  <option value="BAR">BAR</option>
                  <option value="THREE">THREE</option>
                  <option value="FOUR">FOUR</option>
                </select>
                <img src="{% static 'images/shaded-down-arrow.svg' %}"
                     class="shaded-down-arrow absolute !m-0 right-4 top-[40%]"
                     alt="" />
              </div>
              <div class="relative rounded-lg bg-white  text-sm shadow-[0_4px_9px_-4px_#3b71ca] w-44">
                <select class="w-full rounded-lg font-bold h-full pl-4 border-none">
                  <option value="Economy">Economy</option>
                  <option value="BAR">BAR</option>
                  <option value="THREE">THREE</option>
                  <option value="FOUR">FOUR</option>
                </select>
                <img src="{% static 'images/shaded-down-arrow.svg' %}"
                     class="shaded-down-arrow absolute !m-0 right-4 top-[40%]"
                     alt="" />
              </div>
            </div>
            <!-- Book Card menu -->
            <div class="flex">
              <div class="card bg-[#fff] w-[220.79px] text-[#A9A9A9] px-3 py-5 rounded-lg">
                <p class="text-[13px]">Departure?</p>
                <h3 class="text-[20px]">City or Airport</h3>
              </div>
              <div class="card bg-[#fff] w-[220.79px] mx-5 text-[#A9A9A9] px-3 py-5 rounded-lg">
                <p class="text-[13px]">Departure?</p>
                <h3 class="text-[20px]">City or Airport</h3>
              </div>
              <div class="flex bg-[#fff] w-[324.93px] text-[#A9A9A9] px-3 py-5 rounded-lg">
                <div class="pr-7">
                  <p class="text-[13px]">Departure Date</p>
                  <h3 class="text-[20px] text-primary">Jan 2, 2023</h3>
                </div>
                <div class="pl-7 return-card">
                  <p class="text-[13px]">Return Date</p>
                  <h3 class="text-[20px] text-primary">Feb 2, 2023</h3>
                </div>
              </div>
              <button class="text-lg bg-[#CA0000] rounded-lg text-white ml-5 px-5 hover:bg-red-700">Book!</button>
            </div>
          </div>
          <!-- Reservation card -->
          <p class="text-textPrimary text-lg leading-[34px] my-10">
            Book available flights to any destination around the world, hotel
            reservation.
            <br>
            Request airport pick-up at any destination of the
            world.
          </p>
        </div>
      </div>
    </section>
    <!-- DESKTOP -->
    <!-- FOOTER -->
    {% include "latest/components/_footer.html" %}
    <!-- FOOTER -->
    <!-- SCRIPTS -->
    {% include "latest/partials/_scripts.html" %}
  </body>
</html>
