<!DOCTYPE html>
<html>
  <head>
    {% include "partials/_head.html" with add_title="Term of Service | Prelate Travels & Tours" %}
  </head>
  <body>
    {% include "partials/components/_header.html" %}

    <div class="faq-header">
      <div class="container">Term of Service</div>
    </div>
    <div class="faq-main">
      <div class="container">
        <div class="mt-3">
          <strong class="mt-3">ABOUT US </strong>
          <p>
            Prelate travel is an online leading travel agent established in the year 2018. We have emerged strongly as one of the leading online travel agencies that have ensured
            seamless travel and tourism services. Haven explored the challenges most travelers face while embarking on their trips, we were able to emerge with lasting solutions to
            ease these challenges and ensured efficiency in our services offered by our professional travel experts in their fields that work tirelessly to curb the difficulties
            travelers often face. Our online presence and easy access to our agents worldwide has ensured the reliability of our services to our customers.
          </p>
        </div>

        <div class="mt-3">
          <strong>WHY CHOSE US</strong>
          <p>
            We are a reliable source for travel information. We provide you with up to date answers to all your travel questions and assist in the best possible way to plan an
            effortless trip for you to the destination of your choice. We also serve as a trusted service provider to all the travel services that you require for a successful
            trip.
          </p>
        </div>

        <div class="mt-3">
          <strong>VISION</strong>
          <p>
            To serve our customers efficiently as a reliable travel and tourism service provider, to create a smooth relationship between us and our customers and to ensure that we
            live up to the expectations of our customers.
          </p>
        </div>

        <div class="mt-3">
          <strong>MISSION</strong>
          <p>
            To create ease and assurance in the travel world, ensure smooth travel plans and enjoyable trip to the destination of your choice. Creating a world class standard,
            secure travel system managed by experienced, Customer-friendly travel experts.
          </p>
        </div>

        <div class="mt-3">
          <strong>VALUES</strong>
          <ul style="padding-left: 30px">
            <li>Integrity</li>
            <li>Reliability</li>
            <li>Trustworthy</li>
            <li>Transparency</li>
            <li>Honesty</li>
            <li>Efficiency</li>
          </ul>
        </div>

        <div class="mt-3">
          <h3 style="text-align: center"><strong>TERMS & CONDITIONS OF USE</strong></h3>
          <p>
            It’s nice to have you visit our website. Prelatetravel website gives our customers access and assistance with travel information, to aid their travel preparations. It
            also assists our customers to determine the availability of travel-related goods and services. We make legitimate reservations and transact business with travel
            suppliers, bearing in mind that the information provided to us on this platform are for no other purposes. We provide our customers with these services or acting on
            behalf of Principals engaged in or associated with the travel or accommodation industries, such as airlines, hotels and other service providers or suppliers.
          </p>
        </div>

        <div class="mt-3">
          <strong>2. THIRD PARTY SERVICE PROVIDER</strong>
          <p>
      </p>
        </div>

        <div class="mt-3">
          <strong>3. THE CONSENT OF CLIENTS</strong>
          <p>
            Any of our clients who desires to utilize our services, consent to the acceptance of these terms and conditions by proceeding with the booking on the passenger
            information page, prior to the conclusion of any transaction with Prelatetravel. Upon doing so, such person is deemed to have read, understood and accepted these Terms
            and Conditions and has agreed to be bound by the agreement by accessing or using this Website in any manner. Please do not continue the bookings if you do not accept
            the terms and conditions applicable to this website and be sure to return to this page frequently to ensure that you review the most updated version of the agreement.
            Please note that we reserve the right at any time based on our discretion to revise the terms and conditions without prior notification.
          </p>
        </div>

        <div class="mt-3">
          <strong>4. RESTRICTIONS</strong>

          <p>
            There are terms and conditions set apart for the purchase of travel related products as well as reservations as you are bound by terms and condition of any and all
            suppliers.
          </p>

          <p class="mt-3">
            In making any payments and abiding by the regulations and caveats in connection with availability, use of products and fares, you are bound by the terms and conditions
            of usage. We bring to your notice that certain service providers offering certain services may require that you append to their liability waiver before requesting,
            subscribing, or purchasing those services.
          </p>

          <p class="mt-3">
            You may view, download and copy information and materials available on this website solely for your personal, non-commercial use. You may also use such material within
            your organization in connection with the support of Prelatetravel's products. As a condition of use, you agree not to modify or revise any of the material in any
            manner, and to retain all copyright and other proprietary notices as contained in the original materials on any copies of the materials. No other use of the materials
            or information is authorized. Any violation of the foregoing may result in civil and criminal liabilities.
          </p>

          <p class="mt-3">
            <strong>You may lose the following if you violate any suppliers’ obligations or caveats:</strong>
 
            <ul style="padding-left: 30px">
                <li>
                    You may forgo monies for reservations of such services.  
                </li>
                <li>
                    You may be denied access to travel packages and or services. 
                </li>
            </ul>
          </p>
        </div>


        <div class="mt-3">
            <strong>5. INFORMATION SUBMITTED</strong>

            <p class="mt-3">In relation to all information you submit to us, you hereby agree and warrant that such material 
            or information is not confidential or proprietary and Prelatetravel shall be free to use any such 
            information in any manner to use, reproduce, modify, adapt, translate, distribute, publish, create 
            derivative works from and publicly display and perform such submissions throughout the world 
            in any media, now known or hereafter devised; and (b) use the name that you submit in 
            connection with such Submission. You acknowledge that Prelatetravel may choose to provide 
            attribution of your comments or reviews (for example, listing your name and hometown on a 
            hotel review that you submit) at our discretion, and that such submissions may be shared with 
            our supplier partners. You further grant Prelatetravel the right to pursue at law any person or 
            entity that violates your rights or Prelatetravel rights in the Submissions by a breach of this 
            Agreement.</p> 

            <p class="mt-3">
            We take no responsibility and assume no liability for any Submissions posted or submitted by 
            you. We have no obligation to post your comments; we reserve the right in our absolute 
            discretion to determine which comments are published on the Prelatetravel website. If you do not 
            agree to these terms and conditions, please do not provide us with any submissions and you agree not to take any action against Prelatetravel in relation to the use of such material or 
            information. </p>
 
            <p class="mt-3">
            If you own or have unrestricted rights to the material or information submitted to Prelatetravel, 
            you shall indemnify and render Prelatetravel harmless against any claims, suits, proceedings, 
            expenses of any type whatsoever, brought against Prelatetravel in connection with infringement 
            of third parties rights in respect of the material or information that you submitted. 
            </p>
 
            <p class="mt-3">
            You will take all reasonable steps to ensure that the materials or information is free from any 
            known computer viruses, or other contaminates, including but not limited to any code or 
            instructions that may be used to modify damage or compromise the security of this website, or 
            Prelatetravel’s computer systems or networks.
            </p> 
 
            <p class="mt-3">
            You will not transmit to or from this Website or post: (i) any publicly unlawful contents and 
            materials, obscene, pornographic, and defamatory or other material or contents and any acts of 
            commercialization. 
            </p>
        </div>

        <div class="mt-3">
            <strong>6. BOOKING ENQUIRIES & RESERVATIONS</strong>
            <ul style="padding-left: 30px">
                <li>
                    (i)To initiate an enquiry regarding a particular destination, trip, tour, mode of travel, 
                    preferred accommodation or other services sold on Prelatetravel’s website 
                    www.prelatetravel.com or Mobile applications. All Clients must comply with all the 
                    terms and conditions of the services and complete all applicable information fields 
                    made available.
                </li>   
                <li>(ii) The initiated enquiry with Prelatetravel through any other means of communication 
                such as access to the Sites via booking kiosks, if applicable will prepare and provide 
                the Client with the projected total cost of the Enquiry (online, by e-mail, by SMS or 
                telephonically) (‘the Quote/FARE’). The quote/fare is accepted by the Client when 
                the Client proceeds with the steps as specified on the Sites or accepts the Quote 
                telephonically or via email. Full payment of the total value of the Quote (‘the 
                Payment’) is required in order to confirm reservations with the relevant Principals 
                (‘the Booking’). Once the online Booking effected by Prelatetravel has been 
                completed and the Client has authorized Prelatetravel to process the payment by 
                submitting the Booking for reservation, the Client will be supplied with an email that 
                will contain the final details of the Booking (‘the Booking Confirmation Slip’). In the 
                case of air tickets, full payment for the booking needs to be made and reflect in the 
                bank account of prelatetravel by midnight Nigerian time on the day that the Booking 
                was made in order to guarantee the fare quoted according to the Booking 
                Confirmation Form.
                </li> 
            </ul>
            <p class="mt-3"><strong>Please Note that all tickets carry different fare conditions as imposed by the relevant airline. The 
            ticket you are purchasing may only be partially or non-refundable. To verify this before booking 
            online please contact our offices.</strong>
            </p>
        </div>

        <div class="mt-3">
            <strong>7. DESTINATION SELECTION</strong>
            <p>The Client acknowledges that he/she has selected the itinerary and destination(s) constituting the 
            Booking based on information gleaned from the internet. Also acknowledges that the internet 
            Booking has been compiled and is managed and updated by the Principal and that Prelatetravel 
            has no control over information compiled by the Principal. Accordingly prelatetravel cannot and 
            does not guarantee that the itinerary or any destinations will comply in whole or in part with 
            those advertised on the internet by or on behalf of the Principal. Any right of recourse in that 
            regard will be against the Principal. In addition to the above, Prelatetravel cannot be held liable 
            for incorrect availability being displayed by the Principal and we cannot be held liable if the 
            seats selected are not available.</p>
        </div>

        <div class="mt-3">
            <strong>8. PAYMENT AND PAYMENT TERMS</strong>
            <p>Our customers are advised to make due payments immediately through any of these means by 
            Visa, Master, American Express or Diners Credit Card, Electronic Funds Transfer, Cash Deposit 
            at a bank, or if a Kiosk booking, cash payment to the Kiosk teller, whichever could be of 
            convenience, and the payment must reflect in the bank account of Prelatetravel by midnight 
            Nigerian time on the day that the Booking was initiated. If the Payment is not received as stated 
            above, Prelatetravel or Principal involved reserves the full right to cancel the booking. Any 
            cancellation and administration fees shall be refunded to the Client within 72 hours of the 
            cancellation being processed. Prelatetravel reserve the right to inform the Client by the earliest 
            means of any revised Quote/Fare, that the Booking remains available at a higher price. The 
            Client may decide to decline nor choose to proceed with the Booking at such higher price, in 
            which on such occasions the client will be liable for any difference between the original Quote 
            and such higher price, and the revised Payment must reflect in the bank account of Prelatetravel 
            before the deadline stipulated in the revised Quote in order to secure the Booking. Prelatetravel 
            does not offer credit, unless otherwise agreed. 
            Prelatetravel is a Nigerian established company which all its transactions are processed in 
            Nigerian Naira. Applicable conversion rates or charges may therefore be levied by your 
            merchant bank if payment is made from another country or currency other than Nigerian Naira. 
            Any additional Charges driven by the global treasury of the applicable credit card are impacted 
            by the change in daily exchange rates. Prelatetravel shall therefore not be held liable for any 
            Additional Charges levied by the applicable merchant, or bank pursuant to the confirmation of a 
            Booking.</p> 
        </div>

        <div class="mt-3">
            <strong>9. QUOTES/ FARE</strong>
            <p>Each service quotes/Fare is made available at the ruling daily exchange rate. Only on exception 
            when Prelatetravel has received Payment for a service, we reserve the right to amend any 
            Quote/Fare. On cases the Quote is increased as a result of an exchange rate fluctuation, the client 
            undertakes to pay for any increase on demand. Any decrease in the quote prior to the date of 
            Payment will be reflected in the Quote/Fare itself. The onus will be on the Client to validate that 
            there hasn’t been any changes made in the Quote/Fare prior to making the Payment. Airfares 
            could be subject to the price and conditions quoted by the airlines. However, once Payment has 
            been received, the Quote/Fare is guaranteed, provided the payment was made by midnight on the 
            day that the Booking was made. Should the Client be a group booking and the group number 
            deviate from the number required for the Booking, the principal may reserve the right to re-cost 
            the Quote/Fare and raise a surcharge. Should any Client refuse to accept and pay such surcharge, 
            it may result in the Principal cancelling the booking and retaining any payment made, and 
            Prelatetravel will be entitled to retain any service fees charged. Prelatetravel accepts no liability 
            for bookings that have been cancelled because no payment has been forthcoming. </p>
        </div>

        <div class="mt-3">
            <strong>10. SERVICE FEE</strong>
            <p class="mt-3">Service fees cover the costs incurred by prelatetravel in booking and servicing your travel 
            reservation and demands. We also reserve the right to charge an additional service fee for any 
            additional services rendered, such as cancellation requests, additional requests or changes to your 
            booking. </p>
            <p class="mt-3">
            Please take note that service fees and products are non-refundable in case of a cancellation.</p>
        </div>

        <div class="mt-3">
            <strong>11. AMENDMENT FEES</strong>
            <p>Amendment fee may be levied per Booking for any changes to a confirmed itinerary or ticket. 
            The Travel Agent’s amendment fee is charged in addition to any amendment fees which may be 
            charged by the relevant Principal.</p>
        </div>

        <div class="mt-3">
            <strong>12. INSURANCE</strong>
            <p>It is recommended that all clients obtain adequate insurance policy that would cover them of 
            instances such as cancellation due to illness or injury, personal accident and personal liability, 
            loss of or damage to baggage and sports equipment as Prelatetravel would not be held 
            accountable nor be liable for any of these incidence if occurred.</p>
        </div>

        <div class="mt-3">
            <strong>13. TRAVEL DESTINATION</strong>
            <p>It is our concern that you are aware about the degrees of travel risks to each country which may 
            vary and that natural disasters could coincide with your travel itinerary. Therefore you’re advised to take all necessary precautions and measures as well as heed to the announcements from 
            various relevant authorities. Prelatetravel will not be held responsible for the injuries suffered, 
            nor loss or damage that may arise from your travel to places of risk. Prelatetravel will not be held 
            accountable for acts of government or authority that might impede your travel itinerary.  
            Prelatetravel and its affiliates would on no account be held liable for erroneous and fraudulent 
            mails sent through its websites, servers and pages. We maintain and ensure that our sites are free 
            from viruses, and well secured. Prelatetravel disengages itself from damage of properties, 
            injuries incurred, acts and omissions, breaches, errors or deaths arising from the acts of 
            independent contractors, hotel suppliers who are not agents of Prelatetravel and its affiliates or in 
            cases of delay. You are therefore prohibited from bringing actions against Prelatetravel where 
            you fail to access or use our website. </p>
        </div>

        <div class="mt-3">
            <strong>14. TRAVEL DOCUMENTS</strong>
            <p>Our client’s travel documents such as visas, booking confirmations and itineraries. Would only 
            be prepared and delivered to the Client upon receipt of their Payment.</p>
        </div>

        <div class="mt-3">
            <strong>15. CHANGE REQUEST</strong>
            <p>Change request such as name change on travel documents and itineraries most times is time 
            consuming and stressful to effect, could cost you some additional fees to rectify and as well 
            affect your travel plans. Therefore it’s advised that upon confirmation of your bookings check 
            the spelling of your name and ensures that it corresponds as per your passport or identity 
            document. Should the spelling of your name not correspond with your passport or identity 
            document, the airline may not permit you to board the plane or should you require a name 
            change, airline penalties may apply. Please take note that some airlines do not allow name 
            changes for any reason whatsoever and this may require that you to buy a completely new ticket. 
            Prelatetravel would accept no liability to this regard.  
            And should you require any change on your travel document such as date, name e.t.c endeavor to 
            contact our helpline 72 hours or more before your travel date for effective measures.</p>
        </div>

        <div class="mt-3">
            <strong>16. CAUTION ON TRAVEL REQUIREMENTS</strong>
            <p>It is entirely all clients’ responsibility to ensure that all passports, visas and health vaccinations 
            are current, valid, and obtained on time. Ensure that you have sufficient blank pages on your 
            passport and should be valid for at least six months after return to their home country. Any 
            vaccinations, inoculations, prophylactic (e.g. for malaria e.t.c) where required is obtained. All 
            Clients’ are strongly advised to check out the relevant requirements for their travel destinations 
            and any transit countries before travelling. Prelatetravel will endeavor to assist the Client if 
            consulted. Such assistance will be at Prelatetravel’s discretion (since this service falls within the 
            scope of a freewill to assist travelers) and the Client acknowledges that in doing so, Prelatetravel is not assuming any obligation or liability and the client indemnifies prelatetravel against any 
            consequences of the Client’s failure to comply with any of the requirements. It is the client’s duty 
            to familiarize him or herself with the inherent dangers, mental or physical condition required for 
            the proposed travel arrangements.</p>
        </div>

        <div class="mt-3">
            <strong>17. CANCELLATION</strong>
            <p class="mt-3">On occasions where clients cancels their bookings, Prelatetravel shall have the right to either 
            claim the amount, or retain the amount of the Payment for reasonable damages suffered by 
            Prelatetravel . Where the client is unable to honor any bookings or reservation due to the death or 
            hospitalization of the Client, the Principals may reserve the right to cancel any services prior to 
            the departure, in which the Payment unless Prelatetravel’s service fee will be refunded by the 
            Principal to the Client without any further obligation on the part of Prelatetravel.</p> 

            <p class="mt-3">
            Prelatetravel will charge a fee for processing the request for refund. Clients should refer to the 
            “Refunds” section of these Conditions, as well as the cancellation provisions contained in the 
            Principal’s Conditions or the Sites. Principals may charge cancellation fees over and above the 
            cancellation fees charged by Prelatetravel in terms of this Condition.</p>

            <p class="mt-3">
            Please take note that should you have booked a ticket with more than one flight e.g: LOS - DXB 
            - TYO you may only use your tickets in the sequence they were booked. If you do not check in 
            for your first flight the Airline reserves the right to cancel all of the remaining flights on that Ticket and your ticket will become invalid. You will not get any money refunded for parts of the 
            tickets not used.
            </p>
        </div>

        <div class="mt-3">
            <strong>18. UNSCHEDULED EXTENSIONS</strong>
            <p>In situations where there are unlikely event of an unscheduled extension for the final itinerary 
            caused by flight re-scheduling, flight delays, bad weather, strikes or any other cause which is 
            beyond the control of Prelatetravel, its agents or the Principal, any expenses relating to such 
            unscheduled extensions, hotel accommodation etc. will be for the client’s account. The Client 
            should confirm whether any of these expenses may be covered by travel insurance, should this be 
            applicable.</p>
        </div>

        <div class="mt-3">
            <strong>19. SPECIAL REQUESTS</strong>
            <p>For clients who have special requests should make sure that they notify and specify such requests 
            in writing or mail to Prelatetravel at least 72 hours prior to the commencement of their journey. 
            Whilst Prelatetravel would see to the provisions of their request in her best endeavors to 
            accommodate any such requests, but this does not guarantee that all requests will always be met.</p>
        </div>

        <div class="mt-3">
            <strong>20. HACKER FARE</strong>
            <p>In the case of a Hacker fare, our website displays search results for a combination of Travel 
            Products (e.g., separate flight and hotel results, or two one-way flights, instead of a round trip). If 
            you use these search results, you will make two different bookings with different rules and 
            policies (for example, for baggage fees, change fees, and refunds). Any changes made to one of 
            your bookings will not affect the other booking (for example, if your initial flight is cancelled by 
            either you or the airline, the other airline with which you booked your return flight is not 
            obligated to issue a refund or change your itinerary). If you are travelling internationally, you 
            may need to provide proof that you have a return flight at check-in and at immigration.</p>
        </div>

        <div class="mt-3">
            <strong>21. REFUNDS</strong>
            <p>Refunds will not be considered in any circumstances whatsoever by Prelatetravel if the Client 
            has not purchased the services. Refunds will be made by the Principals which will be subject to 
            their respective terms and conditions. Prelatetravel will charge a fee for processing a request for 
            refund. Principals may charge fees for refund of the above stated here. 
            Once the possible refund you are entitled to have been finalized, we will request it with the 
            airline or hotel on your behalf. For flight bookings the refund will be made by the airline directly 
            to the account the booking was originally paid with. This can take up to 6 to 8 weeks atimes 
            depending on the airline. For hotel bookings it usually takes approximately 4 weeks.</p>
        </div>

        <div class="mt-3">
            <strong>22. CONFIRMATION OF TRAVEL ARRANGEMENTS</strong>
            <p>It is advised that every client confirms all onward travel arrangements such as local, international 
            and on return to domestic connecting flights be 72 (seventy-two) hours prior to departure with 
            the airline.</p>
        </div>

        <div class="mt-3">
            <strong>23. NO UNLAWFUL OR PROHIBITED USE</strong>
            <p>There is no Client warranted unconditionally to use this site for any purpose that is unlawful or 
            prohibited by the online terms and Conditions.</p>
        </div>

        <div class="mt-3">
            <strong>24. LINKS TO OTHER WEBSITES</strong>
            <p>There are links published on this site that allows a Client to visit the sites of third parties. Neither 
            of these sites nor the companies to whom they belong to are controlled by Prelatetravel and it 
            makes no representations and warranties concerning the information provided or made available 
            on such sites nor the quality or acceptability of the products or services offered by any persons or 
            entities referenced in any such sites. Prelatetravel’s inclusion of hyperlinks to such websites does 
            not imply any endorsement of the material on such websites or any association with its operators. 
            Prelatetravel has not tested and makes no representations regarding the correctness, performance 
            or quality of any software found at any such sites. The client should research and assess the risks 
            which maybe involved in accessing and using any software on the internet before using it. The 
            client indemnifies Prelatetravel against any claims for loss or damage arising from the Client’s 
            use of information gained from or from accessing any such linked sites.</p> 
        </div>

        <div class="mt-3">
            <strong>25. NOTIFY US OF INFRINGERS</strong>
            <p>Of any occasion that you believe any of the services on our website violates your copyright; 
            Please notify our copyright agent in writing. The contact information for our copyright agent is at 
            the bottom of this section. 
            <p class="mt-3">
            In order for us to take action, you must do the following in your notice: 
            <ul style="padding-left: 30px; list-style: none;" >
                <li>
                (a) Provide your physical or electronic signature; 
                </li>
                <li>
                    (b) Identify the copyrighted work that you believe is being infringed;
                </li>
                <li>
                (c) Identify the item that you think is infringing your work and include sufficient information 
                about where the material is located so that we can find it;
                </li>
                <li>
                (d) Provide us with a way to contact you, such as your address, telephone number, or email; 
                </li>
                <li>
            (e) Provide a statement that you believe in good faith that the item you have identified as 
            infringing is not authorized by the copyright owner, its agent, or the law to be used in 
            connection with the services; and </li>
            <li>
            (f) Provide us a statement that the information you provide in your notice is accurate, and 
            that (under penalty of perjury) you are authorized to act on behalf of the copyright owner 
            of those work is being fringed.</li>
        </ul>
        </p>
            Here is the contact information for our copyright agent: 
            <p class="mt-3" style="font-weight: bold;">
            Legal Team, Copyright Enforcement <br/>
            PrelateTravel.com <br/>
            No26, orere-owu street opposite First Bank of Nigeria plc,<br/>
            Okeyinmi street, Ado-Ekiti,<br/>
            Ekiti-State <br/>
            Prelatetravel@gmail.com <br/><br/>
            </p>
            Again, we cannot take action unless you give us all the required information 

        </div>
        <div class="mt-3">
            <p>26. DISCLAIMER</p>
            <p>The internet team of Prelatetravel strives to provide all clients with useful, accurate, and timely 
            information on this website. Accordingly, Prelatetravel always attempts to provide accurate 
            information and materials on this website but assumes no responsibility for the quality, accuracy, 
            efficacy, completeness, performance, fitness for a particular purpose of this page, the Site or any 
            of its contents, including (but not limited) to any price quotes or non-fraudulent representations 
            contained within the Site and the completeness of that information or materials. 
            Prelatetravel will not be liable for any damages (including, without limitation, damages for any 
            consequential loss or loss of business opportunities or projects, or loss of profits) howsoever 
            arising and whether in contract, tort or otherwise from the use of or inability to use the Site, or 
            any of its contents and materials, or from any action or omission taken as a result of using the 
            Site or any such contents.</p>
            
            <p class="mt-3">
            This Site contains material in the form of information, price quotes or representations submitted 
            by third parties and we accept no responsibility for the content or accuracy of such material nor 
            do we make any representations by virtue of the contents of this Site in respect of the guaranteed 
            availability of any services advertised.</p>
            
            <p class="mt-3">
            The currency rates pasted on this site if any, are for reference purposes and should not be acted 
            on notes of finality because of unstable currency rates. You are advised to make further 
            verification on the accuracy of currency rates from professional experts whose duties are 
            incidental to currency rates conversion. You must not distribute the rates herein referenced to for 
            commercial activities.</p>
            
            <p class="mt-3">
            Prelatetravel may change the content of any information or materials available at this website, or 
            to the products described in them, at any time without notice to you. However, Prelatetravel 
            makes no commitment to update the information or materials on this website which, as a result, 
            may be out of date. Information and opinions expressed in bulletin boards or other forums are 
            not necessarily those of Prelatetravel. Neither Prelatetravel, nor its officers, directors, employees, 
            agents, distributors, or affiliates are responsible or liable for any loss damage (including, but not 
            limited to, actual, consequential, or punitive), liability, claim, or other injury or cause related to 
            or resulting from any information posted on Prelatetravel's website. Prelatetravel reserves the 
            right to revise these terms and legal restrictions at any time. You are responsible for reviewing 
            this page from time to time to ensure compliance with the then-current terms and legal 
            restrictions because they will be binding on you. Certain provisions of these terms and legal 
            restrictions may be superseded by expressly designated legal notices or terms located on particular pages of this website. 
            We make no warranty that the contents of the Site are free from infection by viruses or anything 
            else, which has contaminating, or destructive properties and shall have no liability in respect 
            thereof as we do not have control over the contents of such websites. </p>
            
            <p class="mt-3">
            To this end: ALL INFORMATION AND MATERIALS AVAILABLE ON THIS WEBSITE 
            ARE PROVIDED "AS IS" WITHOUT ANY WARRANTIES OF ANY KIND, EITHER 
            EXPRESS OR IMPLIED, AND PRELATETRAVEL DISCLAIMS AND EXCLUDES ALL 
            WARRANTIES AND LIABILITIES OF ANY KIND TO THE FULLEST EXTENT 
            PERMITTED BY APPLICABLE LAW, EITHER EXPRESS OR IMPLIED, INCLUDING 
            WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, 
            NON-INFRINGEMENT OF INTELLECTUAL PROPERTY OR ARISING FROM A COURSE 
            OF DEALING, USAGE OR TRADE PRACTICE. IN NO EVENT SHALL PRELATETRAVEL 
            BE LIABLE FOR ANY DAMAGES WHATSOEVER (INCLUDING, WITHOUT 
            LIMITATION, INDIRECT, SPECIAL, CONSEQUENTIAL OR INCIDENTAL DAMAGES OR 
            THOSE RESULTING FROM LOST PROFITS, LOST DATA OR BUSINESS 
            INTERRUPTION) ARISING OUT OF THE USE, INABILITY TO USE, OR THE RESULTS 
            OF USE OF THIS WEBSITE, ANY WEBSITES LINKED TO THIS WEBSITE, OR THE 
            MATERIALS OR INFORMATION CONTAINED AT ANY OR ALL SUCH WEBSITES, 
            WHETHER BASED ON WARRANTY, CONTRACT, TORT OR ANY OTHER LEGAL 
            THEORY AND WHETHER OR NOT ADVISED OF THE POSSIBILITY OF SUCH 
            DAMAGES. IF YOUR USE OF THE MATERIALS OR INFORMATION ON THIS WEBSITE 
            RESULTS IN THE NEED FOR SERVICING, REPAIR OR CORRECTION OF EQUIPMENT 
            OR DATA, YOU ASSUME ALL COSTS THEREOF. 
            </p>
        </div>

        <div class="mt-3">
            <strong>27. TERMINATION OF USE</strong>
            <p>
            Prelatetravel reserve the right to terminate or suspend any client’s access to all part of 
            Prelatetravel website based on its sole discretion, which includes but not limited to any bulletin 
            boards on its site, for any reason, including without limitation, breach of this agreement. In the 
            event this agreement is terminated, the restrictions regarding materials appearing on the site and 
            the representations and warranties, indemnities, and limitation of liabilities set forth in this 
            agreement shall survive any such termination.</p>
        </div>

        <div class="mt-3">
            <strong>28. COMMUNICATION FROM SITES</strong>
            <p>By finalizing a booking on any Prelatetravel platform, the client is assumed to have agreed to 
            receive transactional and promotional news letters from the site. The client may decide to opt out 
            of these newsletter communications at any time they wish.</p>
        </div>
      </div>
    </div>
    {% include 'partials/components/_footer.html' %} {% include 'partials/_bottom.html' %}
  </body>
</html>
