<!DOCTYPE html>
<html>
  <head>
    {% include "partials/_head.html" with add_title="Customsize Your Tour Package | Prelate Travels & Tours" %}
  </head>
  <body>
    {% include "partials/components/_header.html" %}
    <section class="customize-tour-package">
      <div class="container">
        <h1 class="customize-tour-package--header">Prelate Travel Package</h1>
        <div class="row mt-4">
          <div class="col-md-8">
            <div class="customize-your-own-package">
              <h2>Customize your own package</h2>
              <form action="" class="mt-4 col-12 w-100 pl-0 ml-0">
                <div class="row pl-0 ml-0">
                  <div class="col-md-6 pl-0 ml-0">
                    <div class="form-group">
                      <label for=""> First Name: <span class="required">*</span> </label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-6 pl-0 ml-0">
                    <div class="form-group">
                      <label for=""> Last Name: <span class="required">*</span> </label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-6 pl-0 ml-0">
                    <div class="form-group">
                      <label for=""> Email Address: <span class="required">*</span> </label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-6 pl-0 ml-0">
                    <div class="form-group">
                      <label for=""> Phone Number: <span class="required">*</span> </label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-6 pl-0 ml-0">
                    <div class="form-group">
                      <label for=""> Budget: <span class="required">*</span> </label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-6 pl-0 ml-0">
                    <div class="form-group">
                      <label for=""> Destination Country: <span class="required">*</span> </label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>

                  <div class="col-md-12 pl-0 ml-0">
                    <div class="form-group">
                      <label for=""> Category: <span class="required">*</span> </label>
                      <select name="" id="" class="form-control">
                        <option value="">Select Category</option>
                        <option value="">Individual</option>
                        <option value="">Couple</option>
                        <option value="">Coperate</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-12 pl-0 ml-0">
                    <div class="form-group">
                      <label for="">
                        Message:
                      </label>
                      <textarea name="" class="form-control"></textarea>
                    </div>
                  </div>

                  <div class="col-md-12 pl-0 ml-0 mt-3">
                    <div class="form-group">
                      <button class="btn btn-primary d-block w-100">Submit Form</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col md-4">
            <div class="d-block">
              <div
                class="card"
                style="padding: 15px; background: #ffffff; border: 0.25px solid rgba(41, 124, 222, 0.5); box-sizing: border-box; box-shadow: 0px 4px 16px rgba(41, 124, 222, 0.15);"
              >
                <h4 class="text-center">Contact US</h4>
                <p class="text-center" style="color: #4f4f4f; font-size: 14px;">
                  Feel free to call, send us an email, Tweet us or simply complete the enquiry form.
                </p>
                <div class="row mt-3 ml-0 pl-0">
                  <div class="col-2">
                    <img src="/images/phone.png" alt="" />
                  </div>
                  <div class="col-10" style="color: #4f4f4f; font-size: 15px;">
                    08021134543, 09087651238
                  </div>
                </div>
                <div class="row mt-2 ml-0 pd-0">
                  <div class="col-2">
                    <img src="/images/mail.png" alt="" />
                  </div>
                  <div class="col-10" style="color: #4f4f4f; font-size: 15px;">
                    tour@prelatetravel.com
                  </div>
                </div>
                <div class="row mt-2 ml-0 pd-0">
                  <div class="col-2">
                    <img src="/images/twitter_vector.png" alt="" />
                  </div>
                  <div class="col-10" style="color: #4f4f4f; font-size: 15px;">
                    @prelatetravel
                  </div>
                </div>
                <div class="row mt-2 ml-0 pd-0">
                  <div class="col-2">
                    <img src="/images/facebook_vector.png" alt="" />
                  </div>
                  <div class="col-10" style="color: #4f4f4f; font-size: 15px;">
                    www.facebook.com/prelatetravel
                  </div>
                </div>
                <div class="row mt-2 ml-0 pd-0">
                  <div class="col-2">
                    <img src="/images/instagram_vector.png" alt="" />
                  </div>
                  <div class="col-10" style="color: #4f4f4f; font-size: 15px;">
                    @prelatetravel
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr />
    {% include 'partials/components/_footer.html' %} {% include 'partials/_bottom.html' %}
  </body>
</html>
