<!DOCTYPE html>
<html>
  <head>
    {% include "partials/_head.html" with add_title="Tour Deals | Prelate Travels & Tours" %}
  </head>
  <body>
    {% include "partials/components/_header.html" %}

    <section
      class="visa-where-would"
      style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('/static/images/tour-deals.png');"
    >
      <div class="container d-block">
        <p>
          Tour Deals
        </p>
      </div>
    </section>
    <section class="tour-amazing-deals">
      <div class="container">
        <h1 class="text-center our-services-heading mb-5">Tour Deals > {{ package.deal_name }}</h1>
        <div class="row">
          <div class="col-sm-6">
            <img src="/{{ package.deal_image }}" alt="" class="" />
          </div>
          <div class="col-sm-6">
            <div class="card card-body">
              <p class="text-center" style="font-weight: 700; font-size: 20px;">Deal information</p>
              <p>Country/City:</p>
              <p>Price:</p>
              <p>Amount:</p>
              <p>Other information:</p>
              <br />
              <hr />
              <form>
                <div class="from-group">
                  <label>Full name</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="from-group">
                  <label>Email</label>
                  <input type="email" class="form-control" />
                </div>
                <div class="from-group">
                  <label>No of travellers</label>
                  <input type="email" class="form-control" />
                </div>
                <div style="margin-top: 20px;">
                  <button class="btn btn-primary w-100 text-white">Buy Deal</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'partials/components/_partners.html' %} {% include 'partials/components/_download.html' %} {% include 'partials/components/_footer.html' %}
    <br />
    {% include 'partials/_bottom.html' %}
  </body>
</html>
