<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    {% include "latest/partials/_head.html" with add_title="Tour Deals | Prelate Travels & Tours" %}
  </head>
  <body>
    <!-- HEADER -->
    {% include "latest/components/_header.html" %}
    <!-- CAROUSEL SECTION MOBILE -->
    {% include "latest/components/_mobile_carousel.html" %}
    <!-- CAROUSEL SECTION MOBILE END-->
    <!-- Hero Section -->
    <section class="tour-hero-bg bg-no-repeat h-[40vh] bg-cover tablet:h-[30vh] tablet:bg-right">
      <div class="flex items-end h-full">
        <div class="h-2/4 flex items-end gradient-blue w-full">
          <div class="w-4/5 mx-auto mobile:w-full mobile:px-5">
            <h3 class="page-title">Tour Deals</h3>
          </div>
        </div>
      </div>
    </section>
    <!--  Tour card Section Bgig Screen-->
    <section class="container__inner_layout">
      <div class="mt-20 tablet:mt-6">
        <div class="grid grid-cols-3 gap-x-10 gap-y-5 mobile:grid-cols-1">
          {% for deal in deals %}
            <a href="{{ deal.get_absolute_url }}">
              <div class="h-80 w-full flex items-end rounded-t-[4px] mobile:h-40"
                   style="background: url({{ deal.deal_image.url }})">
                <div class="h-2/3 w-full bg-no-repeat bg-cover max-w-sm flex items-end gradient-black">
                  <p class="mb-5 ml-2.5 text-white font-bold text-lg">{{ deal.deal_name }}</p>
                </div>
              </div>
              <div class="flex justify-between items-center">
                <p class="my-1.5 mx-0.5 text-[#2D3A6E] font-semibold mobile:text-sm mobile:font-medium">
                  <span class="figure">{{ deal.amount }}</span> <span>
                    {% if deal.currency == "USD" %}
                      US Dollars
                    {% else %}
                      Naira
                    {% endif %}
                  </span>
                </p>
                <small class="text-gray-500 mobile:text-xxs">for 2 persons</small>
              </div>
            </a>
          {% endfor %}
        </div>
        <div class="mt-10 text-base mobile:text-sm">
          <span class="text-primary font-semibold">Can't find a suitable deal?</span>
          <a href="{% url 'customize-tour' %}"
             class="!underline text-[#007bff] font-normal">Customize one for yourself</a>
        </div>
      </div>
    </section>
    <!-- Footer segments starts from here -->
    <!-- FOOTER -->
    {% include "latest/components/_footer.html" %}
    <!-- FOOTER -->
    <!-- SCRIPTS -->
    {% include "latest/partials/_scripts.html" %}
  </body>
</html>
