<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    {% load widget_tweaks %}
    {% include "latest/partials/_head.html" with add_title="Tour Deals | Prelate Travels & Tours" %}
  </head>
  <body>
    {% include "latest/components/_header.html" %}
    <section class="tour-hero">
      <div class="flex items-end h-full">
        <div class="h-2/4 flex items-end gradient-blue w-full">
          <div class="w-4/5 mx-auto">
            <h3 class="text-[40px] leading-[84px] font-bold text-buttonPrimary">Tour Deals</h3>
          </div>
        </div>
      </div>
    </section>
    <section class="desktop:px-40 py-10 flex items-start gap-x-5">
      <div class="text-textPrimary">
        <p class="text-xl font-bold text-primary my-5">Deal information</p>
        <img src="{% static 'images/tour-deal.png' %}"
             alt="{{ package.country }}"
             class="block max-w-xs mb-6 p-1.5 rounded-[4px]"
             style="box-shadow: 0 0 10px #333" />
        <p class="mb-2 capitalize">
          <span class="text-primary font-bold">Country/City:</span> Nigeria {{ package.country }}
        </p>
        <p class="mb-2 capitalize">
          <span class="text-primary font-bold">Price:</span> NGN 500,000{{ package.currency }} {{ package.amount }}
        </p>
        <p>
          <span class="text-primary font-bold">Other Information:</span> <span class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, provident unde? Facilis. {{ package.information|safe }}</span>
        </p>
      </div>
      <form class="text-primary w-full max-w-[775px]"
            method="post"
            action="{% url 'travel-info' %}">
        <div class="flex flex-col mb-5">
          <label for="" class="input-label">Full Name</label>
          {% render_field form.fullname class="input-style" placeholder="----------" %}
        </div>
        <div class="flex flex-col mb-5">
          <label for="" class="input-label">Email Address</label>
          {% render_field form.email class="input-style" placeholder="----------" %}
        </div>
        <div class="flex flex-col mb-5">
          <label for="" class="input-label">Phone Number</label>
          {% render_field form.phonenumber class="input-style" placeholder="----------" %}
        </div>
        <div class="flex flex-col mb-5">
          <label for="" class="input-label">Number Of Travellers</label>
          {% render_field form.number_of_travellers class="input-style" placeholder="----------" %}
        </div>
        <button class="py-3 px-2 bg-buttonPrimary rounded-[7px] mt-5 w-[155px]">Buy Deal</button>
      </form>
    </section>
    {% include 'latest/components/_footer.html' %}
    {% include 'latest/partials/_scripts.html' %}
  </body>
</html>
