<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    {% load widget_tweaks %}
    {% include "latest/partials/_head.html" with add_title="Customize Your Tour Package | Prelate Travels & Tours" %}
  </head>
  <body>
    <!-- HEADER -->
    {% include "latest/components/_header.html" %}
    <!-- CAROUSEL SECTION MOBILE -->
    {% include "latest/components/_mobile_carousel.html" %}
    <!-- CAROUSEL SECTION MOBILE END-->
    <!-- HERO SECTION DESKTOP -->
    <section class="customize-tour-deals-hero w-full bg-no-repeat h-[60vh] bg-cover bg-bottom">
      <div class="flex items-end h-full">
        <div class="h-[70%] flex items-end gradient-black w-full">
          <div class="w-4/5 mx-auto">
            <h2 class="page-title">Customize Tour Deals</h2>
          </div>
        </div>
      </div>
    </section>
    <!-- HERO SECTION DESKTOP -->
    <section class="container__inner_layout">
      <!-- CUSTOMIZE TOUR DEAL FORM -->
      <h2 class="font-bold text-3xl leading-[45px] text-primary my-5 tablet:font-semibold tablet:text-lg tablet:mb-1">
        Prelate Travel Package
      </h2>
      <p class="text-textPrimary text-sm text-justify leading-7 tablet:text-xs tablet:leading-6">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Unde reiciendis fugit distinctio molestiae ipsum autem,
        atque nisi voluptatem recusandae officia nesciunt dolores itaque quis?
        Quaerat enim cupiditate consequatur consequuntur quia.
      </p>
      <div class="desktop:mt-10">
        <div class="form-title">Customize Tour Deal Form</div>
        <form class="text-primary w-full pt-10 mobile:pt-6" method="post">
          {{ form.errors }} {{ form.non_field_errors }}
          {% csrf_token %}
          <div class="flex flex-col mb-5">
            <label for="" class="input-label">First Name</label>
            {% render_field form.first_name class="input-style" placeholder="----------" %}
          </div>
          <div class="flex flex-col mb-5">
            <label for="" class="input-label">Last Name</label>
            {% render_field form.last_name class="input-style" placeholder="----------" %}
          </div>
          <div class="flex flex-col mb-5">
            <label for="" class="input-label">Email Address</label>
            {% render_field form.email class="input-style" placeholder="----------" %}
          </div>
          <div class="flex flex-col mb-5">
            <label for="" class="input-label">Phone Number</label>
            {% render_field form.phonenumber class="input-style" placeholder="----------" %}
          </div>
          <div class="flex flex-col mb-5">
            <label for="" class="input-label">Origin (Country)</label>
            {% render_field form.country_of_origin class="input-style" placeholder="----------" %}
          </div>
          <div class="flex flex-col mb-5">
            <label for="" class="input-label">Destination Country</label>
            {% render_field form.country_of_destination class="input-style" placeholder="----------" %}
          </div>
          <div class="flex flex-col mb-5">
            <label for="" class="input-label flex justify-between">
              Category
              <img src="{% static 'images/shaded-down-arrow.svg' %}"
                   class="shaded-down-arrow"
                   alt="" />
            </label>
            {% render_field form.tour_category class="input-style" placeholder="----------" %}
          </div>
          <div class="flex flex-col mb-5">
            <label for="" class="input-label">Budget</label>
            {% render_field form.budget class="input-style" placeholder="e.g NGN 15000, USD 5000" %}
          </div>
          <div class="flex flex-col mb-5">
            <label for="" class="input-label">Message</label>
            {% render_field form.message class="text-area" placeholder="Write your extra messages here" %}
          </div>
          <button class="submit-btn">Submit Form</button>
        </form>
      </div>
    </section>
    <!-- CUSTOMIZE TOUR DEAL FORM -->
    <!-- FOOTER -->
    {% include "latest/components/_footer.html" %}
    <!-- FOOTER -->
    {% include "latest/partials/_scripts.html" %}
  </body>
</html>
