<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    {% include "latest/partials/_head.html" with add_title="Tour Deals | Prelate Travels & Tours" %}
  </head>
  <body>
    <!-- HEADER -->
    {% include "latest/components/_header.html" %}
    <!-- CAROUSEL SECTION MOBILE -->
    {% include "latest/components/_mobile_carousel.html" %}
    <!-- CAROUSEL SECTION MOBILE END-->
    {# djlint:off #}
    {% include "latest/components/_page_banner.html" with title="Tour Deals" custom_class="h-[40vh] tour-hero-bg bg-center" gradient="blue" %}
    {# djlint:on #}
    <section class="container__inner_layout">
      <div class="mt-20 tablet:mt-6">
        <div class="grid grid-cols-3 gap-x-10 gap-y-5 mobile:grid-cols-1">
          {% for deal in deals %}
            <a href="{{ deal.get_absolute_url }}">
              <div class="h-80 w-full flex items-end rounded-t-[4px] mobile:h-40"
                   style="background: url({{ deal.deal_image.url }})">
                <div class="h-2/3 w-full bg-no-repeat bg-cover flex items-end gradient-black">
                  <p class="mb-5 ml-2.5 text-white font-bold text-lg">{{ deal.deal_name }}</p>
                </div>
              </div>
              <div class="flex justify-between items-center">
                <p class="my-1.5 mx-0.5 text-[#2D3A6E] font-semibold mobile:text-sm mobile:font-medium">
                  <span class="figure">{{ deal.amount }}</span> <span>{{ deal.currency }}</span>
                </p>
                <small class="text-gray-500 mobile:text-xxs">for {{ deal.number_of_travellers }} person(s)</small>
              </div>
            </a>
          {% endfor %}
        </div>
        {% include "latest/components/_pagination.html" with data=deals %}
        <div class="mt-10 text-base mobile:text-sm">
          <span class="text-primary font-semibold">Can't find a suitable deal?</span>
          <a href="{% url 'customize-tour' %}"
             class="!underline text-[#007bff] font-normal">Customize one for yourself</a>
        </div>
      </div>
    </section>
    <!-- Footer segments starts from here -->
    <!-- FOOTER -->
    {% include "latest/components/_footer.html" %}
    <!-- FOOTER -->
    <!-- SCRIPTS -->
    {% include "latest/partials/_scripts.html" %}
  </body>
</html>
