<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    {% load widget_tweaks %}
    {% include "latest/partials/_head.html" with add_title="Travel Help | Prelate Travels & Tours" %}
  </head>
  <body>
    {% include "latest/components/_header.html" %}
    <!-- CAROUSEL SECTION MOBILE -->
    {% include "latest/components/_mobile_carousel.html" %}
    <!-- CAROUSEL SECTION MOBILE -->
    <!-- HERO SECTION DESKTOP -->
    <section class="travel-info-hero bg-no-repeat w-full h-[70vh] p-0 mobile:h-[40vh] mobile:bg-cover">
      <div class="flex items-end h-full">
        <div class="h-2/4 flex justify-center flex-col items-center gradient-blue w-full mobile:justify-end mobile:items-start mobile:p-5">
          <h3 class="text-[40px] leading-[84px] font-bold text-white mobile:text-lg mobile:leading-normal mobile:font-semibold mobile:mb-1.5">
            Where would you like
            <span class="text-buttonPrimary mobile:text-white">to travel to?</span>
          </h3>
          <div class="flex items-center rounded-lg bg-white w-[965px] shadow-md mobile:rounded-sm mobile:w-11/12">
            <select id="countries"
                    class="flex-1 rounded-l-lg text-xl p-3 font-bold border-none text-textPrimary mobile:px-2 mobile:py-1.5 mobile:text-xs mobile:font-medium mobile:rounded-sm">
              {% if main_country %}
                <option selected value="{{ main_country.country_name }}">★ {{ main_country.country_name }}</option>
              {% else %}
                <option value="">Select Country</option>
              {% endif %}
              {% for country in countries %}
                <option value="{{ country.country_name }}">{{ country.country_name }}</option>
              {% endfor %}
            </select>
            <img src="{% static 'images/shaded-down-arrow.svg' %}"
                 class="shaded-down-arrow mr-2.5"
                 alt="icon" />
          </div>
        </div>
      </div>
    </section>
    <!-- HERO SECTION DESKTOP END -->
    <!-- DESKTOP TRAVEL NAVIGATION -->
    <section class="container__inner_layout pt-8 pb-5 tablet:hidden">
      <nav class="travel-info">
        <ul class="flex">
          <li class="tab active">Travel Info</li>
          <li class="tab">Travel Budget</li>
          <li class="tab">Change Request</li>
        </ul>
      </nav>
    </section>
    <!-- DESKTOP TRAVEL NAVIGATION END-->
    <!-- MOBILE TRAVEL NAVIGATION -->
    <section class="hidden w-full px-5 tablet:block">
      <nav class="my-5 travel-mobile-nav">
        <ul class="flex gap-3 text-sm text-primary font-bold">
          <li class="tablet:pb-1.5 tab active">Travel Info</li>
          <li class="tablet:pb-1.5 tab">Travel Budget</li>
          <li class="tablet:pb-1.5 tab">Travel Assist</li>
        </ul>
      </nav>
    </section>
    <!-- MOBILE TRAVEL NAVIGATION END -->
    <section class="container__inner_layout">
      <!-- TRAVEL INFO FORM -->
      <div class="tab-pane active">
        <h2 class="font-bold text-[30px] leading-[45px] text-primary mb-5 block tablet:hidden">Travel Info</h2>
        <p class="text-textPrimary text-sm text-justify tablet:text-xs tablet:leading-5">
          <span class="">If you're are looking to travel internationally but do not know where
            to begin, we at Prelate Travel are always more than happy to help you
          achieve your desire destination.</span>
          <span class="mobile:hidden">
            Here you will find the perfect
            starting point for booking any continental travel journey. Whether you
            are a novice or a more experienced traveller, research on your
            destination is always an essential part of planning your trip. So that
            is why Prelate Travel is here to hold your hand through the process of
            finding a perfect country to travel to. Simply fill the form provided
            below with the required details, in other for Prelate Travel to help
            you get to your interested destination.
          </span>
        </p>
        <div class="mt-20 tablet:mt-6">
          <div class="form-title">Travel Info</div>
          <form class="text-primary w-full pt-10 tablet:pt-6"
                method="POST"
                action="{% url 'travel-info' %}">
            {% csrf_token %}
            <div class="flex flex-col mb-5">
              <label for="" class="input-label flex justify-between">
                Country of origin
                <img src="{% static 'images/shaded-down-arrow.svg' %}"
                     class="shaded-down-arrow"
                     alt="" />
              </label>
              {% render_field travel_info_form.country_of_origin class="input-style" placeholder="----------" %}
            </div>
            <div class="flex flex-col mb-5">
              <label for="" class="input-label flex justify-between">
                Country of Destination
                <img src="{% static 'images/shaded-down-arrow.svg' %}"
                     class="shaded-down-arrow"
                     alt="" />
              </label>
              {% render_field travel_info_form.country_of_destination class="input-style" placeholder="----------" %}
            </div>
            <div class="flex flex-col mb-5">
              <label for="" class="input-label">Full Name</label>
              {% render_field travel_info_form.fullname class="input-style" placeholder="----------" %}
            </div>
            <div class="flex flex-col mb-5">
              <label for="" class="input-label">Phone Number</label>
              {% render_field travel_info_form.phonenumber class="input-style" placeholder="----------" %}
            </div>
            <div class="flex flex-col mb-5">
              <label for="" class="input-label">Email</label>
              {% render_field travel_info_form.email class="input-style" placeholder="----------" type="email" %}
            </div>
            <div class="flex flex-col mb-5">
              <label for="" class="input-label">Enquiry</label>
              {% render_field travel_info_form.enquiry class="text-area" placeholder="Write your detailed enquiry here" %}
            </div>
            <button class="submit-btn">Submit Form</button>
          </form>
        </div>
      </div>
      <!-- TRAVEL INFO FORM -->
      <!-- TRAVEL BUDGET FORM -->
      <div class="tab-pane hidden">
        <h2 class="font-bold text-[30px] leading-[45px] text-primary mb-5 block tablet:hidden">Travel Budget</h2>
        <p class="text-textPrimary text-sm text-justify tablet:text-xs tablet:leading-5">
          Simply fill the form provided below with the required details.
        </p>
        <div class="mt-20 tablet:mt-6">
          <div class="form-title">Travel Budget</div>
          <form class="text-primary w-full pt-10 tablet:pt-6"
                method="POST"
                action="{% url 'travel_budget' %}">
            {% csrf_token %}
            <div class="flex flex-col mb-5">
              <label for="" class="input-label flex justify-between">
                Country of origin
                <img src="{% static 'images/shaded-down-arrow.svg' %}"
                     class="shaded-down-arrow"
                     alt="" />
              </label>
              {% render_field travel_budget_form.country_of_origin class="input-style" placeholder="----------" %}
            </div>
            <div class="flex flex-col mb-5">
              <label for="" class="input-label flex justify-between">
                Country of Destination
                <img src="{% static 'images/shaded-down-arrow.svg' %}"
                     class="shaded-down-arrow"
                     alt="" />
              </label>
              {% render_field travel_budget_form.country_of_destination class="input-style" placeholder="----------" %}
            </div>
            <div class="flex flex-col mb-5">
              <label for="" class="input-label">Full Name</label>
              {% render_field travel_budget_form.fullname class="input-style" placeholder="----------" %}
            </div>
            <div class="flex flex-col mb-5">
              <label for="" class="input-label">Email Address</label>
              {% render_field travel_budget_form.email class="input-style" placeholder="----------" %}
            </div>
            <div class="flex flex-col mb-5">
              <label for="" class="input-label">One way/ Return ticket</label>
              {% render_field travel_budget_form.ticket_type class="input-style" placeholder="----------" %}
            </div>
            <div class="flex flex-col mb-5">
              <label for="" class="input-label">Ticket class</label>
              {% render_field travel_budget_form.ticket_class class="input-style" placeholder="----------" %}
            </div>
            <div class="flex flex-col mb-5">
              <label for="" class="input-label">No. of travellers</label>
              {% render_field travel_budget_form.no_of_travellers class="input-style" placeholder="No. of travellers e.g 1 Adult 2 Children" %}
            </div>
            <div class="flex flex-col mb-5">
              <label for="" class="input-label">Airport Pickup</label>
              {% render_field travel_budget_form.airport_pickup class="input-style" placeholder="----------" %}
            </div>
            <div class="flex flex-col mb-5">
              <label for="" class="input-label">Hotel Reservation</label>
              {% render_field travel_budget_form.hotel_reservation class="input-style" placeholder="----------" %}
            </div>
            <div class="flex flex-col mb-5">
              <label for="" class="input-label">Duration of stay</label>
              {% render_field travel_budget_form.duration_of_stay class="input-style" placeholder="e.g 2 Weeks, 90 days, 1 year" %}
            </div>
            <div class="flex flex-col mb-5">
              <label for="" class="input-label">Budget currency (USD/NGN)</label>
              {% render_field travel_budget_form.estimated_budget_currency class="input-style" placeholder="----------" %}
            </div>
            <div class="flex flex-col mb-5">
              <label for="" class="input-label">Your estimated budget amount</label>
              {% render_field travel_budget_form.estimated_budget_value class="input-style" placeholder="e.g 2000" type="number" %}
            </div>
            <button class="submit-btn">Submit Form</button>
          </form>
        </div>
      </div>
      <!-- TRAVEL BUDGET FORM END -->
      <!-- REQUEST CHANGE FORM -->
      <div class="tab-pane hidden">
        <h2 class="font-bold text-[30px] leading-[45px] text-primary mb-5 block tablet:hidden">Request Changes</h2>
        <p class="text-textPrimary text-sm text-justify tablet:text-xs tablet:leading-5">
          Is there any mistake you noticed in the services we've offered you? please reach out to us for corrections. Please always make sure to reach out to us earlier at least 72hrs before your travel date.
        </p>
        <div class="mt-20 tablet:mt-6">
          <div class="form-title">Request Changes</div>
          <form class="text-primary w-full pt-10 tablet:pt-6"
                method="POST"
                action="{% url 'request-change' %}">
            {% csrf_token %}
            <div class="flex flex-col mb-5">
              <label for="" class="input-label">Full Name</label>
              {% render_field request_change_form.fullname class="input-style" placeholder="----------" %}
            </div>
            <div class="flex flex-col mb-5">
              <label for="" class="input-label">Phone Number</label>
              {% render_field request_change_form.phonenumber class="input-style" placeholder="----------" %}
            </div>
            <div class="flex flex-col mb-5">
              <label for="" class="input-label">Email</label>
              {% render_field request_change_form.email class="input-style" placeholder="----------" type="email" %}
            </div>
            <div class="flex flex-col mb-5">
              <label for="" class="input-label">Enquiry</label>
              {% render_field request_change_form.request_info class="text-area" placeholder="Write your detailed request information here" %}
            </div>
            <button class="submit-btn">Submit Form</button>
          </form>
        </div>
      </div>
      <!-- REQUEST CHANGE FORM END -->
    </section>
    <!-- FOOTER -->
    {% include "latest/components/_footer.html" %}
    <!-- FOOTER -->
    <!-- SCRIPTS -->
    {% include "latest/partials/_scripts.html" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/datepicker.min.js"></script>
    <script src="{% static 'javascripts/sweetAlert.js' %}"></script>
    <script src="{% static 'javascripts/travelHelp.js' %}"></script>
    <!-- SCRIPTS -->
  </body>
</html>
