<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    {% load widget_tweaks %}
    {% include "latest/partials/_head.html" with add_title="Travel Insurance | Prelate Travels & Tours" %}
  </head>
  <body>
    <!-- HEADER -->
    {% include "latest/components/_header.html" %}
    <!-- CAROUSEL SECTION MOBILE -->
    {% include "latest/components/_mobile_carousel.html" %}
    <!-- CAROUSEL SECTION MOBILE END-->
    <!-- Hero Section  -->
    <section class="travel-insurance-hero h-[50vh] bg-no-repeat bg-cover bg-left-bottom tablet:h-[30vh]">
      <div class="flex items-end h-full">
        <div class="h-2/4 flex items-end gradient-blue w-full mobile:h-2/4">
          <div class="w-4/5 mx-auto mobile:w-full mobile:px-5">
            <h2 class="page-title">Travel Insurance</h2>
          </div>
        </div>
      </div>
    </section>
    <!-- Travel insurance form -->
    <section class="container__inner_layout">
      <div class="my-10 mobile:mt-5 mobile:mb-6">
        <p class="text-textPrimary text-sm leading-[27px] text-justify tablet:text-xs tablet:leading-6">
          Travelling for business or pleasure? Buy our general travel insurance,
          get your certificate and enjoy peace of mind.
        </p>
      </div>
      <div class="form-title">Get Insured</div>
      <form class="w-full pt-10 mobile:pt-6" method="POST" action="">
        {{ form.errors }} {{ form.non_field_errors }}
        {% csrf_token %}
        <div class="flex flex-col mb-5">
          <label for="" class="input-label flex justify-between">
            Country of origin
            <img src="{% static 'images/shaded-down-arrow.svg' %}"
                 class="shaded-down-arrow"
                 alt="" />
          </label>
          {% render_field form.country_of_origin class="input-style" placeholder="----------" %}
        </div>
        <div class="flex flex-col mb-5">
          <label for="" class="input-label flex justify-between">
            Country of Destination
            <img src="{% static 'images/shaded-down-arrow.svg' %}"
                 class="shaded-down-arrow"
                 alt="" />
          </label>
          {% render_field form.country_of_destination class="input-style" placeholder="----------" %}
        </div>
        <div class="flex flex-col mb-5">
          <label for="" class="input-label">Full Name</label>
          {% render_field form.fullname class="input-style" placeholder="----------" %}
        </div>
        <div class="flex flex-col mb-5">
          <label for="" class="input-label">Date of Birth</label>
          <div class="relative w-full">
            <div class="calendar">
              <img src="{% static 'images/calendar-icon.png' %}" class="h-4">
            </div>
            {% render_field form.dob class="input-style w-full" placeholder="mm/dd/yyyy" datepicker="true" %}
          </div>
        </div>
        <div class="flex flex-col mb-5">
          <label for="" class="input-label">Phone Number</label>
          {% render_field form.phonenumber class="input-style" placeholder="----------" %}
        </div>
        <div class="flex flex-col mb-5">
          <label for="" class="input-label">Email</label>
          {% render_field form.email class="input-style" placeholder="----------"  type="email" %}
        </div>
        <div class="flex flex-col mb-5">
          <label for="" class="input-label">Address</label>
          {% render_field form.address class="input-style" placeholder="----------" %}
        </div>
        <div class="flex flex-col mb-5">
          <label for="" class="input-label">Type of insurance</label>
          {% render_field form.insurance_type class="input-style" placeholder="----------" %}
        </div>
        <div class="flex flex-col mb-5">
          <label for="" class="input-label">Date of Arrival</label>
          <div class="relative w-full">
            <div class="calendar">
              <img src="{% static 'images/calendar-icon.png' %}" class="h-4">
            </div>
            {% render_field form.date_of_arrival class="input-style w-full" placeholder="mm/dd/yyyy" datepicker="true" %}
          </div>
        </div>
        <div class="flex flex-col mb-5">
          <label for="" class="input-label">Date of Departure</label>
          <div class="relative w-full">
            <div class="calendar">
              <img src="{% static 'images/calendar-icon.png' %}" class="h-4">
            </div>
            {% render_field form.date_of_departure class="input-style w-full" placeholder="mm/dd/yyyy" datepicker="true" %}
          </div>
        </div>
        <button class="submit-btn">Submit Form</button>
      </form>
    </section>
    <!-- FOOTER -->
    {% include "latest/components/_footer.html" %}
    <!-- FOOTER -->
    <!-- SCRIPTS -->
    {% include "latest/partials/_scripts.html" %}
    <script src="{% static 'javascripts/datepicker.js' %}"></script>
  </body>
</html>
