<!DOCTYPE html>
<html>
  <head>
  {% load static %}

    {% include "partials/_head.html" with add_title="Travel Help | Prelate Travels & Tours" %}

    <link rel="stylesheet" href="{% static 'stylesheets/select2.min.css' %}" />
    <style>
      .nav-link-tab {
        padding: 15px;
      }

      .nav-link-tab.active {
        color: #fff !important;
        background-color: #007bff !important;
        border-color: #007bff !important;
      }

      .search-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
      }

    </style>
  </head>
  <body>
    {% include "partials/components/_header.html" %}

    <section class="visa-where-would">
      <div class="container d-block">
        <p>
          Where would you like to travel to?
        </p>
        <div class="row mt-4 search-container">
          <div style="margin-bottom: 10px;" class="col-sm-10">
            <select required class="form-control select-country select-country-meta">
              {% if main_country %}
              <option selected value="{{ main_country.country_name }}">★ {{ main_country.country_name }}</option>
              {% else %}
              <option value="">--Select Country--</option>
              {% endif %} {% for country in countries %}
              <option value="{{ country.country_name }}">{{ country.country_name }}</option>
              {% endfor %}
            </select>
          </div>
          <!--
          <div class="col-sm-2">
            <button type="submit" class="btn btn-primary" style="display: block; width: 100%;">Search</button>
          </div>
          -->
        </div>
      </div>
    </section>

    <!-- Tab panes -->

    <section class="visa-assist-form flex-center-content bg-white">
      <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link nav-link-tab active" id="travel-info" href="#travel-info-" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Travel Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-tab" id="travel-budget" data-toggle="tab" href="#travel-budget-" role="tab" aria-controls="profile" aria-selected="false">Travel Budget</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-tab" id="travel-assist" data-toggle="tab" href="#travel-assist-" role="tab" aria-controls="messages" aria-selected="false">Travel Assist</a>
          </li>
        </ul>
        <br />
        <div class="row">
          <div class="col-lg-8 tab-content">
            <div class="tab-pane active" id="travel-info-" role="tabpanel" aria-labelledby="travel-info">
              <div class="travel-info-tab">
                <div class="mb-4 text-center">
                  <div>
                    <h3 class="visa-assist-form-heading mb-4 text-center">
                      Travel Info
                    </h3>
                    <p class="visa-assist-form-body mb-4">
                      If you're are looking to travel internationally but do not know where to begin, we at Prelate Travel are always more than happy to help you achieve your
                      desire destination.
                    </p>
                    <p class="visa-assist-form-body mb-4">
                      Here you will find the perfect starting point for booking any continental travel journey. Whether you are a novice or a more experienced traveller, research
                      on your destination is always an essential part of planning your trip.So that is why Prelate Travel is here to hold your hand through the process of finding a
                      perfect country to travel to.
                    </p>
                    <p class="visa-assist-form-body mb-4">
                      Simply <strong>fill the form</strong> provided below with the required details, in other for Prelate Travel to help you get to your interested destination.
                    </p>
                  </div>
                </div>

                <form onsubmit="event.preventDefault(); submitTravelInfo()" class="generic-form submit-travel-info-form">
                  <div class="generic-form--header">Travel Info Form</div>
                  <div class="generic-form--body">
                    <div class="form-group">
                      <label for="">Country of Origin</label>
                      <select id="origin" required class="form-control select-country">
                        <option value="">--Select Country--</option>
                        {% for country in countries %}
                        <option value="{{ country.country_name }}">{{ country.country_name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="">Country of Destination</label>
                      <select id="destination" required class="form-control select-country">
                        {% if main_country %}
                        <option selected value="{{main_country.country_name}}">★ {{ main_country.country_name }}</option>
                        {% else %}
                        <option value="">--Select Country--</option>
                        {% endif %} {% for country in countries %}
                        <option value="{{ country.country_name }}">{{ country.country_name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="">Full Name</label>
                      <input id="name" required type="text" class="form-control" placeholder="Full Name" />
                    </div>
                    <div class="form-group">
                      <label for="">Phone Number</label>
                      <input id="phoneNumber" required type="text" class="form-control" placeholder="Phone number" />
                    </div>
                    <div class="form-group">
                      <label for="">Email</label>
                      <input id="email" required type="email" class="form-control" placeholder="Email" />
                    </div>
                    <div class="form-group">
                      <label for="">Enquiry</label>
                      <textarea id="message" required class="form-control"></textarea>
                    </div>
                    <div class="form-group mt-2">
                      <button class="btn btn-primary d-block w-100">
                        Submit Form
                      </button>
                    </div>
                  </div>
                </form>
                <!--Submit Successful-->
                <form class="generic-form submit-travel-info-response">
                  <div class="generic-form--header">Travel Info Form</div>
                  <div class="generic-form--body">
                    <p>Your Travel Info Inquiry has been successfully submitted</p>
                  </div>
                </form>
                <!--End Submit-->
              </div>
            </div>
            <div class="tab-pane" id="travel-budget-" role="tabpanel" aria-labelledby="travel-budget">
              <div class="travel-assist-tab">
                <div class="mb-4 text-center">
                  <div>
                    <h3 class="visa-assist-form-heading mb-4 text-center">
                      Travel Budget Form
                    </h3>
                    <p class="visa-assist-form-body mb-4">
                      Simply fill the form provided below with the required details.
                    </p>
                  </div>
                </div>

                <form onsubmit="event.preventDefault(); submitTravelAssist()" class="generic-form submit-travel-assist-form">
                  <div class="generic-form--header">Travel Budget</div>
                  <div class="generic-form--body">
                    <div class="form-group">
                      <label for="">Country of Origin</label>
                      <select required id="origin" class="form-control select-country">
                        <option value="">--Select Country--</option>
                        {% for country in countries %}
                        <option value="{{ country.country_name }}">{{ country.country_name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="">Country of Destination</label>
                      <select required id="destination" class="form-control select-country">
                        {% if main_country %}
                        <option selected value="{{ main_country.country_name }}">★ {{ main_country.country_name }}</option>
                        {% else %}
                        <option value="">--Select Country--</option>
                        {% endif %} {% for country in countries %}
                        <option value="{{ country.country_name }}">{{ country.country_name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="">One way/ Return ticket</label>
                      <select class="form-control">
                        <option>One way</option>
                        <option>Return ticket</option>

                      </select>
                    </div>
                    <div class="form-group">
                      <label for="">Ticket class</label>
                      <select class="form-control">
                        <option>--Select--</option>
                        <option>First Class</option>
                        <option>Business Class</option>
                        <option>Economy Class</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="">No. of travellers</label>
                      <input required id="dob" type="number" class="form-control" placeholder="No. of travellers" />
                    </div>
                    <div class="form-group">
                      <label for="">Airport Pickup</label>
                      <select class="form-control">
                        <option>--Select--</option>
                        <option>Yes</option>
                        <option>No</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="">Hotel Reservation</label>
                      <select class="form-control">
                        <option>--Select--</option>
                        <option>Yes</option>
                        <option>No</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="">Duration of stay</label>
                      <input type="text" required class="form-control" placeholder="Duration"></input>
                    </div>

                    <div class="form-group">
                      <label for="">Your estimated budget ($- USD)</label>
                      <input required id="email" class="form-control" placeholder="Budget (USD)"></input>
                    </div>

                    <div class="form-group mt-2">
                      <button type="submit" class="btn btn-primary d-block w-100">
                        Submit Form
                      </button>
                    </div>
                  </div>
                </form>
                <!--Submit Successful-->
                
                <!--End Submit-->
              </div>

            </div>
            <div class="tab-pane" id="travel-assist-" role="tabpanel" aria-labelledby="travel-assit">
              <div class="travel-assist-tab">
                <div class="mb-4 text-center">
                  <div>
                    <h3 class="visa-assist-form-heading mb-4 text-center">
                      Travel Assist Form
                    </h3>
                    <p class="visa-assist-form-body mb-4">
                      Simply fill the form provided below with the required details.
                    </p>
                  </div>
                </div>

                <form onsubmit="event.preventDefault(); submitTravelAssist()" class="generic-form submit-travel-assist-form">
                  <div class="generic-form--header">Travel Assisance Form</div>
                  <div class="generic-form--body">
                    <div class="form-group">
                      <label for="">Country of Origin</label>
                      <select required id="Corigin" class="form-control select-country">
                        <option value="">--Select Country--</option>
                        {% for country in countries %}
                        <option value="{{ country.country_name }}">{{ country.country_name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="">Country of Destination</label>
                      <select required id="Cdestination" class="form-control select-country">
                        {% if main_country %}
                        <option selected value="{{ main_country.country_name }}">★ {{ main_country.country_name }}</option>
                        {% else %}
                        <option value="">--Select Country--</option>
                        {% endif %} {% for country in countries %}
                        <option value="{{ country.country_name }}">{{ country.country_name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="">Full Name</label>
                      <input required id="Cname" type="text" class="form-control" placeholder="Full Name" />
                    </div>
                    <div class="form-group">
                      <label for="">Date of Birth</label>
                      <input required id="Cdob" type="date" class="form-control" placeholder="Date of Birth" />
                    </div>
                    <div class="form-group">
                      <label for="">Phone Number</label>
                      <input required id="CphoneNumber" type="text" class="form-control" placeholder="Phone number" />
                    </div>
                    <div class="form-group">
                      <label for="">Email Address</label>
                      <input required id="Cemail" class="form-control" placeholder="Email Address"></input>
                    </div>

                    <div class="form-group mb-4">
                      <label for="">How can we assist you?</label>
                      <div class="row">
                        <div class="col-12">
                          <textarea required id="Cmessage" class="form-control"></textarea>
                        </div>
                      </div>
                    </div>

                    <div class="form-group mb-4">
                      <label for="">Upload Document</label>
                      <div class="row">
                        <div class="col-12">
                          <input required id="uploadDocument" type="file" name="" id="" class="form-control" />
                        </div>
                      </div>
                    </div>
                    <div class="form-group mt-2">
                      <button type="submit" class="btn btn-primary d-block w-100">
                        Submit Form
                      </button>
                    </div>
                  </div>
                </form>
                <!--Submit Successful-->
                <form class="generic-form submit-travel-assist-response">
                  <div class="generic-form--header">Travel Assistance Form</div>
                  <div class="generic-form--body">
                    <p>Your Travel Assistance Information has been successfully submitted</p>
                  </div>
                </form>
                <!--End Submit-->
              </div>
            </div>
          </div>
          <!--Country Information-->
          <div class="col-lg-4">
            <div class="row">
            <div class="card card-body">
              <h4>Info-section</h4>
              <hr />
              <span>Country: <b>{{ main_country.country_name }}</b> </span><br />
              <span>Capital city: <b>{{ main_country.capital_city }}</b></span
              ><br />
              <span>Currency: <b>{{ main_country.currency }}</b></span
              ><br />
              <span>Temp: <b>{{ main_country.temperature }}</b></span
              ><br />
              <img style="max-width: 300px;" src="{{  main_country.image_url }}" alt="" />
              <br />
              Other info: {{ main_country.information|safe }}
            </div>
          </div>
          </div>
          <!--End Country Information-->
          
        </div>
      </div>
    </section>

    {% include 'partials/components/_partners.html' %} {% include 'partials/components/_download.html' %} {% include 'partials/components/_footer.html' %}
    <br />
    {% include 'partials/_bottom.html' %}

    <script src="{% static 'javascripts/select2.full.min.js' %}"></script>
    <script>
      $(function () {
        $(".select-country").select2();
      });
    </script>
    <script>
      $(".select-country-meta").change(function () {
        window.location = "?country=" + $(this).val();
      });
    </script>

    <script>
      $(".submit-travel-info-response").toggle();
      $(".submit-travel-assist-response").toggle()


      //Travel Info
      function submitTravelInfo() {
        $(".submit-travel-info-form").toggle();
        $(".submit-travel-info-response").toggle();
        const body = {
          type: "travelInfo",
          origin: $(".submit-travel-info-form #origin").children("option:selected").val(),
          destination: $(".submit-travel-info-form #destination").children("option:selected").val(),
          name: $(".submit-travel-info-form #name").val(),
          phoneNumber: $(".submit-travel-info-form #phoneNumber").val(),
          email: $(".submit-travel-info-form #email").val(),
          message: $(".submit-travel-info-form #message").val(),
        };
        $.post("", body, function (data) {
          console.log(data);
        });
      }

      // Travel Assistance
      function submitTravelAssist(){
        $(".submit-travel-assist-form").toggle();
        $(".submit-travel-assist-response").toggle();

        const body = {
          type: "travelAssist",
          origin: $(".submit-travel-assist-form #Corigin").children("option:selected").val(),
          destination: $(".submit-travel-assist-form #Cdestination").children("option:selected").val(),
          name: $(".submit-travel-assist-form #Cname").val(),
          dob: $(".submit-travel-assist-form #Cdob").val(),
          phoneNumber: $(".submit-travel-assist-form #CphoneNumber").val(),
          email: $(".submit-travel-assist-form #Cemail").val(),
          message: $(".submit-travel-assist-form #Cmessage").val(),
          //uploadDocument: $(".submit-travel-assist-form #uploadDocument").prop('files')[0],
        };

        // $.ajax({
        //   url: "",
        //   type: "POST",
        //   data: body,
        //   cache: false,
        //   contentType: 'application/json',
        //   processData: false,
        //   success: function(data){
        //     console.log(data)
        //   }
        // })

        $.post("", body,  function(data){
          console.log(data)
        })

       
      }
    </script>
  </body>
</html>
