<!DOCTYPE html>
<html>
  <head>
    {% load static %}{% load widget_tweaks %} {% include "partials/_head.html" with add_title="Visa Assistance | Prelate Travels & Tours" %}
    <link rel="stylesheet" href="{% static 'stylesheets/select2.min.css' %}" />
  </head>
  <body>
    {% include "partials/components/_header.html" %}
    <section class="visa-where-would">
      <div class="container d-block">
        <p>
          Where would you like to travel to?
        </p>
        <div class="row mt-4">
          <select required class="form-control select-country select-country-meta">
            {% if main_country %}
            <option selected value="{{ main_country.country_name }}">★ {{ main_country.country_name }}</option>
            {% else %}
            <option value="">--Select Country--</option>
            {% endif %} {% for country in countries %}
            <option value="{{ country.country_name }}">{{ country.country_name }}</option>
            {% endfor %}
          </select>
          <!--
          <div class="col-sm-2">
            <button class="btn btn-primary" style="display: block; width: 100%;">Search</button>
          </div>
          -->
        </div>
      </div>
    </section>
    <section class="visa-assist-form">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="flex-center-content">
              <div>
                <h3 class="visa-assist-form-heading mb-4">
                  Visa Assistance
                </h3>
                <p class="visa-assist-form-body mb-4">
                  If you're are looking to travel internationally but do not know where to begin, we at Prelate Travel are always more than happy to help you achieve your desire
                  destination.
                </p>
                <p class="visa-assist-form-body mb-4">
                  Here you will find the perfect starting point for booking any continental travel journey. Whether you are a novice or a more experienced traveller, research on
                  your destination is always an essential part of planning your trip.So that is why Prelate Travel is here to hold your hand through the process of finding a
                  perfect country to travel to.
                </p>
                <p class="visa-assist-form-body">
                  Simply fill the form provided below with the required details, in other for Prelate Travel to help you get to your interested destination.
                </p>
              </div>
            </div>
          </div>
          <div class="offset-md-1 col-md-6">
            <form method="POST" action="{% url 'travel-assistance' %}" class="generic-form submit-travel-assist-form">
              {% csrf_token %}
              <div class="generic-form--header">Travel Assisance Form</div>
              <div class="generic-form--body">
                <div class="form-group">
                  <label for="">Country of Origin</label>
                  {% render_field travel_assistance_form.country_of_origin class="form-control" %}
                </div>
                <div class="form-group">
                  <label for="">Country of Destination</label>
                  {% render_field travel_assistance_form.country_of_destination class="form-control" %}
                </div>
                <div class="form-group">
                  <label for="">Full Name</label>
                  {% render_field travel_assistance_form.fullname class="form-control" placeholder="Full Name" %}
                </div>
                <div class="form-group">
                  <label for="">Date of Birth</label>
                  {% render_field travel_assistance_form.dob class="form-control" type="date" %}
                </div>
                <div class="form-group">
                  <label for="">Phone Number</label>
                  {% render_field travel_assistance_form.phonenumber class="form-control" placeholder="Phone Number" %}
                </div>
                <div class="form-group">
                  <label for="">Email Address</label>
                  {% render_field travel_assistance_form.email class="form-control" placeholder="Email" type="email" %}
                </div>

                <div class="form-group mb-4">
                  <label for="">How can we assist you?</label>
                  <div class="row">
                    <div class="col-12">
                      {% render_field travel_assistance_form.enquiry class="form-control" %}
                    </div>
                  </div>
                </div>

                <div class="form-group mb-4">
                  <label for="">Upload Document</label>
                  <div class="row">
                    <div class="col-12">
                      {% render_field travel_assistance_form.document class="form-control" %}
                    </div>
                  </div>
                </div>
                <div class="form-group mt-2">
                  <button type="submit" class="btn btn-primary d-block w-100">
                    Submit Form
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    {% include 'partials/components/_partners.html' %} {% include 'partials/components/_download.html' %} {% include 'partials/components/_footer.html' %}
    <br />
    {% include 'partials/_bottom.html' %}

    <script src="{% static 'javascripts/select2.full.min.js' %}"></script>
    <!--Sweet Alert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!--End Sweet Alert-->
    <script>
      $(function () {
        $(".select-country").select2();
      });
    </script>
    <script>
      $(".select-country-meta").change(function () {
        window.location = "?country=" + $(this).val();
      });
    </script>

    <script>
      const url = window.location.href;
      const splittedUrl = url.split("#");
      if (splittedUrl[1] == "submitted") {
        Swal.fire({
          html: "<h5>Your Enquriry has been submitted successfully!. <br/><b>We will reach out to you soonest.</b></h5>",
        });
      }
    </script>
  </body>
</html>
