<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    {% load widget_tweaks %}
    {% include "latest/partials/_head.html" with add_title="Visa Assistance | Prelate Travels & Tours" %}
    <link rel="stylesheet" href="{% static 'stylesheets/select2.min.css' %}" />
  </head>
  <body>
    <!-- HEADER SECTION -->
    {% include "latest/components/_header.html" %}
    <!-- HEADER SECTION END -->
    <!-- CAROUSEL SECTION MOBILE -->
    {% include "latest/components/_mobile_carousel.html" %}
    <!-- CAROUSEL SECTION MOBILE END-->
    <!-- HERO SECTION DESKTOP -->
    <section class="bg-no-repeat h-[60vh] bg-cover bg-bottom visa-hero tablet:h-[30vh]">
      <div class="flex items-end h-full">
        <div class="h-[70%] flex items-end gradient-blue w-full mobile:h-2/4">
          <div class="w-4/5 mx-auto mobile:w-full mobile:px-5">
            <h2 class="page-title">Visa</h2>
          </div>
        </div>
      </div>
    </section>
    <!-- HERO SECTION DESKTOP -->
    <!-- Travel insurance form -->
    <section class="container__inner_layout pb-16">
      <div class="my-10 mobile:mt-5 mobile:mb-6">
        <h2 class="font-bold text-[30px] text-primary mb-5 mobile:hidden">Visa Assistance</h2>
        <p class="text-textPrimary text-sm leading-[27px] text-justify tablet:text-xs tablet:leading-5">
          <span class="">If you're are looking to travel internationally but do not know where to begin, we at Prelate Travel are always
          more than happy to help you achieve your desire destination.</span>
          <span class="mobile:hidden">
            Here you will find the perfect starting point for booking any continental travel journey. Whether you are a
            novice or a more experienced traveller, research on your destination is always an essential part of planning
            your trip.So that is why Prelate Travel is here to hold your hand through the process of finding a perfect
            country to travel to.
            Simply fill the form provided below with the required details, in other for Prelate Travel to help you get to
          your interested destination.</span>
        </p>
      </div>
      <div class="form-title">Visa Assistance Form</div>
      <form class="w-full pt-10 mobile:pt-6" method="POST" action="">
        {{ form.errors }} {{ form.non_field_errors }}
        {% csrf_token %}
        <div id="accordion-collapse" data-accordion="collapse">
          {% comment %} APPLICANT INFORMATION {% endcomment %}
          <h2 id="applicant-info-heading">
            <button type="button"
                    class="flex items-center justify-between w-full p-5 font-medium text-left border border-b-0 border-gray-200 rounded-t-xl focus:ring-1 focus:ring-gray-200  hover:bg-gray-100"
                    data-accordion-target="#applicant-info-body"
                    aria-expanded="false"
                    aria-controls="applicant-info-body">
              <p class="text-primary font-semibold text-base tablet:text-sm">
                A. <span class="inline-block ml-3 mobile:ml-2">Applicant Information</span>
              </p>
              <svg data-accordion-icon
                   class="w-3 h-3 rotate-180 shrink-0 text-primary"
                   aria-hidden="true"
                   xmlns="http://www.w3.org/2000/svg"
                   fill="none"
                   viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
              </svg>
            </button>
          </h2>
          <div id="applicant-info-body"
               class="hidden"
               aria-labelledby="applicant-info-heading">
            <div class="p-5 border border-b-0 border-gray-200">
              <div class="flex flex-col mb-5">
                <label for="" class="input-label flex justify-between">
                  Title
                  <img src="{% static 'images/shaded-down-arrow.svg' %}"
                       class="shaded-down-arrow"
                       alt="" />
                </label>
                <select name="title" class="input-style">
                  <option value="">----------</option>
                  <option value="Mr">Mr</option>
                  <option value="Mrs">Mrs</option>
                  <option value="Miss">Miss</option>
                  <option value="Dr">Dr</option>
                  <option value="Chief">Chief</option>
                </select>
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">First Name</label>
                <input type="text"
                       name="firstname"
                       class="input-style"
                       placeholder="----------">
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">Middle Name</label>
                <input type="text"
                       name="middlename"
                       class="input-style"
                       placeholder="----------">
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">Surname</label>
                <input type="text"
                       name="surname"
                       class="input-style"
                       placeholder="----------">
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label flex justify-between">
                  Gender
                  <img src="{% static 'images/shaded-down-arrow.svg' %}"
                       class="shaded-down-arrow"
                       alt="" />
                </label>
                <select name="gender" id="" class="input-style">
                  <option value="">----------</option>
                  <option value="MALE">Male</option>
                  <option value="FEMALE">Female</option>
                </select>
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">Nationality</label>
                <input type="text"
                       name="nationality"
                       class="input-style"
                       placeholder="----------">
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label flex justify-between">
                  Marital Status
                  <img src="{% static 'images/shaded-down-arrow.svg' %}"
                       class="shaded-down-arrow"
                       alt="" />
                </label>
                <select name="marital_status" id="" class="input-style">
                  <option value="">----------</option>
                  <option value="SINGLE">Single</option>
                  <option value="ENGAGED">Engaged</option>
                  <option value="MARRIED">Married</option>
                  <option value="DIVORCED">Divorced</option>
                </select>
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">Date of Birth</label>
                <div class="relative w-full">
                  <div class="calendar">
                    <img src="{% static 'images/calendar-icon.png' %}" class="h-4">
                  </div>
                  <input type="date"
                         name="dob"
                         class="input-style w-full"
                         placeholder="dd/mm/yyyy"
                         datepicker
                         datepicker-format="yyyy-mm-dd"
                         datepicker-autohide>
                </div>
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">Tribe</label>
                <input type="text" name="tribe" class="input-style" placeholder="----------">
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">Email</label>
                <input type="email"
                       name="email"
                       class="input-style"
                       placeholder="----------">
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">Phone Number</label>
                <input type="text"
                       name="phone_number"
                       class="input-style"
                       placeholder="----------">
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">Permanent Address</label>
                <input type="text"
                       name="permanent_address"
                       class="input-style"
                       placeholder="----------">
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">Postal Address</label>
                <input type="text"
                       name="postal_address"
                       class="input-style"
                       placeholder="----------">
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">Alternative Phone Number</label>
                <input type="text"
                       name="alt_phone_number"
                       class="input-style"
                       placeholder="----------">
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">Passport Number</label>
                <input type="text"
                       name="passport_number"
                       class="input-style"
                       placeholder="----------">
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">Date of Issue</label>
                <div class="relative w-full">
                  <div class="calendar">
                    <img src="{% static 'images/calendar-icon.png' %}" class="h-4">
                  </div>
                  <input type="date"
                         name="date_of_issue"
                         class="input-style w-full"
                         placeholder="dd/mm/yyyy"
                         datepicker
                         datepicker-format="yyyy-mm-dd"
                         datepicker-autohide>
                </div>
              </div>
              <div class="flex flex-col mb-10">
                <label for="" class="input-label">Expiry Date</label>
                <div class="relative w-full">
                  <div class="calendar">
                    <img src="{% static 'images/calendar-icon.png' %}" class="h-4">
                  </div>
                  <input type="date"
                         name="date_of_expiry"
                         class="input-style w-full"
                         placeholder="dd/mm/yyyy"
                         datepicker
                         datepicker-format="yyyy-mm-dd"
                         datepicker-autohide>
                </div>
              </div>
              <div>
                <label for="" class="input-label">
                  Travel History: State the countries you've travelled to in the past 5 years and purpose (study, tourism, work, e.t.c)
                </label>
                <ul class="pl-7 list-lower-alpha text-primary">
                  <li>
                    <div class="flex flex-col mb-5">
                      <input type="text"
                             name="travel_info_[0]"
                             class="input-style"
                             placeholder="----------">
                    </div>
                  </li>
                  <li>
                    <div class="flex flex-col mb-5">
                      <input type="text"
                             name="travel_info_[1]"
                             class="input-style"
                             placeholder="----------">
                    </div>
                  </li>
                  <li>
                    <div class="flex flex-col mb-5">
                      <input type="text"
                             name="travel_info_[2]"
                             class="input-style"
                             placeholder="----------">
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          {% comment %} EDUCATIONAL HISTORY {% endcomment %}
          <h2 id="educational-history-heading">
            <button type="button"
                    class="flex items-center justify-between w-full p-5 font-medium text-left border border-b-0 border-gray-200 focus:ring-1 focus:ring-gray-200  hover:bg-gray-100"
                    data-accordion-target="#educational-history-body"
                    aria-expanded="false"
                    aria-controls="educational-history-body">
              <p class="text-primary font-semibold text-base tablet:text-sm">
                B. <span class="inline-block ml-3 mobile:ml-2">Educational History</span>
              </p>
              <svg data-accordion-icon
                   class="w-3 h-3 rotate-180 shrink-0 text-primary"
                   aria-hidden="true"
                   xmlns="http://www.w3.org/2000/svg"
                   fill="none"
                   viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
              </svg>
            </button>
          </h2>
          <div id="educational-history-body"
               class="hidden"
               aria-labelledby="educational-history-heading">
            <div class="p-5 border border-b-0 border-gray-200">
              <ul class="pl-7 list-upper-alpha text-primary">
                {% include "latest/components/_education.html" %}
                {% include "latest/components/_education.html" %}
                {% include "latest/components/_education.html" %}
              </ul>
            </div>
          </div>
          {% comment %} APPLICATION INFORMATION {% endcomment %}
          <h2 id="application-info-heading">
            <button type="button"
                    class="flex items-center justify-between w-full p-5 font-medium text-left border border-b-0 border-gray-200 focus:ring-1 focus:ring-gray-200  hover:bg-gray-100"
                    data-accordion-target="#application-info-body"
                    aria-expanded="false"
                    aria-controls="application-info-body">
              <p class="text-primary font-semibold text-base tablet:text-sm">
                C. <span class="inline-block ml-3 mobile:ml-2">Application Information</span>
              </p>
              <svg data-accordion-icon
                   class="w-3 h-3 rotate-180 shrink-0 text-primary"
                   aria-hidden="true"
                   xmlns="http://www.w3.org/2000/svg"
                   fill="none"
                   viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
              </svg>
            </button>
          </h2>
          <div id="application-info-body"
               class="hidden"
               aria-labelledby="application-info-heading">
            <div class="p-5 border border-b-0 border-gray-200">
              <div class="flex flex-col mb-5">
                <label for="" class="input-label flex justify-between">
                  Country Of Choice
                  <img src="{% static 'images/shaded-down-arrow.svg' %}"
                       class="shaded-down-arrow"
                       alt="" />
                </label>
                <select name="country" class="countries">
                  <option value="">--Select Country--</option>
                  {% for country in countries %}
                    <option value="{{ country.country_name }}">{{ country.country_name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">Others (If country of choice is not listed)</label>
                <input type="text"
                       class="input-style"
                       placeholder="----------"
                       name="country_not_listed">
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">Course Of Choice</label>
                <input type="text"
                       class="input-style"
                       placeholder="----------"
                       name="course">
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">Alternative Course</label>
                <input type="text"
                       class="input-style"
                       placeholder="----------"
                       name="alternative_course">
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">Province of Choice (If none, kindly ignore)</label>
                <input type="text"
                       class="input-style"
                       placeholder="----------"
                       name="province">
              </div>
            </div>
          </div>
          {% comment %} EMERGENCY CONTACT INFORMATION {% endcomment %}
          <h2 id="emergency-contact-heading">
            <button type="button"
                    class="flex items-center justify-between w-full p-5 font-medium text-left border border-b-0 border-gray-200 focus:ring-1 focus:ring-gray-200  hover:bg-gray-100"
                    data-accordion-target="#emergency-contact-body"
                    aria-expanded="false"
                    aria-controls="emergency-contact-body">
              <p class="text-primary font-semibold text-base tablet:text-sm">
                D. <span class="inline-block ml-3 mobile:ml-2">Emergency Contact</span>
              </p>
              <svg data-accordion-icon
                   class="w-3 h-3 rotate-180 shrink-0 text-primary"
                   aria-hidden="true"
                   xmlns="http://www.w3.org/2000/svg"
                   fill="none"
                   viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
              </svg>
            </button>
          </h2>
          <div id="emergency-contact-body"
               class="hidden"
               aria-labelledby="emergency-contact-heading">
            <div class="p-5 border border-b-0 border-gray-200">
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">Full Name</label>
                <input type="text"
                       class="input-style"
                       placeholder="----------"
                       name="fullname">
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label flex justify-between">
                  Gender
                  <img src="{% static 'images/shaded-down-arrow.svg' %}"
                       class="shaded-down-arrow"
                       alt="" />
                </label>
                <select name="gender" id="" class="input-style">
                  <option value="">----------</option>
                  <option value="MALE">Male</option>
                  <option value="FEMALE">Female</option>
                </select>
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">Relationship</label>
                <input type="text"
                       class="input-style"
                       placeholder="----------"
                       name="relationship">
              </div>
              <div class="flex flex-col mb-10">
                <label for="" class="input-label">Date of Birth</label>
                <div class="relative w-full">
                  <div class="calendar">
                    <img src="{% static 'images/calendar-icon.png' %}" class="h-4">
                  </div>
                  <input type="date"
                         name="date_of_birth"
                         class="input-style w-full"
                         placeholder="dd/mm/yyyy"
                         datepicker
                         datepicker-format="yyyy-mm-dd"
                         datepicker-autohide>
                </div>
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">Email Address</label>
                <input type="text"
                       class="input-style"
                       placeholder="----------"
                       name="email_address">
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">Phone Number</label>
                <input type="text"
                       class="input-style"
                       placeholder="----------"
                       name="phone_number">
              </div>
              <div class="flex flex-col mb-5">
                <label for="" class="input-label">Permanent Address</label>
                <input type="text"
                       class="input-style"
                       placeholder="----------"
                       name="permanent_address">
              </div>
            </div>
          </div>
          {% comment %} PARENT/GUARDIAN INFORMATION {% endcomment %}
          <h2 id="guardian-info-heading">
            <button type="button"
                    class="flex items-center justify-between w-full p-5 font-medium text-left border border-b-0 border-gray-200 focus:ring-1 focus:ring-gray-200  hover:bg-gray-100"
                    data-accordion-target="#guardian-info-body"
                    aria-expanded="false"
                    aria-controls="guardian-info-body">
              <p class="text-primary font-semibold text-base tablet:text-sm">
                E. <span class="inline-block ml-3 mobile:ml-2">Parent/Guardian Details</span>
              </p>
              <svg data-accordion-icon
                   class="w-3 h-3 rotate-180 shrink-0 text-primary"
                   aria-hidden="true"
                   xmlns="http://www.w3.org/2000/svg"
                   fill="none"
                   viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
              </svg>
            </button>
          </h2>
          <div id="guardian-info-body"
               class="hidden"
               aria-labelledby="guardian-info-heading">
            <div class="p-5 border border-b-0 border-gray-200">
              <ul class="pl-7 list-upper-alpha text-primary">
                <li>
                  <label for="" class="input-label">FATHER</label>
                  <div class="flex flex-col mb-5">
                    <label for="" class="input-label">Full Name</label>
                    <input type="text"
                           class="input-style"
                           placeholder="----------"
                           name="fullname">
                  </div>
                  <div class="flex flex-col mb-5">
                    <label for="" class="input-label flex justify-between">
                      Gender
                      <img src="{% static 'images/shaded-down-arrow.svg' %}"
                           class="shaded-down-arrow"
                           alt="" />
                    </label>
                    <select name="gender" id="" class="input-style">
                      <option value="">----------</option>
                      <option value="MALE">Male</option>
                      <option value="FEMALE">Female</option>
                    </select>
                  </div>
                  <div class="flex flex-col mb-5">
                    <label for="" class="input-label flex justify-between">
                      Marital Status
                      <img src="{% static 'images/shaded-down-arrow.svg' %}"
                           class="shaded-down-arrow"
                           alt="" />
                    </label>
                    <select name="marital_status" id="" class="input-style">
                      <option value="">----------</option>
                      <option value="SINGLE">Single</option>
                      <option value="ENGAGED">Engaged</option>
                      <option value="MARRIED">Married</option>
                      <option value="DIVORCED">Divorced</option>
                    </select>
                  </div>
                  <div class="flex flex-col mb-5">
                    <label for="" class="input-label">Date of Birth</label>
                    <div class="relative w-full">
                      <div class="calendar">
                        <img src="{% static 'images/calendar-icon.png' %}" class="h-4">
                      </div>
                      <input type="date"
                             name="date_of_birth"
                             class="input-style w-full"
                             placeholder="dd/mm/yyyy"
                             datepicker
                             datepicker-format="yyyy-mm-dd"
                             datepicker-autohide>
                    </div>
                  </div>
                  <div class="flex flex-col mb-5">
                    <label for="" class="input-label">Current Employment</label>
                    <input type="text"
                           class="input-style"
                           placeholder="----------"
                           name="current_employment">
                  </div>
                  <div class="flex flex-col mb-5">
                    <label for="" class="input-label">Permanent Address</label>
                    <input type="text"
                           class="input-style"
                           placeholder="----------"
                           name="permanent_address">
                  </div>
                </li>
                <li>
                  <label for="" class="input-label">MOTHER</label>
                  <div class="flex flex-col mb-5">
                    <label for="" class="input-label">Full Name</label>
                    <input type="text"
                           class="input-style"
                           placeholder="----------"
                           name="fullname">
                  </div>
                  <div class="flex flex-col mb-5">
                    <label for="" class="input-label flex justify-between">
                      Gender
                      <img src="{% static 'images/shaded-down-arrow.svg' %}"
                           class="shaded-down-arrow"
                           alt="" />
                    </label>
                    <select name="gender" id="" class="input-style">
                      <option value="">----------</option>
                      <option value="MALE">Male</option>
                      <option value="FEMALE">Female</option>
                    </select>
                  </div>
                  <div class="flex flex-col mb-5">
                    <label for="" class="input-label flex justify-between">
                      Marital Status
                      <img src="{% static 'images/shaded-down-arrow.svg' %}"
                           class="shaded-down-arrow"
                           alt="" />
                    </label>
                    <select name="marital_status" id="" class="input-style">
                      <option value="">----------</option>
                      <option value="SINGLE">Single</option>
                      <option value="ENGAGED">Engaged</option>
                      <option value="MARRIED">Married</option>
                      <option value="DIVORCED">Divorced</option>
                    </select>
                  </div>
                  <div class="flex flex-col mb-5">
                    <label for="" class="input-label">Date of Birth</label>
                    <div class="relative w-full">
                      <div class="calendar">
                        <img src="{% static 'images/calendar-icon.png' %}" class="h-4">
                      </div>
                      <input type="date"
                             name="date_of_birth"
                             class="input-style w-full"
                             placeholder="dd/mm/yyyy"
                             datepicker
                             datepicker-format="yyyy-mm-dd"
                             datepicker-autohide>
                    </div>
                  </div>
                  <div class="flex flex-col mb-5">
                    <label for="" class="input-label">Current Employment</label>
                    <input type="text"
                           class="input-style"
                           placeholder="----------"
                           name="current_employment">
                  </div>
                  <div class="flex flex-col mb-5">
                    <label for="" class="input-label">Permanent Address</label>
                    <input type="text"
                           class="input-style"
                           placeholder="----------"
                           name="permanent_address">
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="text-textPrimary text-sm leading-[27px] text-justify tablet:text-xs tablet:leading-5 mb-5 mt-4 ">
            <div class="flex gap-x-2.5">
              <input type="checkbox" class="inline-block mt-1.5" id="checkbox" checked>
              <div>
                <p class="mb-2">
                  I hereby declare that the information provided above and all documents sent is totally correct and should any negative outcome arise as a result of false information given by me, Prelate Travel Services Ltd is not liable and exempted from that.
                </p>
                <p>
                  I give Prelate Travel Services Ltd full consent to handle all my admission and visa process on my behalf and I undestand that Prelate Travels Services Ltd has no refund policies on all of it applications fees but has offered a reapplication policy in case of a negative outcome.
                </p>
              </div>
            </div>
            <p class="font-bold mt-2.5 text-primary">Note: (All documents are to be made available immediately after deposit)</p>
          </div>
          <button class="submit-btn">Submit Form</button>
        </form>
      </section>
      <!-- FOOTER -->
      {% include "latest/components/_footer.html" %}
      <!-- FOOTER -->
      <!-- SCRIPTS -->
      {% include "latest/partials/_scripts.html" %}
      <script src="{% static 'javascripts/select2.full.min.js' %}"></script>
      <script src="{% static 'javascripts/datepicker.js' %}"></script>
      {% comment %} <script src="{% static 'javascripts/jquery.js' %}"></script> {% endcomment %}
      <script src="{% static 'javascripts/test.js' %}"></script>
    </body>
  </html>
