{% load static %}
<section class="download-app-info">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="mobile-preview-application-mockup">
          <img src="{% static 'images/application-mobile-preview.png' %}" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="dowload-application-section">
          <p>Download Our Mobile App For Free On</p>
          <div class="download-app-container">
            <a> <img src="{% static 'images/download-google-store.png' %}" alt="Download app from google store" /> </a>
            <a> <img src="{% static 'images/download-apple-store.png' %}" alt="Download app from app store" /> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
